﻿@model IEnumerable<Candidate>

@{
   // var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}


<table id="assignedCandidateTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPeriod)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CurrentWages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedWages)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Features)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TotalITexperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionRelatedExperience)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.BriefPersonalInfomation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-controller="Candidates" asp-route-id="@item.Id" >
                  
                            @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Family)
                        </a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentWages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedWages)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Features)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalITexperience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PositionRelatedExperience)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.BriefPersonalInfomation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>


                </tr>
            }
        }
    </tbody>
</table>


