﻿@model HRMNet.Models.Positions.Position

@{
    ViewData["Title"] = "Delete";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Delete"]</h3>


                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h4>@sharedLocalizer["Are you sure you want to delete this?"]</h4>
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PositionName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PositionName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Customer.Name)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Customer.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Features)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Features)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PositionType)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PositionType)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MustToHave)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MustToHave)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.StartingDate)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.StartingDate)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.JobDescription)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.JobDescription)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ClosingDate)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ClosingDate)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ClosingOrSuspendingReason)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ClosingOrSuspendingReason)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ExistOnKariyer)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ExistOnKariyer)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ExistOnLinkedIn)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ExistOnLinkedIn)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ResponsibleMan)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ResponsibleMan)
                                </dd>

                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CreatorId)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CreatorId)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CreatedDateTime)
                                </dd>

                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ModifierId)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ModifierId)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ModifiedDateTime)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ModifiedDateTime)
                                </dd>

                            </dl>


                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="@sharedLocalizer["Delete"]" class="btn btn-danger" /> |
                                <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

