﻿@model HRMNet.Models.Positions.Position

@{
    ViewData["Title"] = "Edit";

    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";
    //var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "~/adminlte/plugins/datatables/tr.json" : "";
}

@section Styles
{
    <link href="~/adminlte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/tagit/tagit-simple-blue.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
             baseName: "SharedResource",
             location: "HRMNet");


}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">

                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="PositionName" class="control-label"></label>
                                                <input asp-for="PositionName" class="form-control" />
                                                <span asp-validation-for="PositionName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <label asp-for="CustomerId" class="control-label"></label>
                                                @Html.DropDownListFor(x => x.CustomerId, new SelectList(ViewBag.Customers, "Id", "Name"), " Select ...", new { @class = "form-control" })
                                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="ProjectName" class="control-label"></label>
                                                <input asp-for="ProjectName" class="form-control" />
                                                <span asp-validation-for="ProjectName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label asp-for="SelectedTypes" class="control-label"></label>
                                                <ul id="typesList" dir="ltr" name="SelectedTypes" style="border: 1px solid #ced4da; width: 100% !important;">
                                                </ul>
                                                <span asp-validation-for="SelectedTypes" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="SelectedFeatures" class="control-label"></label>
                                                <ul id="featuresList" dir="ltr" name="SelectedFeatures" style="border: 1px solid #ced4da; width: 100% !important;">
                                                </ul>
                                                <span asp-validation-for="SelectedFeatures" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="SelectedMandatoryFeatures" class="control-label"></label>
                                                <ul id="mandatoryfeaturesList" dir="ltr" name="SelectedMandatoryFeatures" style="border: 1px solid #ced4da; width: 100% !important;">
                                                </ul>
                                                <span asp-validation-for="SelectedMandatoryFeatures" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label asp-for="StartingDate" class="control-label"></label>
                                                <input asp-for="StartingDate" class="form-control" />
                                                <span asp-validation-for="StartingDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label asp-for="Status" class="control-label"></label>
                                                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<PositionStatus>()" class="form-control"></select>
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label asp-for="ResponsibleMan" class="control-label"></label>
                                                <input asp-for="ResponsibleMan" class="form-control" />
                                                <span asp-validation-for="ResponsibleMan" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row" id="closeContainer" style="display:none;">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label asp-for="ClosingDate" class="control-label"></label>
                                                <input asp-for="ClosingDate" class="form-control" />
                                                <span asp-validation-for="ClosingDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label asp-for="ClosingOrSuspendingReason" class="control-label"></label>
                                                <input asp-for="ClosingOrSuspendingReason" class="form-control" />
                                                <span asp-validation-for="ClosingOrSuspendingReason" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="JobDescription" class="control-label"></label>
                                                <textarea asp-for="JobDescription" class="form-control" rows="3"></textarea>
                                                <span asp-validation-for="JobDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                            <div class="col-12">
                                                <div class="form-group form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" asp-for="IsClosed" /> @Html.DisplayNameFor(model => model.IsClosed)
                                                    </label>
                                                </div>

                                            </div>
                                        </div>*@
                                    @*<div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label asp-for="ClosingDate" class="control-label"></label>
                                                    <input asp-for="ClosingDate" class="form-control" />
                                                    <span asp-validation-for="ClosingDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <label asp-for="ClosingOrSuspendingReason" class="control-label"></label>
                                                    <input asp-for="ClosingOrSuspendingReason" class="form-control" />
                                                    <span asp-validation-for="ClosingOrSuspendingReason" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="ExistOnKariyer" /> @Html.DisplayNameFor(model => model.ExistOnKariyer)
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="ExistOnLinkedIn" /> @Html.DisplayNameFor(model => model.ExistOnLinkedIn)
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <input type="hidden" name="checkedCandidates" id="checkedCandidates" />
                                            <br />

                                            <div class="card">
                                                <div class="card-header p-2">
                                                    <ul class="nav nav-pills">
                                                        <li class="nav-item"><a class="nav-link active" href="#suitableCandidateTab" data-toggle="tab">@sharedLocalizer["Suitable Candidate"]</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="#assignedCandidateTab" data-toggle="tab">@sharedLocalizer["Assigned Candidate"]</a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body">
                                                    <div class="tab-content">
                                                        <div class="active tab-pane" id="suitableCandidateTab">
                                                            <div class="row">
                                                                <div class="col-12">

                                                                    <input type="button" id="allFeatures" value="@sharedLocalizer["Fetch according to features"]" class="btn btn-success" />
                                                                    <input type="button" id="mandatoryFeatures" value="@sharedLocalizer["Fetch according to must to have"]" class="btn btn-info" />

                                                                </div>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <div id="suitCandidate">

                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.tab-pane -->
                                                        <div class="tab-pane" id="assignedCandidateTab">
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <partial name="_AssignedCandidate" model="@Model.CandidatePositions.Select(x=> x.Candidate)" />

                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.tab-pane -->


                                                    </div>
                                                    <!-- /.tab-content -->
                                                </div><!-- /.card-body -->
                                            </div>


                                            <div class="form-group">
                                                <input type="submit" value="@sharedLocalizer["Save"]" style="display: inline-block; width: 100px;" class="btn btn-lg btn-primary" />
                                                <a asp-action="Index" class="btn btn-lg btn-light" style="width: 100px;">@sharedLocalizer["Back"]</a>

                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {

    <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/tagit/tagit.js"></script>
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/blockui/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {



            $("#allFeatures").click(function () {
                $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
                var features = $('select[name="SelectedFeatures"]').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSuitableCandidate", "Positions")',
                    data: { "features": features,"positionId": @Model.Id},
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        $.unblockUI();
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            }
                            else {
                                window.location = '/login';
                            }
                        }
                        else if (status === 'error') {
                            alert('@sharedLocalizer["An Error Occured."]' + xhr.responseText);
                        }
                        else {
                            $('#suitCandidate').html(data); //
                            $('#suitableCandidateTable').DataTable({
                                language: {
                                    url: '@localization'
                                },
                                "responsive": {
                                    details: true
                                },
                            });
                        }
                    }
                });
            });

            $("#mandatoryFeatures").click(function () {
                $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
                var features = $('select[name="SelectedMandatoryFeatures"]').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSuitableCandidate", "Positions")',
                    data: { "features": features,"positionId": @Model.Id},
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        $.unblockUI();
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            }
                            else {
                                window.location = '/login';
                            }
                        }
                        else if (status === 'error') {
                            alert('@sharedLocalizer["An Error Occured."]' + xhr.responseText);
                        }
                        else {
                            $('#suitCandidate').html(data); //
                            $('#suitableCandidateTable').DataTable({
                                language: {
                                    url: '@localization'
                                },
                                "responsive": {
                                    details: true
                                },
                            });
                        }
                    }
                });
            });


            var featuresSource = @Html.Raw(Model.FeaturesSource);
            var typesSource=@Html.Raw(Model.TypesSource);
            var initialFeatures =@Html.Raw(Model.InitialFeature);
            var initialTypes =@Html.Raw(Model.InitialiType);

            var initialMandatoryFeatures =@Html.Raw(Model.InitialMandatoryFeature);

            $('#featuresList').tagit({
                tagSource: featuresSource,
                placeholder: '@sharedLocalizer["Enter Feature Name ..."]',
                select: true,
                triggerKeys: ['enter','comma', 'tab'],
                initialTags: initialFeatures,
                minTags: 1
            });

            $('#typesList').tagit({
                tagSource: typesSource,
                placeholder: '@sharedLocalizer["Enter Type Name ..."]',
                select: true,
                triggerKeys: ['enter', 'comma', 'tab'],
                initialTags: initialTypes,
                minTags:1
            });
            $('#mandatoryfeaturesList').tagit({
                tagSource: featuresSource,
                placeholder: '@sharedLocalizer["Enter Feature Name ..."]',
                select: true,
                triggerKeys: ['enter', 'comma', 'tab'],
                initialTags: initialMandatoryFeatures,
                minTags: 1
            });

            $('#Status').on('change', function () {
                var selectedValue = $(this).val();
                //alert(selectedValue);
                if (selectedValue == '@((int)PositionStatus.ClosedNegatively)' || selectedValue == '@((int)PositionStatus.ClosedPositively)' || selectedValue == '@((int)PositionStatus.Suspended)') {
                    $('#closeContainer').show();
                }
                else {
                    $('#closeContainer').hide();
                }
            });

            var candidates = [];

            $(document).on("change", "input[name='IsChecked']", function () {
                debugger;
                if ($(this).prop("checked") == true) {
                    candidates.push($(this).val());
                }
                else if ($(this).prop("checked") == false) {
                    candidates.splice($.inArray($(this).val(), candidates), 1);
                }

                $('#checkedCandidates').val(candidates);
            });


            $('#assignedCandidateTable').DataTable({
                    language: {
                        url: '@localization'
                    },
                    //"lengthChange": false,
                    //"searching": false,
                    "responsive": {
                        details: true
                    },
                    "scrollX": true,
                    //"scrollCollapse": true
                    //"columnDefs": [
                    //    { className: "td-text-left", targets: "_all" },
                    //    { width: "75px", targets: [0] },
                    //    { width: "75px", targets: [1] },
                    //    { width: "75px", targets: [2] },
                    //    //{ width: "200px", targets: [2] },
                    //    //{ width: "150px", targets: [3] },
                    //    { width: "40px", targets: [3] },
                    //    { width: "40px", targets: [4] },
                    //    { width: "140px", targets: [5] },
                    //    { width: "50px", targets: [6] },
                    //    { width: "50px", targets: [7] },
                    //]
                }).columns.adjust()
                .responsive.recalc();

        });
    </script>
}
