﻿@model IEnumerable<HRMNet.Models.Positions.Position>

@{
    ViewData["Title"] = "Index";

    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        .dataTables_filter {
            visibility: hidden;
        }
    </style>
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
            baseName: "SharedResource",
            location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Positions"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <a asp-action="Create" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a><br />

                            </div>
                        </div>
                        <div class="row" style="margin-left:3px; margin-bottom:10px;">
                            @sharedLocalizer["Search"]: <input type="text" id="search" style="display:inline-block; margin-right:5px;margin-left:1px;" />
                            <select id="table-filter">
                                <option value="100">@sharedLocalizer["All"]</option>
                                <option value="0">@sharedLocalizer["Position Name"]</option>
                                <option value="1">@sharedLocalizer["Customer Name"]</option>
                                <option value="2">@sharedLocalizer["Project Name"]</option>
                                @*<option value="2">Features</option>
                                    <option value="3">Must To Have</option>*@
                                <option value="3">@sharedLocalizer["Starting Date"]</option>
                                <option value="4">@sharedLocalizer["Status"]</option>
                                <option value="5">@sharedLocalizer["Job Description"]</option>

                            </select>
                        </div>
                        <table id="positionstable" class="table table-bordered table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PositionName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProjectName)
                                    </th>

                                    @*<th>
                                            @Html.DisplayNameFor(model => model.Features)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MustToHave)
                                        </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartingDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.JobDescription)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ClosingDate)
                                    </th>
                                    <th></th>

                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        //string features = "";
                                        //item.PositionFeatures.Select(x => x.Feature).ToList().ForEach(x => features += x.FeatureName + " ");
                                        //string mandatoryFeatures = "";
                                        //item.PositionMandatoryFeatures.Select(x => x.Feature).ToList().ForEach(x => mandatoryFeatures += x.FeatureName + " ");
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PositionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Customer.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProjectName)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => features)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => mandatoryFeatures)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartingDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JobDescription)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClosingDate)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" style="width:70px;margin-bottom:5px;">@sharedLocalizer["Edit"]</a>
                                                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="width:70px;">@sharedLocalizer["Delete"]</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {

            var table = $('#positionstable').DataTable({
                language: {
                    url: '@localization'
                },
                //"lengthChange": false,
                "searching": true,
                "responsive": {
                    details: true
                },
                //"responsive": {
                //    details: true
                //},
                //"scrollX": true,
                "scrollCollapse": true,
                //"columnDefs": [
                //    { className: "td-text-left", targets: "_all" },
                //    { width: "75px", targets: [0] },
                //    { width: "75px", targets: [1] },
                //    { width: "75px", targets: [2] },
                //    //{ width: "200px", targets: [2] },
                //    //{ width: "150px", targets: [3] },
                //    { width: "40px", targets: [3] },
                //    { width: "40px", targets: [4] },
                //    { width: "140px", targets: [5] },
                //    { width: "50px", targets: [6] },
                //    { width: "50px", targets: [7] },
                //]
            }).columns.adjust()
                .responsive.recalc();

            $('#table-filter').on('change', function () {
                debugger;

                var selectedColumn = $(this).val();
                var keySearch = $('#search').val();
                switch (selectedColumn) {
                    case '0':
                        table
                            .column(0)
                            .search(keySearch)
                            .draw();
                        break;
                    case '1':
                        table
                            .column(1)
                            .search(keySearch)
                            .draw();
                        break;
                    case '2':
                        table
                            .column(2)
                            .search(keySearch)
                            .draw();
                        break;
                    case '3':
                        table
                            .column(3)
                            .search(keySearch)
                            .draw();
                        break;
                    case '4':
                        table
                            .column(4)
                            .search(keySearch)
                            .draw();
                        break;
                    case '5':
                        table
                            .column(5)
                            .search(keySearch)
                            .draw();
                        break;
                    case '6':
                        table
                            .column(6)
                            .search(keySearch)
                            .draw();
                        break;
                    case '7':
                        table
                            .column(6)
                            .search(keySearch)
                            .draw();
                        break;
                    case '8':
                        table
                            .column(6)
                            .search(keySearch)
                            .draw();
                        break;
                    default:
                        table
                            .search(keySearch)
                            .draw();
                }

            });


            $('#search').on('keyup', function () {
                var selectedColumn = $('#table-filter').val();
                debugger;
                switch (selectedColumn) {
                    case '0':
                        table
                            .column(0)
                            .search(this.value)
                            .draw();
                        break;
                    case '1':
                        table
                            .column(1)
                            .search(this.value)
                            .draw();
                        break;
                    case '2':
                        table
                            .column(2)
                            .search(this.value)
                            .draw();
                        break;
                    case '3':
                        table
                            .column(3)
                            .search(this.value)
                            .draw();
                        break;
                    case '4':
                        table
                            .column(4)
                            .search(this.value)
                            .draw();
                        break;
                    case '5':
                        table
                            .column(5)
                            .search(this.value)
                            .draw();
                        break;
                    case '6':
                        table
                            .column(6)
                            .search(this.value)
                            .draw();
                        break;
                    case '7':
                        table
                            .column(6)
                            .search(this.value)
                            .draw();
                        break;
                    case '8':
                        table
                            .column(6)
                            .search(this.value)
                            .draw();
                        break;
                    default:
                        table
                            .search(this.value)
                            .draw();
                }

            });


        });

    </script>

}