﻿@model HRMNet.Models.Workflow.WorkflowStateDateTime

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WorkflowStateDateTime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CandidateId" class="control-label"></label>
                <select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateId"></select>
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <input asp-for="CreatorId" class="form-control" />
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByBrowserName" class="control-label"></label>
                <input asp-for="CreatedByBrowserName" class="form-control" />
                <span asp-validation-for="CreatedByBrowserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorIp" class="control-label"></label>
                <input asp-for="CreatorIp" class="form-control" />
                <span asp-validation-for="CreatorIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifierId" class="control-label"></label>
                <input asp-for="ModifierId" class="form-control" />
                <span asp-validation-for="ModifierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDateTime" class="control-label"></label>
                <input asp-for="ModifiedDateTime" class="form-control" />
                <span asp-validation-for="ModifiedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedByBrowserName" class="control-label"></label>
                <input asp-for="ModifiedByBrowserName" class="form-control" />
                <span asp-validation-for="ModifiedByBrowserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifierIp" class="control-label"></label>
                <input asp-for="ModifierIp" class="form-control" />
                <span asp-validation-for="ModifierIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
