﻿@model ReportSearchViewModel

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form id="search" asp-controller="Reports" asp-action="CustomerPositionDetailAnalyze" method="post">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" asp-for="StartDate" />
                                <input type="hidden" asp-for="EndDate" />
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="DateRange" class="control-label"></label>
                                        <input type="text" asp-for="DateRange" class="form-control input-sm" autocomplete="off">
                                        <span asp-validation-for="DateRange" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-secondary" style="margin-top:32px;" value="@sharedLocalizer["Search"]" />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CustomerId" class="control-label"></label>
                                        <select asp-for="CustomerId" asp-items="ViewBag.Customers" class="form-control">
                                            <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                        </select>
                                        @*@Html.DropDownListFor(x => x.CustomerId, new SelectList(ViewBag.Customers, "Id", "Name"), " Select ...", new { @class = "form-control" })*@
                                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="PositionId" class="control-label"></label>
                                        <select asp-for="PositionId" asp-items="ViewBag.Positions" class="form-control">
                                            <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                        </select>
                                        @*@Html.DropDownListFor(x => x.PositionId, new SelectList(new List<Position>(), "Id", "PositionName"), " Select ...", new { @class = "form-control" })*@
                                        <span asp-validation-for="PositionId" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>
    </div>
</section>