﻿@model ReportSearchViewModel

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
         baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form id="search" asp-controller="Reports" asp-action="AllCustomersPositions" method="post">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" asp-for="StartDate" />
                                <input type="hidden" asp-for="EndDate" />
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@{
                                                var range = string.Empty;
                                                if (Model.StartDate != null)
                                                {
                                                    range = string.Concat(Model.StartDate?.ToString("yyyy/MM/dd")," - ", Model.EndDate?.ToString("yyyy/MM/dd"));
                                                }
                                            }*@
                                        <label asp-for="DateRange" class="control-label"></label>
                                        <input type="text" asp-for="DateRange" class="form-control input-sm" autocomplete="off">
                                        <span asp-validation-for="DateRange" class="text-danger"></span>
                                    </div>
                                </div>


                                @*<div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="EndDate" class="control-label"></label>
                                            <input type="text" asp-for="EndDate" class="form-control input-sm" autocomplete="off">
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                    </div>*@
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-secondary" style="margin-top:32px;" value="@sharedLocalizer["Search"]" />

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>@sharedLocalizer["Type"]: </label><br />
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        @{
                                            var isPositionFalse = Model.IsPosition ? "" : "checked";
                                            var isPositionTrue = Model.IsPosition ? "checked" : "";
                                        }
                                        <label class="btn btn-info active">
                                            <input type="radio" name="IsPosition" id="type1" autocomplete="off" value="false" @isPositionFalse> @sharedLocalizer["All Customers"]
                                        </label>
                                        <label class="btn btn-info">
                                            <input type="radio" name="IsPosition" id="type2" autocomplete="off" value="true" @isPositionTrue> @sharedLocalizer["All Positions"]
                                        </label>

                                    </div>
                                </div>
                                <div class="col-md-4 float-md-left">
                                    <label>@sharedLocalizer["Chart Type"]: </label><br />
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        @{
                                            var isPie = Model.ChartType=="pie" || Model.ChartType =="" ? "checked" : "";
                                            var isBar = Model.ChartType == "bar" ? "checked" : "";
                                        }
                                        <label class="btn btn-info active">
                                            <input type="radio" name="ChartType" id="type3" autocomplete="off" value="pie" @isPie> @sharedLocalizer["Pie"]
                                        </label>
                                        <label class="btn btn-info">
                                            <input type="radio" name="ChartType" id="type4" autocomplete="off" value="bar" @isBar> @sharedLocalizer["Bar"]
                                        </label>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>
    </div>
</section>