﻿@model ChartViewModel

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
         baseName: "SharedResource",
        location: "HRMNet"); }

<div class="col-12">
    <div class="col-md-12">
        @{
            await Html.RenderPartialAsync("_DetailSearch", Model.Search);
        }
    </div>
    <div class="col-md-12">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">@sharedLocalizer["Customer/Position Detail Analysis"]</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <canvas id="pieChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span>
                                                    <b>
                                                        @sharedLocalizer["Elapsed time to hire specific position"]

                                                    </b>
                                                    <br />
                                                    <br />
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                @sharedLocalizer["Number of Phone Calls"]

                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" style="width: 100px;" id="input1" value="@Model.Detail.NumberOfPhoneCalls" disabled="disabled" /><br /><br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                @sharedLocalizer["Number of Candidate Shared with Customer"]

                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="input2" style="width: 100px;" value="@Model.Detail.SharedWithCustomer" disabled="disabled" /><br /><br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                @sharedLocalizer["Number of Customer's meetings"]

                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="input3" style="width: 100px;" value="@Model.Detail.CustomerChoosen" disabled="disabled" /><br /><br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                @sharedLocalizer["Number of Candidates Offered & Customer Positive viewed"]

                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="input4" style="width:100px;" value="@Model.Detail.CustomerOffered" disabled="disabled" /><br /><br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                @sharedLocalizer["Recruitment Effort (Person/Day)"]

                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="input5" style="width: 100px;" value="@Model.Detail.RecruitmentEffort" disabled="disabled" /><br /><br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <span class="text-danger">@Model.Message</span>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                @*<canvas id="pie-chart"></canvas>*@

                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            var pieChartCanvas1 = $('#pieChart1').get(0).getContext('2d');
            var pieData1 = @Html.Raw(Model.SerializedChart1);
            var options1 = {
                //indexAxis: 'y',
                responsive: true,
                maintainAspectRatio: false,
                "legend": {
                    display: false
                },
                tooltips: {
                    enabled: true
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            };

            new Chart(pieChartCanvas1,
                {
                    type: 'horizontalBar',
                    data: pieData1,
                    options: options1
                });

            $('#DateRange').daterangepicker({
                    ranges: {
                        '@sharedLocalizer["Last 7 Days"]': [moment().subtract(6, 'days'), moment()],
                        '@sharedLocalizer["Last 30 Days"]': [moment().subtract(29, 'days'), moment()],
                        '@sharedLocalizer["This Month"]': [moment().startOf('month'), moment().endOf('month')],
                        '@sharedLocalizer["Last Month"]': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                        '@sharedLocalizer["This Quarter"]': [moment().subtract(6, 'days'), moment()],
                        '@sharedLocalizer["Last Quarter"]': [moment().subtract(29, 'days'), moment()],
                        '@sharedLocalizer["This Year"]': [moment().startOf('year'), moment().endOf('year')],
                        '@sharedLocalizer["Last Year"]': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                    },
                    locale: {
                        "format": "MM/DD/YYYY",
                        "separator": " - ",
                        "applyLabel": "@sharedLocalizer["Apply"]",
                        "cancelLabel": "@sharedLocalizer["Cancel"]",
                        "fromLabel": "@sharedLocalizer["From"]",
                        "toLabel": "@sharedLocalizer["To"]",
                        "customRangeLabel": "@sharedLocalizer["Custom"]",
                        "weekLabel": "@sharedLocalizer["W"]",
                        "daysOfWeek": [
                            "@sharedLocalizer["Su"]",
                            "@sharedLocalizer["Mo"]",
                            "@sharedLocalizer["Tu"]",
                            "@sharedLocalizer["We"]",
                            "@sharedLocalizer["Th"]",
                            "@sharedLocalizer["Fr"]",
                            "@sharedLocalizer["Sa"]"
                        ],
                        "monthNames": [
                            "@sharedLocalizer["January"]",
                            "@sharedLocalizer["February"]",
                            "@sharedLocalizer["March"]",
                            "@sharedLocalizer["April"]",
                            "@sharedLocalizer["May"]",
                            "@sharedLocalizer["June"]",
                            "@sharedLocalizer["July"]",
                            "@sharedLocalizer["August"]",
                            "@sharedLocalizer["September"]",
                            "@sharedLocalizer["October"]",
                            "@sharedLocalizer["November"]",
                            "@sharedLocalizer["December"]"
                        ],
                        "firstDay": 1
                    },
                    locale: {
                        "format": "MM/DD/YYYY",
                        "separator": " - ",
                        "applyLabel": "@sharedLocalizer["Apply"]",
                        "cancelLabel": "@sharedLocalizer["Cancel"]",
                        "fromLabel": "@sharedLocalizer["From"]",
                        "toLabel": "@sharedLocalizer["To"]",
                        "customRangeLabel": "@sharedLocalizer["Custom"]",
                        "weekLabel": "@sharedLocalizer["W"]",
                        "daysOfWeek": [
                            "@sharedLocalizer["Su"]",
                            "@sharedLocalizer["Mo"]",
                            "@sharedLocalizer["Tu"]",
                            "@sharedLocalizer["We"]",
                            "@sharedLocalizer["Th"]",
                            "@sharedLocalizer["Fr"]",
                            "@sharedLocalizer["Sa"]"
                        ],
                        "monthNames": [
                            "@sharedLocalizer["January"]",
                            "@sharedLocalizer["February"]",
                            "@sharedLocalizer["March"]",
                            "@sharedLocalizer["April"]",
                            "@sharedLocalizer["May"]",
                            "@sharedLocalizer["June"]",
                            "@sharedLocalizer["July"]",
                            "@sharedLocalizer["August"]",
                            "@sharedLocalizer["September"]",
                            "@sharedLocalizer["October"]",
                            "@sharedLocalizer["November"]",
                            "@sharedLocalizer["December"]"
                        ],
                        "firstDay": 1
                    },
                autoUpdateInput: false,
                    //startDate: moment().startOf('month'),
                    //endDate: moment().endOf('month')
                    //autoApply: true
                    //autoUpdateInput: true,

            }
            );
                //function(start, end) {
                //    // alert('aaaa');
                //    $('#StartDate').val(start.format('YYYY/MM/DD'));
                //    $('#EndDate').val(end.format('YYYY/MM/DD'))
                //});

                $('#DateRange').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                });

            $('#DateRange').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

            $('#CustomerId').on('change', function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCustomersPositions", "Positions")',
                    data: { "id":this.value},
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            }
                            else {
                                window.location = '/login';
                            }
                        }
                        else if (status === 'error' || !data) {
                            alert('@sharedLocalizer["An Error Occured."]');
                        }
                        else {


                            $('select[name=PositionId] > option').remove();
                            $('select[name=PositionId]')
                                .append($("<option></option>")
                                    .attr("value", '0')
                                    .text(' @sharedLocalizer["Select ..."]'));

                            $.each(xhr.responseJSON, function () {
                                $('select[name=PositionId]')
                                    .append($("<option></option>")
                                        .attr("value", this.value)
                                        .text(this.text));
                            });  // populating result
                        }
                    }
                });
            });
        });
    </script>
}