﻿@using System.Linq
@model PrecandidateEvaluateAnalysisViewModel

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");

    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";


}

@section Styles
{
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        td.details-control {
            background: url('/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/images/details_close.png') no-repeat center center;
        }
    </style>
}
<div class="col-md-12">
    @{
        await Html.RenderPartialAsync("_EvaluationSearch", Model.Search);
    }
</div>
<div class="col-md-12">
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="pieChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            <br/>
                            <br/>
                            <table id="recruiterTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Recruiters.FirstOrDefault().Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Recruiters.FirstOrDefault().Count)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Recruiters)
                                    {
                                        <tr>
                                            <td class="details-control">
                                                @Html.HiddenFor(modelItem => item.Id)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Count)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>

            </div>

        </div>
    </section>

</div>



@section Scripts
{

    @*<script type="text/javascript" src="~/adminlte/plugins/chart.js/Chart.bundle.min.js" asp-append-version="true"></script>*@
    <script type="text/javascript" src="~/adminlte/plugins/chart.js/chartjs-plugin-labels.min.js" asp-append-version="true"></script>
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        function format(d, row, date) {
            $.ajax({
                type: "POST",
                async: false,
                url: "/Reports/GetRecruiterCandidateAnlysis",
                //contentType: "application/json;charset=utf-8",
                data: { id: d, date: date },
                //dataType: "json",
                success: function (result) {
                    row.child(result).show();
                    return result;

                },
                error: function (response) {
                    //$.unblockUI();
                    //return "";
                    alert('@sharedLocalizer["Fetching Leaves got error"]');
                }
            });
        }

        $(document).ready(function () {

            //var table = $('#recruiterTable');

            var table = $('#recruiterTable').DataTable({
                language: {
                    url: '@localization'
                },
            });

            $('#recruiterTable tbody').on('click', 'td.details-control', function () {


                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var id = tr.find('#item_Id').val();
                var date = $('#SingleDate').val();

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    debugger;
                    // Open this row
                    format(id, row,date);
                    tr.addClass('shown');

                }
            });

            //$('#SingleDate').daterangepicker({
            //    "locale": {
            //        "format": "MM/DD/YYYY",
            //        "separator": " - ",
            //        "applyLabel": "Apply",
            //        "cancelLabel": "Cancel",
            //        "fromLabel": "From",
            //        "toLabel": "To",
            //        "customRangeLabel": "Custom",
            //        "weekLabel": "W",
            //        "daysOfWeek": [
            //            "Su",
            //            "Mo",
            //            "Tu",
            //            "We",
            //            "Th",
            //            "Fr",
            //            "Sa"
            //        ],
            //        "monthNames": [
            //            "January",
            //            "February",
            //            "March",
            //            "April",
            //            "May",
            //            "June",
            //            "July",
            //            "August",
            //            "September",
            //            "October",
            //            "November",
            //            "December"
            //        ],
            //        "firstDay": 1
            //    },
            //    singleDatePicker: true,
            //    //showDropdowns: true,
            //    //minYear: 1901,
            //    //maxYear: parseInt(moment().format('YYYY'),10)
            ////}, function(start, end, label) {
            ////    var years = moment().diff(start, 'years');
            ////    alert("You are " + years + " years old!");
            //    function(start, end) {
            //        // alert('aaaa');
            //        $('#StartDate').val(start.format('MM/DD/YYYY'));
            //    }
            //});



            var pieChartCanvas1 = $('#pieChart1').get(0).getContext('2d');
            var pieData1 = @Html.Raw(Model.Chart.SerializedChart1);

            var options = {
                responsive: true,
                maintainAspectRatio: false,
                "plugins": {
                    labels: false
                },
                "title": {
                    display: false
                },
                "legend": {
                    display: true
                },
                "tooltips": {
                    mode: 'index',
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                "animation": {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index];
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                }
            }

            //var options;
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            new Chart(pieChartCanvas1,
                {
                    type: 'bar',
                    data: pieData1,
                    options: options
                });

        });

    </script>
}
