﻿@model ChartViewModel


@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<div class="col-12">
    <div class="col-md-12">
        @{
            await Html.RenderPartialAsync("_RecruiterTargetSearch", Model.Search);
        }
    </div>
    <section class="col-md-12">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">@sharedLocalizer["Rate of Achievement of Goals"]</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="pieChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

@section Scripts
{
    @*<script type="text/javascript" src="~/adminlte/plugins/chart.js/Chart.bundle.min.js" asp-append-version="true"></script>*@
    <script type="text/javascript" src="~/adminlte/plugins/chart.js/chartjs-plugin-labels.min.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $('#DateRange').daterangepicker({
                    ranges: {
                        '@sharedLocalizer["Last 7 Days"]': [moment().subtract(6, 'days'), moment()],
                        '@sharedLocalizer["Last 30 Days"]': [moment().subtract(29, 'days'), moment()],
                        '@sharedLocalizer["This Month"]': [moment().startOf('month'), moment().endOf('month')],
                        '@sharedLocalizer["Last Month"]': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                        '@sharedLocalizer["This Quarter"]': [moment().subtract(6, 'days'), moment()],
                        '@sharedLocalizer["Last Quarter"]': [moment().subtract(29, 'days'), moment()],
                        '@sharedLocalizer["This Year"]': [moment().startOf('year'), moment().endOf('year')],
                        '@sharedLocalizer["Last Year"]': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                    },
                    locale: {
                        "format": "MM/DD/YYYY",
                        "separator": " - ",
                        "applyLabel": "@sharedLocalizer["Apply"]",
                        "cancelLabel": "@sharedLocalizer["Cancel"]",
                        "fromLabel": "@sharedLocalizer["From"]",
                        "toLabel": "@sharedLocalizer["To"]",
                        "customRangeLabel": "@sharedLocalizer["Custom"]",
                        "weekLabel": "@sharedLocalizer["W"]",
                        "daysOfWeek": [
                            "@sharedLocalizer["Su"]",
                            "@sharedLocalizer["Mo"]",
                            "@sharedLocalizer["Tu"]",
                            "@sharedLocalizer["We"]",
                            "@sharedLocalizer["Th"]",
                            "@sharedLocalizer["Fr"]",
                            "@sharedLocalizer["Sa"]"
                        ],
                        "monthNames": [
                            "@sharedLocalizer["January"]",
                            "@sharedLocalizer["February"]",
                            "@sharedLocalizer["March"]",
                            "@sharedLocalizer["April"]",
                            "@sharedLocalizer["May"]",
                            "@sharedLocalizer["June"]",
                            "@sharedLocalizer["July"]",
                            "@sharedLocalizer["August"]",
                            "@sharedLocalizer["September"]",
                            "@sharedLocalizer["October"]",
                            "@sharedLocalizer["November"]",
                            "@sharedLocalizer["December"]"
                        ],
                        "firstDay": 1
                    },
                autoUpdateInput: false,
                    //startDate: moment().startOf('month'),
                    //endDate: moment().endOf('month')
                    //autoApply: true
                    //autoUpdateInput: true,

            }
                //,
                //function(start, end) {
                //    // alert('aaaa');
                //    $('#StartDate').val(start.format('YYYY/MM/DD'));
                //    $('#EndDate').val(end.format('YYYY/MM/DD'));
                //}
            );

            $('#DateRange').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('#DateRange').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

            var pieChartCanvas1 = $('#pieChart1').get(0).getContext('2d');
            var pieData1 = @Html.Raw(Model.SerializedChart1);
            var options1 = {
                responsive: true,
                maintainAspectRatio: false,
                "plugins": {
                    labels: false
                },
                "title": {
                    display: false
                },
                "legend": {
                    display: false
                },
                "tooltips": {
                    mode: 'index',
                    intersect: true
                },
                "animation": {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index];
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                }
            };

            new Chart(pieChartCanvas1,
                {
                    type: 'bar',
                    data: pieData1,
                    options: options1
                });

        });
    </script>
}


