﻿@{ ViewData["Title"] = "Confirm forgotten password"; }

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
       location: "HRMNet"); }

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        @sharedLocalizer["Please check your mail box for recovery password email"]
        
        <partial name="_PickupFolder" />
    </div>
</div>