﻿@{
    ViewData["Title"] = "Confirm changing password";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        @sharedLocalizer["Your password have been changed. For login click"]
        <a asp-controller="Login" asp-action="Index">@sharedLocalizer["here"]</a>.
    </div>
</div>