﻿@model Candidate
@{
    Layout = "";

    string positions = "";
    Model.CandidatePositions.Select(x => x.Position).ToList().ForEach(x => positions += x.PositionName + " ");


}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
         baseName: "SharedResource",
         location: "HRMNet"); }
<td>
    @Html.DisplayFor(modelItem => Model.Name) @Html.DisplayFor(modelItem => Model.Family)
</td>
<td>@Html.DisplayFor(modelItem => Model.Telephone)</td>
<td>@Html.DisplayFor(modelItem => Model.Email)</td>
<td>@positions</td>
<td>@Html.DisplayFor(modelItem => Model.Status)</td>
<td>

    <security-trimming asp-controller="Staffs" asp-action="EditDocuments">
        <a asp-action="EditDocuments" style="width: 210px; margin-bottom: 2px;" class="btn btn-warning" asp-route-id="@Model.Id">@sharedLocalizer["Uploaded Documents"] </a>
    </security-trimming>
    <security-trimming asp-controller="Staffs" asp-action="RevertToStaff">
        <form method="post" style="display: inline-block;"
              asp-controller="Staffs"
              asp-action="RevertToStaff"
              role="form">

            <input name="id" value="@Model.Id" type="hidden" />
            @if (Model.Status == CandidateStatus.VitelcoStuff)
            {
                <input name="approved" value="false" type="hidden" />
                <button type="submit" class="btn btn-success">
                    @sharedLocalizer["Turn To Vitelco Employee"]

                    <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                </button>
            }
            else
            {
                <input name="approved" value="true" type="hidden" />
                <button type="submit" class="btn btn-danger">
                    @sharedLocalizer["Turn To Vitelco Employee"]

                    <span aria-hidden="true" class="fas fa-thumbs-down"></span>
                </button>
            }
        </form>
    </security-trimming>
</td>
