﻿@model IEnumerable<CandidateInventory>
@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet" );
}

<table id="inventoriestable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.InventoryType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.InventoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.SerialNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OperationType)
            </th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Inventory.InventoryType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inventory.InventoryNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inventory.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inventory.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inventory.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperationType)
                    </td>

                    <td>
                        <security-trimming asp-controller="CandidateInventories" asp-action="Edit">
                        <a asp-action="Edit" asp-controller="CandidateInventories" asp-route-id="@item.Id">@sharedLocalizer["Edit"]</a>
                        </security-trimming>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
