﻿@model IEnumerable<Leaves>

@{
    var totalLegalLeave = Model.Sum(z => z.LeaveType == LeaveType.Legal ? (z.EndDate - z.StartDate).TotalHours : 0);
    var totalDayOffLeave = Model.Sum(z => z.LeaveType == LeaveType.Dayoff ? (z.EndDate - z.StartDate).TotalHours : 0);
    var totalLeave = totalLegalLeave + totalDayOffLeave;

    double CalculateLeavesHours(double hours)
    {
        if (hours > 9 && hours <= 24)
        {
            return 1;

        }
        else if (hours > 24)
        {
            double days = 0;
            days = Math.Floor(hours / 24);
            //Math.DivRem(int.Parse(Math.Abs(hours)), 24, out days);
            double mod = hours % 24;
            double calculatedHours = (days * 8) + mod;
            return (calculatedHours / 8);

        }
        else
        {
            return (hours / 8);
        }

    }


}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory1
@{
    var sharedLocalizer1 = HtmlLocalizerFactory1.Create(
                baseName: "SharedResource",
                location: "HRMNet");
}
<div style="margin-bottom:10px;">
    @sharedLocalizer1["Legal Leave"]: @CalculateLeavesHours(totalLegalLeave).ToString("0.00") , @sharedLocalizer1["DayOff Leave"] : @CalculateLeavesHours(totalDayOffLeave).ToString("0.00") <br /> <b>@sharedLocalizer1["Total (Day)"]: @CalculateLeavesHours(totalLeave).ToString("0.00")</b>
</div>
<table id="leavestable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PermissionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType)
                    </td>

                    <td>
                        <security-trimming asp-controller="Leaves" asp-action="Edit">
                            <a asp-action="Edit" asp-controller="Leaves" asp-route-id="@item.Id">@sharedLocalizer1["Edit"]</a>
                        </security-trimming>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>