﻿@model Candidate
@{
    Layout = "";
    string positions = "";
    Model.CandidatePositions.Select(x => x.Position).ToList().ForEach(x => positions += x.PositionName + " ");

}
@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");
}
<td>
    @Html.DisplayFor(modelItem => Model.Name) @Html.DisplayFor(modelItem => Model.Family)
</td>
<td>@Html.DisplayFor(modelItem => Model.Telephone)</td>
<td>@Html.DisplayFor(modelItem => Model.Email)</td>
<td>@Html.DisplayFor(modelItem => positions)</td>
<td>@Html.DisplayFor(modelItem => Model.Status)</td>
<td>
    <security-trimming asp-controller="Staffs" asp-action="StaffDetails">
        <a asp-action="StaffDetails" class="btn btn-warning" asp-route-id="@Model.Id">@sharedLocalizer["Detail"]</a>
    </security-trimming>
</td>
