﻿@model Candidate

@{

    string positions = "";
    Model.CandidatePositions.Select(x => x.Position).ToList().ForEach(x => positions += x.PositionName + " ");

}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");

    var fileInputLocalization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "tr" : "en";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/bootstrapfileinput/fileinput.css" />
    <link rel="stylesheet" href="~/js/bootstrapfileinput/themes/explorer-fas/theme.css" />
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.css">
    <style>

        span.field-validation-error {
            color: red;
        }
    </style>
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Documents"]</h3>
                    </div>
                    <form asp-action="EditDocuments" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">

                            <div class="row">
                                <div class="col-3">

                                    <div class="form-group">
                                        <input asp-for="Id" type="hidden" class="form-control" />
                                        <label asp-for="NameAlone" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" readonly="readonly" />
                                    </div>

                                </div>
                                <div class="col-3">

                                    <div class="form-group">

                                        <label asp-for="Family" class="control-label"></label>
                                        <input asp-for="Family" class="form-control" readonly="readonly" />
                                    </div>

                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Telephone" class="control-label"></label>
                                        <input asp-for="Telephone" class="form-control" readonly="readonly" />

                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" readonly="readonly" />

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label asp-for="Positions" class="control-label"></label>
                                        <input class="form-control" readonly="readonly" value="@positions" />
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Status" class="control-label"></label>
                                        <input asp-for="StatusName" class="form-control" readonly="readonly" />
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input id="files" name="files" type="file" multiple>


                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" id="submit" class="btn btn-primary">@sharedLocalizer["Save"]</button>
                            <a asp-action="Documents" class="btn btn-default">@sharedLocalizer["Cancel"]</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrapfileinput/plugins/piexif.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/fileinput.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/locales/tr.js"></script>
    <script src="~/js/bootstrapfileinput/themes/explorer-fas/theme.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#files").fileinput({
                language: "@fileInputLocalization",
                //otherActionButtons: btns,
                //rtl: true,
                theme: 'explorer-fas',
                overwriteInitial: false,
                previewFileType: 'any',
                //allowedFileTypes: ["image", "pdf", "doc","docx"],
                initialPreviewAsData: true,
                showUpload: false,
                initialPreviewDownloadUrl: '/Staffs/GetFilesById/{key}',
                initialPreview: [
                    @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreview)
                ],
                //initialPreviewDownloadUrl: '/GetFiles/{filename}',
                initialPreviewConfig: [
                    @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreviewConfig)
                ],
                preferIconicPreview: true,
                previewFileIconSettings: { // configure your icon file extensions
                    'doc': '<i class="fas fa-file-word text-primary"></i>',
                    'xls': '<i class="fas fa-file-excel text-success"></i>',
                    'ppt': '<i class="fas fa-file-powerpoint text-danger"></i>',
                    'pdf': '<i class="fas fa-file-pdf text-danger"></i>',
                    'zip': '<i class="fas fa-file-archive text-muted"></i>',
                    'htm': '<i class="fas fa-file-code text-info"></i>',
                    'txt': '<i class="fas fa-file-alt text-info"></i>',
                    'mov': '<i class="fas fa-file-video text-warning"></i>',
                    'mp3': '<i class="fas fa-file-audio text-warning"></i>',
                    // note for these file types below no extension determination logic
                    // has been configured (the keys itself will be used as extensions)
                    'jpg': '<i class="fas fa-file-image text-danger"></i>',
                    'gif': '<i class="fas fa-file-image text-muted"></i>',
                    'png': '<i class="fas fa-file-image text-primary"></i>'
                },
                previewFileExtSettings: { // configure the logic for determining icon file extensions
                    'doc': function(ext) {
                        return ext.match(/(doc|docx)$/i);
                    },
                    'xls': function(ext) {
                        return ext.match(/(xls|xlsx)$/i);
                    },
                    'ppt': function(ext) {
                        return ext.match(/(ppt|pptx)$/i);
                    },
                    'zip': function(ext) {
                        return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                    },
                    'htm': function(ext) {
                        return ext.match(/(htm|html)$/i);
                    },
                    'txt': function(ext) {
                        return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                    },
                    'mov': function(ext) {
                        return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                    },
                    'mp3': function(ext) {
                        return ext.match(/(mp3|wav)$/i);
                    }
                }
            });

        });

    </script>

}