﻿@using HRMNet.Models.Identity
@model Candidate

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet" );
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Revert To Staff"]</h3>
                    </div>
                    <form asp-controller="Staffs" asp-action="ConfirmRevertToStaff" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">

                            <div class="row">
                                <div class="col-3">

                                    <div class="form-group">

                                        <label asp-for="NameAlone" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" readonly="readonly" />
                                    </div>

                                </div>
                                <div class="col-3">

                                    <div class="form-group">

                                        <label asp-for="Family" class="control-label"></label>
                                        <input asp-for="Family" class="form-control" readonly="readonly" />
                                    </div>

                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Telephone" class="control-label"></label>
                                        <input asp-for="Telephone" class="form-control" readonly="readonly" />
                                        <span asp-validation-for="Telephone" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" readonly="readonly" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4">
                                    @*<span>
                                            Vitelco Email:
                                        </span><br />*@

                                    <div class="form-group">
                                        <label asp-for="VitelcoEmail" class="control-label"></label>
                                        <input asp-for="VitelcoEmail" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="VitelcoEmail" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="EmailPassword" class="control-label"></label>
                                        <input asp-for="EmailPassword" class="form-control" />
                                        <span asp-validation-for="EmailPassword" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="PortalUsername" class="control-label"></label>
                                        <input asp-for="PortalUsername" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="PortalUsername" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="PortalPassword" class="control-label"></label>
                                        <input asp-for="PortalPassword" class="form-control" />
                                        <span asp-validation-for="PortalPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="CreateAUser" class="control-label"></label>
                                            <input style="width:50px;" asp-for="CreateAUser" class="form-control" />
                                            <span asp-validation-for="CreateAUser" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        </div>
                        <div class="card-footer">
                            <button type="submit" id="btnSubmit" class="btn btn-primary">@sharedLocalizer["Save"]</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#btnSubmit').on('click', function (e) {
            });

        });
    </script>
}
