﻿@model CandidatesViewModel

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        .dataTables_filter {
            visibility: hidden;
        }

        .dataTables_info {
            visibility: hidden;
        }

        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination > li {
                display: inline;
            }

                .pagination > li:first-child > a, .pagination > li:first-child > span {
                    margin-left: 0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }


            .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
                z-index: 3;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
                color: #777;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;
            }
    </style>
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");

    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Employee"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <security-trimming asp-controller="Staffs" asp-action="ExportStaffs">
                                    <form asp-action="ExportStaffs" method="post">
                                        <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />

                                    </form>
                                </security-trimming>
                            </div>
                        </div>
                        <table id="candidatestable" style="width:100%;" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Name)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Telephone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Email)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Positions)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Status)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Candidates.Any())
                                {
                                    foreach (var item in Model.Candidates)
                                    {
                                        <tr id="ApproveStat-@item.Id">
                                            <partial name="_staffItem" model="item" />
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                        <div class="row">
                            <div class="col-12">
                                <div style="text-align:center;">

                                    <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                                              cs-paging-pagenumber="@Model.Paging.CurrentPage"
                                              cs-paging-totalitems="@Model.Paging.TotalItems"
                                              cs-pagenumber-param="page"
                                              asp-controller="Staffs"
                                              asp-action="Staffs"
                                              cs-show-first-last="true"
                                              cs-suppress-empty-nextprev="true"
                                              cs-suppress-inactive-firstlast="true"
                                              cs-first-page-text="İlk"
                                              cs-last-page-text="Son"
                                              cs-pager-li-current-class="active"
                                              cs-pager-li-non-active-class="disabled"></cs-pager>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>



    <script>

        $(function () {

            $('#candidatestable').DataTable({
                language: {
                    url: '@localization'
                },
                //"paging": true,
                //"lengthChange": true,
                //"searching": true,
                //"ordering": true,
                //"info": true,
                //"autoWidth": true,
                //"responsive": {
                //    details: true
                //},
                paging: false,
                "scrollX": true,
                "scrollCollapse": true,
                "columnDefs": [
                    { className: "td-text-left", targets: "_all" },
                    { width: "150px", targets: [0] },
                    { width: "100px", targets: [1] },
                    { width: "120px", targets: [2] },
                    { width: "200px", targets: [3] },
                    { width: "100px", targets: [4] },
                    { width: "80px", targets: [5] },
                ]

            }).columns.adjust()
                .responsive.recalc();
        });
    </script>
}
