﻿@model Candidate

@{
    ViewData["Title"] = "Edit";
    string positions = "";
    Model.CandidatePositions.Select(x => x.Position).ToList().ForEach(x => positions += x.PositionName + " ");
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet" );
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Staff Detail"]</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="StaffDetails">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="NameAlone" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" readonly="readonly" />

                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Family" class="control-label"></label>
                                                <input asp-for="Family" class="form-control" readonly="readonly" />
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Telephone" class="control-label"></label>
                                                <input asp-for="Telephone" class="form-control" readonly="readonly" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" readonly="readonly" />
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Positions" class="control-label"></label>
                                                <input class="form-control" value="@positions" readonly="readonly" />
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Status" class="control-label"></label>
                                                <input asp-for="StatusName" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">


                                    <input asp-for="Id" type="hidden" />
                                    <input asp-for="StuffDetail.Id" type="hidden" />

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.TCNumber" class="control-label"></label>
                                                <input asp-for="StuffDetail.TCNumber" class="form-control" />
                                                <span asp-validation-for="StuffDetail.TCNumber" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.MilitaryStatus" class="control-label"></label>
                                                <select asp-for="StuffDetail.MilitaryStatus" class="form-control" asp-items="@Html.GetEnumSelectList<MilitaryStatus>()"></select>
                                                <span asp-validation-for="StuffDetail.MilitaryStatus" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.PostponementdDate" class="control-label"></label>

                                                <input asp-for="StuffDetail.PostponementdDate" type="date" class="form-control" disabled="disabled" />
                                                <span asp-validation-for="StuffDetail.PostponementdDate" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.AccommodationAddress" class="control-label"></label>
                                                <input asp-for="StuffDetail.AccommodationAddress" class="form-control" />
                                                <span asp-validation-for="StuffDetail.AccommodationAddress" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.ContractType" class="control-label"></label>
                                                <select asp-for="StuffDetail.ContractType" class="form-control" asp-items="@Html.GetEnumSelectList<ContractType>()"></select>
                                                <span asp-validation-for="StuffDetail.ContractType" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.ContractDuration" class="control-label"></label>
                                                <input asp-for="StuffDetail.ContractDuration" class="form-control" />
                                                <span asp-validation-for="StuffDetail.ContractDuration" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.TitleId" class="control-label"></label>
                                                @Html.DropDownListFor(x => x.StuffDetail.TitleId, new SelectList(ViewBag.TitleId, "Id", "Name"), " Select ...", new { @class = "form-control" })
                                                @*<select asp-for="TitleId" class="form-control" asp-items="ViewBag.TitleId"></select>*@
                                                <span asp-validation-for="StuffDetail.TitleId" class="text-danger"></span>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.WorkLocationId" class="control-label"></label>
                                                @Html.DropDownListFor(x => x.StuffDetail.WorkLocationId, new SelectList(ViewBag.WorkLocationId, "Id", "Name"), " Select ...", new { @class = "form-control" })
                                                @*<select asp-for="WorkLocationId" class="form-control" asp-items="ViewBag.WorkLocationId"></select>*@
                                                <span asp-validation-for="StuffDetail.WorkLocationId" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.SchoolOfGraduation" class="control-label"></label>
                                                <input asp-for="StuffDetail.SchoolOfGraduation" class="form-control" />
                                                <span asp-validation-for="StuffDetail.SchoolOfGraduation" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.DepartmentOfGraduation" class="control-label"></label>
                                                <input asp-for="StuffDetail.DepartmentOfGraduation" class="form-control" />
                                                <span asp-validation-for="StuffDetail.DepartmentOfGraduation" class="text-danger"></span>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.DateOfGraduation" class="control-label"></label>
                                                <input asp-for="StuffDetail.DateOfGraduation" type="date" class="form-control" />
                                                <span asp-validation-for="StuffDetail.DateOfGraduation" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.IBANNumber" class="control-label"></label>
                                                <input asp-for="StuffDetail.IBANNumber" class="form-control" />
                                                <span asp-validation-for="StuffDetail.IBANNumber" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.Manager" class="control-label"></label>
                                                <input asp-for="StuffDetail.Manager" class="form-control" />
                                                <span asp-validation-for="StuffDetail.Manager" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.BloodGroup" class="control-label"></label>
                                                <input asp-for="StuffDetail.BloodGroup" class="form-control" />
                                                <span asp-validation-for="StuffDetail.BloodGroup" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.EmergencyContactInformation" class="control-label"></label>
                                                <input asp-for="StuffDetail.EmergencyContactInformation" class="form-control" />
                                                <span asp-validation-for="StuffDetail.EmergencyContactInformation" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StuffDetail.BirthCertificateNumber" class="control-label"></label>
                                                <input asp-for="StuffDetail.BirthCertificateNumber" class="form-control" />
                                                <span asp-validation-for="StuffDetail.BirthCertificateNumber" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                            <label asp-for="StuffDetail.CompanyEmail" class="control-label"></label>
                                            <input asp-for="StuffDetail.CompanyEmail" class="form-control" />
                                            <span asp-validation-for="StuffDetail.CompanyEmail" class="text-danger"></span>
                                        </div>*@
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Save"]" style="display: inline-block; width: 100px;" class="btn btn-primary" />
                                        <a asp-action="Staffs" class="btn btn-light" style="width: 100px;">@sharedLocalizer["Back"]</a>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>

                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#inventoriesHistory" data-toggle="tab">@sharedLocalizer["Inventories"]</a></li>
                            <li class="nav-item"><a class="nav-link" href="#coursesHistory" data-toggle="tab">@sharedLocalizer["Courses"]</a></li>
                            <li class="nav-item"><a class="nav-link" href="#leavesHistory" data-toggle="tab">@sharedLocalizer["Leaves"]</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="inventoriesHistory">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <partial name="_Inventories" model="Model.CandidateInventories" />
                                </div>
                                <!-- /.card-body -->


                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="coursesHistory">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <partial name="_Courses" model="@Model.CandidateCourses" />

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="leavesHistory">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <partial name="_Leaves" model="@Model.Leaves" />

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.tab-pane -->


                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function () {
        var dId = $("#StuffDetail_Id").val();
        if (dId== null || dId=='')
        {
            $("#StuffDetail_ContractDuration").prop("disabled", false);
        }
        else if ('@Model.StuffDetail?.ContractType'== '@ContractType.Contractor') {
            $("#StuffDetail_ContractDuration").prop("disabled", false);
        }
        else {
            $("#StuffDetail_ContractDuration").prop("disabled", true);
        }

        $('#StuffDetail_MilitaryStatus').on('change', function () {

            var selectedValue = $(this).val();

            //alert(selectedValue);
            //alert(selectedValue);
            if (selectedValue == '@((int)MilitaryStatus.Postponed)')   {

                $('#StuffDetail_PostponementdDate').prop("disabled", false);
            }
            else {
                $('#StuffDetail_PostponementdDate').prop("disabled", true);
            }
        });

        $('#StuffDetail_ContractType').on('change', function () {

            var selectedValue = $(this).val();

            //alert(selectedValue);
            //alert(selectedValue);
            if (selectedValue == '@((int)ContractType.Contractor)')   {

                $('#StuffDetail_ContractDuration').prop("disabled", false);
            }
            else {
                $('#StuffDetail_ContractDuration').prop("disabled", true);
            }
        });
    });
    </script>


}
