﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
              baseName: "SharedResource",
              location: "HRMNet"); }

<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default top30">
                <div class="panel-heading">
                    <h3 class="panel-title">@sharedLocalizer["Change Password"]</h3>
                </div>
                <div class="panel-body">
                    @if (Model.LastUserPasswordChangeDate.HasValue)
                    {
                        <div class="alert alert-warning">
                            <a href="#" class="close" data-dismiss="alert">×</a>
                            @sharedLocalizer["Last date of your changing password"]:
                            <strong>
                                @Model.LastUserPasswordChangeDate.Value
                            </strong>
                        </div>
                    }
                    <form asp-controller="ChangePassword"
                          asp-action="Index"
                          method="post"
                          class="form-horizontal">
                        @{ await Html.RenderPartialAsync("_CustomValidationSummary"); }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="OldPassword" class="control-label"></label>
                                    <input dir="ltr" asp-for="OldPassword" class="form-control" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="NewPassword" class="control-label"></label>
                                    <input dir="ltr" asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input dir="ltr" asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">@sharedLocalizer["Send"]</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>