﻿@model IEnumerable<RoleAndUsersCountViewModel>

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
         baseName: "SharedResource",
         location: "HRMNet"); }
<div class="table-responsive">
    <table id="all-roles-list" class="table table-striped table-hover table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="text-center">@sharedLocalizer["Role Name"]</th>
                <th class="text-center">@sharedLocalizer["Members"]</th>
                <th class="text-center">@sharedLocalizer["Role Management"]</th>
                <th class="text-center">@sharedLocalizer["Member Management"]</th>
                <th class="text-center">@sharedLocalizer["Dynamic Access Management"]</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
<tr>
    <td colspan="5" class="text-center">@sharedLocalizer["Role not found."]</td>
</tr>
 }
else
{
foreach (var item in Model)
{
    var role = item.Role;
<tr>
    <td class="text-center">@role.Name</td>
    <td class="text-center">@item.UsersCount</td>
    <td class="text-center">
        <a href="#" id="btnEdit-@role.Id" data-edit-id="@role.Id" class="btn btn-sm btn-primary">@sharedLocalizer["Edit"]</a>
        <a href="#" id="btnDelete-@role.Id" data-delete-id="@role.Id" class="btn btn-sm btn-danger">@sharedLocalizer["Delete"]</a>
    </td>
    <td class="text-center">
        <a class="btn btn-sm btn-info" asp-action="UsersInRole" asp-route-id="@role.Id">
            @sharedLocalizer["View & Edit Members List"]


        </a>
    </td>
    <td class="text-center">
        <a class="btn btn-sm btn-success" asp-action="Index" asp-controller="DynamicRoleClaimsManager" asp-route-id="@role.Id">
            @sharedLocalizer["View & Edit dynamic accesses List"]

        </a>
    </td>
</tr>
}
}
        </tbody>
    </table>
</div>