﻿@model RoleViewModel
<partial name="_CustomValidationSummary" />

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<form asp-action="AddRole" method="post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="direction:rtl;" >
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                @if (string.IsNullOrEmpty(Model?.Id))
                {
            <h4 class="modal-title">@sharedLocalizer["Create Role"]</h4>
                }
                else
                {
            <h4 class="modal-title">@sharedLocalizer["Edit Role"]</h4>
                }
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label asp-for="Name" class="col-md-3 col-form-label text-md-left"></label>
                    <div class="col-md-9">
                        <input asp-for="Id" />
                        <input dir="ltr" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">@sharedLocalizer["Save"]</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">@sharedLocalizer["Cancel"]</button>
            </div>
        </div>
    </div>
</form>