﻿@model RoleViewModel
<partial name="_CustomValidationSummary" />

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
       location: "HRMNet"); }

<form asp-action="Delete" method="post" class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="direction:rtl;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@sharedLocalizer["Delete Role"]</h4>
            </div>
            <div class="modal-body">
                <span class="text-center">
                    @sharedLocalizer["Do you want to remove"]

                    <strong>@Model.Name</strong>
                    @sharedLocalizer["Role"]?
                    <br />
                </span>
                <input asp-for="Id" />
                <input type="hidden" asp-for="Name">
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">@sharedLocalizer["Confirm delete"]</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">@sharedLocalizer["Cancel"]</button>
            </div>
        </div>
    </div>
</form>