﻿@model IEnumerable<RoleAndUsersCountViewModel>

@{
    ViewData["Title"] = "";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<div class="card mt-5">
    <div class="card-header">
        <a class="btn btn-success" href="#" id="btnCreate">@sharedLocalizer["Create"]</a>
    </div>
    <div class="card-body">
        <partial name="_AllRolesList" model="Model" />
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#btnCreate').click(function (e) {
                e.preventDefault(); 

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("AddRole", "RolesManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderRole", "RolesManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": 0 }),
                    loginUrl: '/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

            $("a[id^='btnEdit']").click(function (e) {
                e.preventDefault(); 
                var roleId = $(this).data("edit-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("EditRole", "RolesManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderRole", "RolesManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": roleId }),
                    loginUrl: '/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); 
                var roleId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Delete", "RolesManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDeleteRole", "RolesManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": roleId }),
                    loginUrl: '/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });
        });
    </script>
}