﻿@model PagedUsersListViewModel

@{
    var roleId = (string)this.Context.GetRouteValue("Id");
    var roleName = $"«{Model.Roles.First(x => x.Id.ToString() == roleId).Name}»";
    ViewData["Title"] = ""; 
}

<h2>@ViewData["Title"]</h2>

<div id="gridcontainer" class="mt-5">
    <partial name="~/Views/UsersManager/_UsersList.cshtml" model="Model" />
</div>