﻿@model TimesheetItem

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<form id="addItem" asp-action="AddItem" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-dialog rtl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@sharedLocalizer["Adding to timesheet"]</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@


            </div>
            <div class="modal-body">
                <div class="row">
                    @if (Model.AllDay)
                    {
                        <div class="col-md-12">
                            @Model.Start.Value.ToString("yyyy/MM/dd")
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            @Model.Start.Value.ToString("yyyy/MM/dd HH:mm") - @Model.End.Value.ToString("yyyy/MM/dd HH:mm")
                        </div>

                    }

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="PositionProject" class="control-label"></label>
                        <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId">
                            <option value="0" selected>@sharedLocalizer["Please select ..."]</option>
                        </select>
                        <input type="hidden" asp-for="Title" class="form-control" />
                        <span asp-validation-for="PositionId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Color" class="control-label"></label>
                        <select asp-for="Color" asp-items="@Html.GetEnumSelectList<TimesheetItemColor>()" class="form-control"></select>
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                    @*<div class="col-md-3">
                            @if (Model.AllDay)
                            {
                                <label asp-for="AllDay" class="control-label"></label>
                                <input asp-for="AllDay" class="form-control">
                                <span asp-validation-for="AllDay" class="text-danger"></span>
                            }

                        </div>*@
                    @*<div class="col-md-3">
                            @if (User.IsInRole("Admin"))
                            {
                                <label asp-for="IsPublic" class="control-label"></label>
                                <input asp-for="IsPublic" class="form-control">
                                <span asp-validation-for="IsPublic" class="text-danger"></span>
                            }
                        </div>*@
                </div>
                <input asp-for="Start" type="hidden" />
                <input asp-for="End" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" id="btnSubmit">@sharedLocalizer["Save"]</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">@sharedLocalizer["Cancel"]</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("body").on('change', '#PositionId', function () {    // 2nd (B)
            debugger;
            $('#Title').val($("#PositionId option:selected").text());
        });


    });
</script>
