﻿@model HRMNet.Models.Timesheet.TimesheetViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimesheetViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.groupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.groupId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.allDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.allDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startRecur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startRecur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endRecur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endRecur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.className)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.className)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.editable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.editable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.overlap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.overlap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.backgroundColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.backgroundColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.borderColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.borderColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.textColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.textColor)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.extendedProps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.extendedProps)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
