﻿@model TimesheetItem

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <h4 class="modal-title">@sharedLocalizer["Update"]</h4>

                @*<div class="col-md-2">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>*@

            </div>

        </div>
        <form id="frmEdit" asp-action="UpdateEvent" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="modal-body">
                <div class="row">
                    @if (Model.AllDay)
                    {
                        <div class="col-md-12">
                            @Model.Start.Value.ToString("yyyy/MM/dd")
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            @Model.Start.Value.ToString("yyyy/MM/dd HH:mm") - @Model.End.Value.ToString("yyyy/MM/dd HH:mm")
                        </div>

                    }
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <label asp-for="PositionId" class="control-label"></label>
                        <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId">
                            <option value="0" selected>Please select ...</option>
                        </select>
                        <input type="hidden" asp-for="Title" class="form-control" />
                        <span asp-validation-for="PositionId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Color" class="control-label"></label>
                        <select asp-for="Color" asp-items="@Html.GetEnumSelectList<TimesheetItemColor>()" class="form-control"></select>
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                    @*<div class="col-md-3">
                            <label asp-for="AllDay" class="control-label"></label>
                            <input asp-for="AllDay" class="form-control">
                            <span asp-validation-for="AllDay" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            @if (User.IsInRole("CalendarAdmin") || User.IsInRole("Admin"))
                            {
                                <label asp-for="IsPublic" class="control-label"></label>
                                <input asp-for="IsPublic" class="form-control">
                                <span asp-validation-for="IsPublic" class="text-danger"></span>
                            }
                        </div>*@
                </div>

                <input asp-for="Start" type="hidden" />
                <input asp-for="End" type="hidden" />
                <input asp-for="Id" type="hidden" />
                <input asp-for="CreatorId" type="hidden" />

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" type="submit">@sharedLocalizer["Update"]</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">@sharedLocalizer["Cancel"]</button>
            </div>
        </form>
        <form id="frmDelete" asp-action="DeleteItem" asp-controller="Timesheets" method="post" class="form-horizontal">
            <div class="modal-footer">
                <input id="deleteId" name="Id" value="@Model.Id" type="hidden" />
                <input id="start1" name="Start" asp-for="Start" type="hidden" />
                <input name="IsDelete" id="IsDelete" type="hidden" value="true" />
                <button class="btn btn-danger" type="submit">@sharedLocalizer["Delete from timesheet"]</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("body").on('change', '#PositionId', function () {    // 2nd (B)
            debugger;
            $('#Title').val($("#PositionId option:selected").text());
        });
    });
</script>
