﻿@using System.Globalization;

<div style="padding:15px;" id='calendar'></div>

@section Styles
    {
    <link href="~/fullcalendar/packages/core/main.css" rel='stylesheet' />
    <link href="~/fullcalendar/packages/daygrid/main.css" rel='stylesheet' />
    <link href="~/fullcalendar/packages/timegrid/main.css" rel='stylesheet' />
    <link href="~/fullcalendar/packages/list/main.css" rel='stylesheet' />

    <style>
        .fc-sun {
            background-color: #E8EEF7;
        }

        .fc-sat {
            background-color: #E8EEF7;
        }
        /*#calendar {
            max-width: 900px;
            margin: 0 auto;
        }*/
    </style>
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
           baseName: "SharedResource",
           location: "HRMNet");

    var currentCulture = CultureInfo.CurrentCulture.Name == "tr-TR" ? "tr" : "en";


}


@section Scripts
    {
    <script src="~/fullcalendar/packages/core/main.js"></script>
    <script src="~/fullcalendar/packages/interaction/main.js"></script>
    <script src="~/fullcalendar/packages/daygrid/main.js"></script>
    <script src="~/fullcalendar/packages/timegrid/main.js"></script>
    <script src="~/fullcalendar/packages/list/main.js"></script>
    <script src="~/fullcalendar/packages/core/locales/tr.js"></script>
    <script src="~/js/jquery.bootstrap-modal-ajax-form.js"></script>
    <script src="~/adminlte/plugins/blockui/jquery.blockUI.js"></script>
    <script>


        //const workSpec = [
        //    {
        //        daysOfWeek: [1, 2, 3, 4, 5],
        //        startTime: '08:00',
        //        endTime: '19:00'
        //    }
        //];

        //const workMin = workSpec.map(item => item.startTime).sort().shift()
        //const workMax = workSpec.map(item => item.endTime).sort().pop()
        //const workDays = [new Set(workSpec.flatMap(item => item.daysOfWeek))]
        //const hideDays = [...Array(7).keys()].filter(day => !workDays.includes(day))


        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
        header: {
        left: 'prev,next today',
        center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay' //dayGridWeek,dayGridDay
      },
        locale: '@currentCulture',
        minTime: "09:00:00",
        maxTime: "18:00:00",
        slotDuration: "00:15:00",
        slotLabelInterval: "01:00:00",
        //hiddenDays: [6, 7],
        //weekends: false,
        //businessHours: {
        //    // days of week. an array of zero-based day of week integers (0=Sunday)
        //    daysOfWeek: [1, 2, 3, 4, 5], // Monday - Thursday

        //    startTime: '8:00', // a start time (10am in this example)
        //    endTime: '19:00', // an end time (6pm in this example)
        //},
      selectable: true,
      selectMirror: true,
      //firstDay:1,
      //dir:'rtl',
      defaultDate: '@DateTime.Now.ToString("yyyy-MM-dd")',
      navLinks: true, // can click day/week names to navigate views
      weekNumbers: true,
      weekNumbersWithinDays: true,
      weekNumberCalculation: 'ISO',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: {
          url: '/Timesheets/Items',
          method: 'GET',
          failure: function() {
              alert('@sharedLocalizer["There was an error while fetching events!"]');
          }
      },
        eventClick: function (info) {
          $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
          info.jsEvent.preventDefault(); // don't let the browser navigate
          $.bootstrapModalAjaxForm({
              postUrl: '@Url.Action("UpdateItem", "Timesheets")',
              renderModalPartialViewUrl: '@Url.Action("RenderUpdateItem", "Timesheets")',
              renderModalPartialViewData: JSON.stringify({"Id": info.event.id }),
              loginUrl: '/login',
              beforePostHandler: function () {

              },
              completeHandler: function (result) {
                  $.unblockUI();
                  var evnt = calendar.getEventById(result.id);
                  if (result.isDelete)
                  {
                      evnt.remove();
                  }
                  else {
                      evnt.setProp('title', result.title);
                      evnt.setProp('color', result.color);
                      evnt.setProp('allDay', result.allDay);
                  }
              },
              errorHandler: function () {
                  $.unblockUI();
                  alert('@sharedLocalizer["Updating timesheet failed"]');
              }
          });
            $.unblockUI();
      },
        select: function (arg) {
            $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
          $.bootstrapModalAjaxForm({
              postUrl: '@Url.Action("AddItem", "Timesheets")',
              renderModalPartialViewUrl: '@Url.Action("RenderAddItem", "Timesheets")',
              renderModalPartialViewData: JSON.stringify({ "Start": arg.start.toISOString(), "End": arg.end.toISOString(), "AllDay": arg.allDay,"Title":"" }),
              loginUrl: '/login',
              beforePostHandler: function () {
              },
              completeHandler: function (result) {
                  $.unblockUI();

                  calendar.addEvent({
                      id: result.id,
                      title: result.title,
                      start: arg.start,
                      end: arg.end,
                      allDay: arg.allDay,
                      color: result.color
                  });
              },
              errorHandler: function () {
                  $.unblockUI();
                  alert('@sharedLocalizer["Adding timesheet failed"]');
              }
          });
            $.unblockUI();
          calendar.unselect();
      },
        eventDrop: function (info) {
            $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
          $.bootstrapModalAjaxForm({
              postUrl: '@Url.Action("UpdateItem", "Timesheets")',
              renderModalPartialViewUrl: '@Url.Action("RenderUpdateItem", "Timesheets")',
              renderModalPartialViewData: JSON.stringify({
                  "Id": info.event.id,
                  "Start": info.event.start.toISOString(),
                  "End": info.event.end.toISOString(),
              }),
              loginUrl: '/login',
              beforePostHandler: function () {
              },
              completeHandler: function (result) {

                  $.unblockUI();
                  var evnt = calendar.getEventById(result.id);
                  if (result.isDelete) {
                      evnt.remove();
                  }
                  else {
                      evnt.setProp('title', result.title);
                      evnt.setProp('color', result.color);
                      evnt.setProp('allDay', result.allDay);
                      evnt.setStart(result.start);
                      evnt.setEnd(result.end);
                  }
              },
              errorHandler: function () {
                  $.unblockUI();
                  //info.revert();
                  alert('@sharedLocalizer["Updating timesheet failed"]');
              }
          });
            $.unblockUI();
       },
        eventResize: function (info) {
            $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
          $.bootstrapModalAjaxForm({
              postUrl: '@Url.Action("UpdateItem", "Timesheets")',
              renderModalPartialViewUrl: '@Url.Action("RenderUpdateItem", "Timesheets")',
              renderModalPartialViewData: JSON.stringify({ "Id": info.event.id, "End": info.event.end.toISOString()}),
              loginUrl: '/login',
              beforePostHandler: function () {
              },
              completeHandler: function (result) {

                  $.unblockUI();
                  var evnt = calendar.getEventById(result.id);
                  if (result.isDelete) {
                      evnt.remove();
                  }
                  else {
                      evnt.setProp('title', result.title);
                      evnt.setProp('color', result.color);
                      evnt.setProp('allDay', result.allDay);
                  }
              },
              errorHandler: function () {
                  $.unblockUI();
                  info.revert();
                  alert('@sharedLocalizer["Updating timesheet failed"]');

              }
          });
            $.unblockUI();
        }
    });

    calendar.render();
  });


    </script>

}

