﻿
@{
    var pageTitle = ViewData["Title"] ?? "Vitelco - HRM";
    @inject IUsersPhotoService PhotoService
    var photoUrl = PhotoService.GetCurrentUserPhotoUrl();
    var displayName = User.Identity.GetUserDisplayName();
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@pageTitle</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/bootstrapfileinput/fileinput.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/js/bootstrapfileinput/themes/explorer-fas/theme.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/adminlte/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/adminlte/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/adminlte/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="~/toastr/toastr.css">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    @*<input class="form-control form-control-navbar" type="search" placeholder="@sharedLocalizer["Search"]" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>*@
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    @*<a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-comments"></i>
                            <span class="badge badge-danger navbar-badge"></span>
                        </a>*@
                    <!--<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">-->
                    <!-- Message Start -->
                    <!--<div class="media">
                        <img src="~/adminlte/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Brad Diesel
                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">Call me whenever you can...</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>-->
                    <!-- Message End -->
                    <!--</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">-->
                    <!-- Message Start -->
                    <!--<div class="media">
                        <img src="~/adminlte/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                John Pierce
                                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">I got your message bro</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>-->
                    <!-- Message End -->
                    <!--</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">-->
                    <!-- Message Start -->
                    <!--<div class="media">
                        <img src="~/adminlte/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Nora Silvester
                                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">The subject goes here</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>-->
                    <!-- Message End -->
                    <!--</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>-->
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    @*<a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge"></span>
                        </a>*@
                    @*<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>*@
                </li>
                <!-- Language Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-language"></i>

                    </a>
                    <div class="dropdown-menu dropdown-menu-right p-0">
                        <a asp-action="SetEnLanguage" asp-controller="Home" class="dropdown-item active">
                            <i class="flag-icon flag-icon-us mr-2"></i> English
                        </a>
                        <a asp-action="SetTrLanguage" asp-controller="Home" class="dropdown-item">
                            <i class="flag-icon flag-icon-de mr-2"></i> Turkish
                        </a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-action="Index" asp-controller="Home" class="brand-link">
                @*<img src="~/adminlte/img/vitelcologo.png" alt="Vitelco Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">*@
                <span class="brand-text font-weight-light">@sharedLocalizer["Vitelco HRM"]</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">*@
                <div class="navbar-collapse mt-3 pb-3 mb-3 d-flex">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="img-circle elevation-2" src="@photoUrl" alt="@displayName" asp-append-version="true"
                                         onerror="this.style.visibility = 'hidden';this.width=0; this.height=0;" />
                                    <span class="author">@displayName</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a asp-controller="UserCard" asp-action="Index">
                                            <span class="left5 fas fa-user" aria-hidden="true"></span>
                                            @sharedLocalizer["My Information"]

                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a asp-controller="UserProfile" asp-action="Index">
                                            <span class="left5 fas fa-cog" aria-hidden="true"></span>
                                            @sharedLocalizer["My Profile"]

                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="ChangePassword" asp-action="Index">
                                            <span class="left5 fas fa-asterisk" aria-hidden="true"></span>
                                            @sharedLocalizer["Change Password"]

                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a asp-controller="Login" asp-action="LogOff">
                                            <span class="left5 fas fa-sign-out" aria-hidden="true"></span>
                                            @sharedLocalizer["Exit"]

                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }


                    @*<div class="image">
                                    <img class="img-circle elevation-2" src="@photoUrl" alt="@User.Identity.GetUserDisplayName()" asp-append-version="true"
                                         onerror="this.style.visibility = 'hidden';this.width=0; this.height=0;" />

                                    <img src="@PhotoService.GetUserPhotoUrl(Model.PhotoFileName)"
                        asp-append-version="true" class="img-circle elevation-2" alt="User Image" />
                                    <img src="~/adminlte/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                                </div>
                                <div class="info">

                                    <a href="#" class="d-block">@User.Identity.GetUserDisplayName()</a>
                                </div>*@
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->
                            @if (!User.IsInRole("Recruiter") && !User.IsInRole("Employee"))
                            {
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link active">
                                        <i class="nav-icon fas fa-tachometer-alt"></i>
                                        <p>
                                            @sharedLocalizer["Administration"]

                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="UsersManager" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Users Manager"]</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="RolesManager" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Roles Manager"]</p>
                                                </a>

                                            </li>
                                        }


                                        @*<li class="nav-item">
                                                <a href="./index.html" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Authorization</p>
                                                </a>
                                            </li>*@
                                        @*<li class="nav-item">
                                                <a asp-action="Index" asp-controller="Positions" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Positions</p>
                                                </a>
                                            </li>*@
                                        <li class="nav-item">
                                            <security-trimming asp-controller="Customers" asp-action="Index">
                                                <a asp-action="Index" asp-controller="Customers" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Customers"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>
                                        <li class="nav-item">
                                            <security-trimming asp-controller="Features" asp-action="Index">
                                                <a asp-action="Index" asp-controller="Features" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Features"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>
                                        <li class="nav-item">
                                            <security-trimming asp-controller="Expertises" asp-action="Index">
                                                <a asp-action="Index" asp-controller="Expertises" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Expertise Types"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>
                                        <li class="nav-item">
                                            <security-trimming asp-controller="Titles" asp-action="Index">
                                                <a asp-action="Index" asp-controller="Titles" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Staff Titles"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>
                                        <li class="nav-item">
                                            <security-trimming asp-controller="InventoryTypes" asp-action="Index">
                                                <a asp-action="Index" asp-controller="InventoryTypes" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Inventory Categories"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>

                                        <li class="nav-item">
                                            <security-trimming asp-controller="Inventories" asp-action="Inventories">
                                                <a asp-controller="Inventories" asp-action="Inventories" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Inventories"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>

                                        <li class="nav-item">
                                            <security-trimming asp-controller="WorkLocations" asp-action="Index">
                                                <a asp-action="Index" asp-controller="WorkLocations" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Work Locations"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>

                                        <li class="nav-item">
                                            <security-trimming asp-controller="Courses" asp-action="Index">
                                                <a asp-action="Index" asp-controller="Courses" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Courses"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>

                                        <li class="nav-item">
                                            <security-trimming asp-controller="Audits" asp-action="Index">
                                                <a asp-action="Index" asp-controller="Audits" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Audits"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>


                                        <li class="nav-item">
                                            <security-trimming asp-controller="Sops" asp-action="Index">
                                                <a asp-action="Index" asp-controller="Sops" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Sops"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>

                                        <li class="nav-item">
                                            <security-trimming asp-controller="CustomSettings" asp-action="Edit">
                                                <a asp-action="Edit" asp-controller="CustomSettings" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Settings"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>

                                        @*<li class="nav-item">
                                                <a asp-action="Users" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Users</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="views" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Views</p>
                                                </a>
                                            </li>*@
                                    </ul>
                                </li>
                            }

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        @sharedLocalizer["Candidates/Positions"]

                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <security-trimming asp-controller="PreCandidates" asp-action="Index">
                                            <a asp-action="Index" asp-controller="PreCandidates" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@sharedLocalizer["PreCandidates"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Candidates" asp-action="Index">
                                            <a asp-action="Index" asp-controller="Candidates" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Candidates"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Candidates" asp-action="AcceptedCandidates">
                                            <a asp-action="AcceptedCandidates" asp-controller="Candidates" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Accepted Candidates"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>

                                    <li class="nav-item">
                                        <security-trimming asp-controller="Positions" asp-action="Index">
                                            <a asp-controller="Positions" asp-action="Index" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Positions"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                </ul>

                            </li>
                            @if (User.IsInRole("HR Manager") || User.IsInRole("HR Specialist") || User.IsInRole("Admin"))
                            {
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>
                                            @sharedLocalizer["HR Staff Information"]

                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <security-trimming asp-controller="Staffs" asp-action="Documents">
                                                <a asp-controller="Staffs" asp-action="Documents" class="nav-link">
                                                    <i class="nav-icon fas fa-file"></i>
                                                    <p>@sharedLocalizer["Employee Documents"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>
                                        <li class="nav-item">
                                            <security-trimming asp-controller="Staffs" asp-action="Staffs">
                                                <a asp-action="Staffs" asp-controller="Staffs" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Personal Information"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>

                                        <li class="nav-item">
                                            <security-trimming asp-controller="CandidateInventories" asp-action="DeliveredInventories">
                                                <a asp-action="DeliveredInventories" asp-controller="CandidateInventories" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Delivered Inventories"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>


                                        <li class="nav-item">
                                            <security-trimming asp-controller="Leaves" asp-action="Index">
                                                <a asp-controller="Leaves" asp-action="Index" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Leaves"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>
                                        <li class="nav-item">
                                            <security-trimming asp-controller="CandidateCourses" asp-action="Index">
                                                <a asp-controller="CandidateCourses" asp-action="Index" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Employee Courses"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>
                                        <li class="nav-item">
                                            <security-trimming asp-controller="Disciplins" asp-action="Index">
                                                <a asp-controller="Disciplins" asp-action="Index" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@sharedLocalizer["Disciplins"]</p>
                                                </a>
                                            </security-trimming>
                                        </li>
                                    </ul>

                                </li>
                            }

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-receipt"></i>
                                    <p>
                                        @sharedLocalizer["Reports"]
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Timesheets" asp-action="Index">
                                            <a asp-action="Index" asp-controller="Timesheets" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Timesheet"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Reports" asp-action="AllCustomersPositions">
                                            <a asp-action="AllCustomersPositions" asp-controller="Reports" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Summary Customer/Position Analysis"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Reports" asp-action="CustomerPositionDetailAnalyze">
                                            <a asp-action="CustomerPositionDetailAnalyze" asp-controller="Reports" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Detail Customer/Position Analysis"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Reports" asp-action="RecruiterAnalysis">
                                            <a asp-action="RecruiterAnalysis" asp-controller="Reports" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Recruiter Analysis"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Reports" asp-action="RecruiterTargetAnalysis">
                                            <a asp-action="RecruiterTargetAnalysis" asp-controller="Reports" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Recruiter Target Analysis"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Reports" asp-action="RecruiterReport">
                                            <a asp-action="RecruiterReport" asp-controller="Reports" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>@sharedLocalizer["Recruiter Report"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                    <li class="nav-item">
                                        <security-trimming asp-controller="Reports" asp-action="PreCandidateEvaluationAnalysis">
                                            <a asp-action="PreCandidateEvaluationAnalysis" asp-controller="Reports" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>@sharedLocalizer["PreCandidate Evaluation Analysis"]</p>
                                            </a>
                                        </security-trimming>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    }
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6 float-sm-right">
                            <breadcrumb asp-homepage-title="Home"
                                        asp-bootstrap-version="V4"
                                        asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                                        asp-homepage-glyphicon="fas fa-home"></breadcrumb>

                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            @RenderBody()

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2021 <a href="http://vitelco.com.tr">VitelCo</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.10
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/adminlte/plugins/chart.js/Chart.min.js"></script>
    <script src="~/adminlte/plugins/chartzoom/hammerjs@2.0.8.js"></script>
    <script src="~/adminlte/plugins/chartzoom/chartjs-plugin-zoom.min.js"></script>

    <!-- Sparkline -->
    <script src="~/adminlte/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/adminlte/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/adminlte/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/adminlte/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/adminlte/plugins/moment/moment.min.js"></script>
    <script src="~/adminlte/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/adminlte/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/adminlte/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/adminlte/js/demo.js"></script>

    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/jquery.bootstrap-modal-confirm.js"></script>
    <script src="~/js/jquery.bootstrap-modal-alert.js"></script>
    <script src="~/js/jquery.bootstrap-modal-ajax-form.js"></script>
    <script src="~/js/signalr.min.js"></script>
    <script src="~/toastr/toastr.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
        @*function dataAjaxBegin() {
            $.bootstrapModalAlert({
                caption: '@sharedLocalizer["Action started"]',
                body: '<div class="alert alert-info"> <span class="fas fa-thumbs-up" aria-hidden="true"></span>'+@sharedLocalizer["Sending information to the server. Please wait a moment."]+'</div>'
            });
            return true;
        }

        function dataAjaxSuccess(data, status, xhr) {
            $.bootstrapModalAlert({
                caption: '@sharedLocalizer["Action confirmed"]',
                body: '<div class="alert alert-success"> <span class="fas fa-thumbs-up" aria-hidden="true"></span>' + @sharedLocalizer["The requested action was done successfully."]+'</div>'
            });
        }

        function dataAjaxFailure(xhr, status, error) {
            if (xhr.status === 401) {
                window.location.href = xhr.getResponseHeader('Location');
                return;
            }

            $.bootstrapModalAlert({
                caption: '@sharedLocalizer["Action failed"]',
                body: '<div class="alert alert-danger"> <span class="fas fa-thumbs-down" aria-hidden="true"></span> ' + @sharedLocalizer["An Error Occured."] + '</div>'
            });
        }*@
    </script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/message")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.on('InstantMessages', function (message) {
            var splittedMessagea = message.split("|");

            var parameter = splittedMessagea[2];
            //toastr.options.rtl = true;
            toastr.options.fadeOut = 4000;
            //toastr.options.timeOut = 0;
            //toastr.options.extendedTimeOut = 0;
            if (splittedMessagea[0] == 'success') {
                toastr.success(splittedMessagea[1], '');
            }
            else if (splittedMessagea[0] == 'redirect')
            {
                var url = '@Url.Action("Index","Home", new { id= "ttt" })';
                window.location.replace(url.replace('ttt', parameter));
            }
            else if (splittedMessagea[0] == 'error')
            {
                toastr.error(splittedMessagea[1], 'Error');
            }
            else {
                toastr.warning(splittedMessagea[1], 'Attention');
            }

        });

        connection.start().then(function () {
            console.log('connected.');
            //$('#sendmessageDirect').click(function () {
            //    // Call the Send method on the hub.
            //    connection.send('send', $('#message').val());
            //});
        });




    </script>
    @*<script>
            /** add active class and stay opened when selected */
            var url = window.location;

            // for sidebar menu entirely but not cover treeview
            $('ul.sidebar-menu a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');

            // for treeview
            $('ul.treeview-menu a').filter(function () {
                return this.href == url;
            }).parentsUntil(".sidebar-menu > .treeview-menu").addClass('active');
        </script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
