﻿@inject IOptionsSnapshot<SiteSettings> SiteSettings

@if (SiteSettings.Value.Smtp.UsePickupFolder)
{
    <div>
        Due to aligining Pickup Folder, The Emails Can be found at @SiteSettings.Value.Smtp.PickupFolder
    </div>
}
