﻿@{ ViewData["Title"] = ""; }

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <p class="text-danger">
            @sharedLocalizer["This account due to a couple of times incorrect data entry has been locked temporarily."]

            <br />
            @sharedLocalizer["Please try again later."]
            
        </p>
    </div>
</div>