﻿@model VerifyCodeViewModel
@{
    ViewData["Title"] = "";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <ul>
                <li>
                    @sharedLocalizer["An email consist of a new security code, has been sent to your mailbox now. Please enter it to the current form and send."]
                    
                    <partial name="_PickupFolder" />
                </li>
                <li>
                    @sharedLocalizer["'Remember me' option means for current computer & current browser, there is no need to enter two-factor security code."]
                    
                </li>
            </ul>
        </div>

        <form asp-controller="TwoFactor"
              asp-action="VerifyCode"
              asp-route-returnurl="@ViewData["ReturnUrl"]"
              method="post">
            <partial name="_CustomValidationSummary" />
            <input asp-for="Provider" type="hidden" />
            <input asp-for="RememberMe" type="hidden" />
            <h4>@ViewData["Status"]</h4>
            <hr />
            <div class="form-group row">
                <label asp-for="Code" class="col-md-2 col-form-label text-md-left"></label>
                <div class="col-md-10">
                    <input asp-for="Code" dir="ltr" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-md-left"></label>
                <div class="col col-md-10">
                    <input asp-for="RememberBrowser" />
                    <label asp-for="RememberBrowser"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <button type="submit" class="btn btn-info col-md-2">@sharedLocalizer["Send"]</button>
                </div>
            </div>
        </form>
    </div>
</div>