﻿@model HRMNet.Models.ViewModel.Identity.UserViewModel

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }


<partial name="_CustomValidationSummary" />
<form asp-action="Delete" method="post" class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="direction:rtl;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@sharedLocalizer["Removing user"]</h4>
            </div>
            <div class="modal-body">
                <span class="text-center">
                    @sharedLocalizer["Do you want to remove"]
                    Do you want to remove
                    <strong>@Model.Name</strong>
                    @sharedLocalizer["user?"]
                    
                    <br />
                </span>
                <input asp-for="Id" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">@sharedLocalizer["Delete Confirm"]</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">@sharedLocalizer["Cancel"]</button>
            </div>
        </div>
    </div>
</form>