﻿@model PagedUsersListViewModel

@{
    ViewData["Title"] = "Users management";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource" ,
        location: "HRMNet" );
}

@*<partial name="~/Views/UsersManager/_SearchUsers.cshtml" model="new SearchUsersViewModel()" />*@

@if (Model.Users.Any())
{
    foreach (var user in Model.Users)
    {
        <div id="usercard-@user.Id">
            <partial name="~/Views/UserCard/_UserCardItem.cshtml"
                     model="new UserCardItemViewModel { User = user, ShowAdminParts = true, Roles = Model.Roles, ActiveTab = UserCardItemActiveTab.UserInfo }" />
        </div>
    }
}
else
{
<div class="alert alert-warning">@sharedLocalizer["No user found."]</div>
}

<div>
    <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
              cs-paging-pagenumber="@Model.Paging.CurrentPage"
              cs-paging-totalitems="@Model.Paging.TotalItems"
              cs-pagenumber-param="page"
              cs-ajax-target="#gridcontainer"
              asp-controller="UsersManager"
              asp-action="Index"
              asp-route-pagesize="@Model.Paging.ItemsPerPage"
              cs-show-first-last="true"
              cs-suppress-empty-nextprev="true"
              cs-suppress-inactive-firstlast="true"
              cs-first-page-text="First"
              cs-last-page-text="Last"
              cs-pager-li-current-class="active"
              cs-pager-li-non-active-class="disabled"
              cs-pager-ul-class="pagination"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link"></cs-pager>
</div>