﻿@model PagedUsersListViewModel

@{ ViewData["Title"] = "Users Management"; }

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet" );
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Users Manager"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <a asp-controller="Register" asp-action="Index" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a><br />

                            </div>
                        </div>
                        <div id="gridcontainer" class="mt-5">
                            <partial name="_UsersList" model="Model" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
