﻿@model PagedUsersListViewModel
@{
    ViewData["Title"] = "";
}
<h2>
    @ViewData["Title"]
</h2>
<div id="gridcontainer" class="top30">
    <partial name="_UsersList" model="Model" />
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); //
                var userId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Delete", "UsersManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDeleteUser", "UsersManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": userId }),
                    loginUrl: '/admin/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });
        });
    </script>
}