﻿@model IEnumerable<AssignedStuffData>

<table id="stuffsTable" style="width:100%;" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Assigned)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>


        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr id="ApproveStat-@item.StuffId">
                    <td>
                        <input type="checkbox"
                               name="selected"
                               value="@item.StuffId"
                               @(Html.Raw(item.Assigned ? "checked=\"checked\"" : "")) />

                        @*<input asp-for="@item.Assigned" class="form-control" />*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                </tr>
            }
        }

    </tbody>
</table>