﻿@model HRMNet.Models.Learning.Course

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory1
@{ var sharedLocalizer1 = HtmlLocalizerFactory1.Create(
        baseName: "SharedResource",
        location: "HRMNet");
    
    var localization1 = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer1["Edit"] </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="CourseName" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="StartDate" class="control-label"></label>
                                                <input type="date" asp-for="StartDate" class="form-control" />
                                                <span asp-validation-for="StartDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="EndDate" class="control-label"></label>
                                                <input type="date" asp-for="EndDate" class="form-control" />
                                                <span asp-validation-for="EndDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Duration" class="control-label"></label>
                                                <input asp-for="Duration" class="form-control" />
                                                <span asp-validation-for="Duration" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <textarea asp-for="Description" class="form-control"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <label asp-for="CreatorId" class="control-label"></label>
                                            <input asp-for="CreatorId" class="form-control" />
                                            <span asp-validation-for="CreatorId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CreatedDateTime" class="control-label"></label>
                                            <input asp-for="CreatedDateTime" class="form-control" />
                                            <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CreatedByBrowserName" class="control-label"></label>
                                            <input asp-for="CreatedByBrowserName" class="form-control" />
                                            <span asp-validation-for="CreatedByBrowserName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CreatorIp" class="control-label"></label>
                                            <input asp-for="CreatorIp" class="form-control" />
                                            <span asp-validation-for="CreatorIp" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ModifierId" class="control-label"></label>
                                            <input asp-for="ModifierId" class="form-control" />
                                            <span asp-validation-for="ModifierId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ModifiedDateTime" class="control-label"></label>
                                            <input asp-for="ModifiedDateTime" class="form-control" />
                                            <span asp-validation-for="ModifiedDateTime" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ModifiedByBrowserName" class="control-label"></label>
                                            <input asp-for="ModifiedByBrowserName" class="form-control" />
                                            <span asp-validation-for="ModifiedByBrowserName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ModifierIp" class="control-label"></label>
                                            <input asp-for="ModifierIp" class="form-control" />
                                            <span asp-validation-for="ModifierIp" class="text-danger"></span>
                                        </div>*@
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <partial name="_staffs" model="ViewBag.Staffs" />
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer1["Save"]" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <a asp-action="Index">@sharedLocalizer1["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        jQuery.validator.addMethod("greaterThan",
            function (value, element, params) {

                if (!/Invalid|NaN/.test(new Date(value))) {
                    return new Date(value) > new Date($(params).val());
                }

                return isNaN(value) && isNaN($(params).val())
                    || (Number(value) > Number($(params).val()));
            }, 'Must be greater than {0}."]');


        $(function () {

            $("#EndDate").rules('add', { greaterThan: "#StartDate" });

            $('#stuffsTable').DataTable({
                language: {
                    url: '@localization1'
                }

            });
        });
    </script>
}
