﻿@model IEnumerable<HRMNet.Models.Learning.Course>

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet");

    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Courses"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <security-trimming asp-controller="Courses" asp-action="Create">
                                    <a asp-action="Create" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a><br />
                                </security-trimming>
                            </div>
                            <div class="col-2">
                                <security-trimming asp-controller="Courses" asp-action="Export">
                                    <form asp-action="Export" method="post">
                                        <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />

                                    </form>
                                </security-trimming>
                            </div>
                        </div>


                        <table id="coursesTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.CourseName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.Professor)
                                        </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.Duration)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.CreatorId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDateTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedByBrowserName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatorIp)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModifierId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModifiedDateTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModifiedByBrowserName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModifierIp)
                                        </th>*@
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.Professor)
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.CreatorId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDateTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedByBrowserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatorIp)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModifierId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModifiedDateTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModifiedByBrowserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModifierIp)
                                            </td>*@
                                    <td>
                                        <security-trimming asp-controller="Courses" asp-action="Edit">
                                            <a asp-action="Edit" asp-route-id="@item.Id">@sharedLocalizer["Edit"]</a> |
                                        </security-trimming>
                                        <security-trimming asp-controller="Courses" asp-action="Details">
                                            <a asp-action="Details" asp-route-id="@item.Id">@sharedLocalizer["Details"]</a> |
                                        </security-trimming>
                                        <security-trimming asp-controller="Courses" asp-action="Delete">
                                        <a asp-action="Delete" asp-route-id="@item.Id">@sharedLocalizer["Delete"]</a>
                                        </security-trimming>
                                    </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {

            $('#coursesTable').DataTable({
                language: {
                    url: '@localization'
                },
            });



        });

    </script>

}