﻿@model EmailViewModel

@{
    Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml";
}

    <div align="left" style="font-family: Tahoma; font-size: 10pt; line-height:30px;">
        <p><span>Merhaba @Model.Name, </span></p>
        <p>
            @Model.Content
        </p>
        
        <p>Teşekkürler, İyi çalışmalar dileriz</p>
    </div>
<br />
<div style="line-height:25px;">
    <span>
        Tel:
        0 (212) 942 60 18
    </span><br />

    <span style="font-size:12pt;color:#2F5496">@Model.Username</span><br />

    <span style="color:#2F5496">Recruiter Assistant Specialist</span><br />
    <b>
        <span style='font-size:10pt;color:black;background:white'>Phone:&nbsp; </span>
    </b>
    <span style='font-size:10pt;color:#797979;background:white'>+90</span>
    <span style='font-size:10pt;color:#333333;border:none windowtext 1pt;padding:0;background:white'> </span>
    <span style='font-size:10pt;color:#797979;background:white'>212 942 60 18 </span><br />

    <b>
        <span style='font-size:10pt;color:black;background:white'>Mobile</span>
    </b>
    <b>
        <span style='font-size:10pt;color:#797979;background:white'>:</span>
    </b>
    <span style='font-size:10pt;color:#797979;background:white'>@Model.Usermobile</span>
    <b>
        <span style='font-size:10pt'></span>
    </b><br />

    <b>
        <span style='font-size:10pt;color:black;background:white'>Fax:</span>
    </b>
    <b>
        <span style='font-size:10pt;color:#797979;background:white'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </b>
    <span style='font-size:10pt;color:#797979;background:white'>+90</span>
    <span style='font-size:10pt;color:#333333;border:none windowtext 1pt;padding:0;background:white'> </span>
    <span style='font-size:10pt;color:#797979;background:white'>850 220 04 51</span>
    <b>
        <span style='font-size:10pt'></span>
    </b><br />

    <b>
        <span style='font-size:10pt;color:black;background:white'>Email:</span>
    </b>
    <b>
        <span style='font-size:10pt;color:#797979;background:white'>&nbsp;</span>
    </b>
    <a href="mailto:@Model.Useremail">
        <b>
            <span style='font-size:10pt;color:#2F5496;background:white'>@Model.Useremail</span>
        </b>
    </a><b>
        <span style='font-size:10pt;color:#2F5496;background:white'></span>
    </b>

    <b>
        <span style='font-size:10pt;color:#2F5496;background:white'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </b><br />
    <a href="http://www.vitelco.com.tr/">
        <b>
            <span style='font-size:10pt;color:#2F5496;background:white'>www.vitelco.com.tr</span>
        </b>
    </a>
    <b>
        <span style='font-size:10pt;color:#2F5496;background:white'></span>
    </b>
</div>
