﻿@model ChangePasswordNotificationViewModel
@{ Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml"; }

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet"); }

&nbsp; @sharedLocalizer["Hello"]
<br />
&nbsp; @sharedLocalizer["Your paswword successfully changed."]
<br />
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    @sharedLocalizer["Username (for login)"] : @Model.User.UserName
    <br />
    @sharedLocalizer["Nikname (For showing on the site)"] : @Model.User.DisplayName
    <br />
    <br />
    @sharedLocalizer["For forgotten password recovery, you can use the below link anytime"]:
    <br />
    <div align="center">
        <a href="@Url.Action("Index","ForgotPassword", values: new { area = "" }, protocol: this.Context.Request.Scheme)">
            @sharedLocalizer["Password recovery"]

        </a>
    </div>
</div>
<br />
<br />
&nbsp;@sharedLocalizer["Sincerely yours"]
<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home", values: new { area = "" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>

<br />
<span lang="fa" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />