﻿@model EmailViewModel

@{
    Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml";
}

<div align="left" style="font-family: Tahoma; font-size: 10pt; line-height:30px;">
    Merhaba @Model.Name, <br />
    @*<span style="color:#5B9BD5">Şirketimize Hoşgeldiniz.</span><br />
    Tüm iş görüşmesi süreçlerini başarıyla tamamladığınız için sizi gönülden tebrik ederiz.<br />
    İşe giriş için görüşmemizde belirttiğimiz evrakların listesi ektedir.<br />
    Soft Copy (*Yıldızlı Evraklar) evrakları en hızlı şekilde bizimle paylaşmanızı rica edeceğiz.<br />
    Diğer evrakları sözleşme imzalamak üzere geldiğinizde teslim edecek şekilde planlayabilirsiniz.<br />
    Not: Geçici Kaynak Bilgi Formunda 2. Sayfada acil durumda ulaşılması gereken kişiler bölümüne “Vitelco Bilişim Hizmetleri” yazmanız gerekmektedir.<br />*@
<p>
    Telefondaki görüşmemize istinaden Word formatındaki güncel İngilizce özgeçmişinizi göndermenizi beklemekteyim.<br /><br />

    Desteğiniz için çok teşekkür ederim.<br />

    Saygılarımla
</p>
</div>
<br />
<div style="line-height:25px;">
    @*<span>
        Tel:
        0 (212) 942 60 18
    </span><br />*@

    <span style="font-size:12pt;color:#2F5496">@Model.Username</span><br />

    <span style="color:#2F5496">Recruitment and Talent Management Assistant </span><br />
    
        <b>
            <span style='font-size:10pt;color:black;background:white'>Phone:&nbsp; </span>
        </b>
        <span style='font-size:10pt;color:#797979;background:white'>+90</span>
        <span style='font-size:10pt;color:#333333;border:none windowtext 1pt;padding:0;background:white'> </span>
        <span style='font-size:10pt;color:#797979;background:white'>212 366 58 09 </span><br />

        <b>
            <span style='font-size:10pt;color:black;background:white'>Mobile</span>
        </b>
        <b>
            <span style='font-size:10pt;color:#797979;background:white'>:</span>
        </b>
        <span style='font-size:10pt;color:#797979;background:white'>@Model.Usermobile</span>
        <b>
            <span style='font-size:10pt'></span>
        </b><br />

        <b>
            <span style='font-size:10pt;color:black;background:white'>Fax:</span>
        </b>
        <b>
            <span style='font-size:10pt;color:#797979;background:white'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        </b>
        <span style='font-size:10pt;color:#797979;background:white'>+90</span>
        <span style='font-size:10pt;color:#333333;border:none windowtext 1pt;padding:0;background:white'> </span>
        <span style='font-size:10pt;color:#797979;background:white'>212 286 39 24</span>
        <b>
            <span style='font-size:10pt'></span>
        </b><br />

        <b>
            <span style='font-size:10pt;color:black;background:white'>Email:</span>
        </b>
        <b>
            <span style='font-size:10pt;color:#797979;background:white'>&nbsp;</span>
        </b>
        <a href="mailto:@Model.Useremail">
            <b>
                <span style='font-size:10pt;color:#2F5496;background:white'>@Model.Useremail</span>
            </b>
        </a><b>
            <span style='font-size:10pt;color:#2F5496;background:white'></span>
        </b>

        <b>
            <span style='font-size:10pt;color:#2F5496;background:white'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        </b><br />
        <a href="http://www.vitelco.com.tr/">
            <b>
                <span style='font-size:10pt;color:#2F5496;background:white'>www.vitelco.com.tr</span>
            </b>
        </a>
        <b>
            <span style='font-size:10pt;color:#2F5496;background:white'></span>
        </b>
</div>
