﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type='text/css'>
        img {
            border: 0 none;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }

        code {
            padding: 2px 4px;
            color: #d14;
            white-space: nowrap;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
        }

        pre {
            display: block;
            padding: 9.5px;
            margin: 10px 0 10px 0;
            font-size: 12px;
            line-height: 20px;
            word-break: break-all;
            word-wrap: break-word;
            white-space: pre;
            white-space: pre-wrap;
            background-color: #f5f5f5;
            border: 1px solid lightgray;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            direction: ltr;
        }

        .main {
            font-size: 9pt;
            font-family: Tahoma;
            margin-top: 10px;
            direction: ltr;
            text-align: left;
            word-wrap: break-word;
            overflow: hidden;
            color: #4B4F54;
            padding: 5px;
            background-color: white;
            max-width: 720px;
            margin: 0 auto;
        }

        a:link, a:visited {
            text-decoration: none;
            color: #40889f;
        }

        a:active {
            text-decoration: underline;
        }

        a:hover {
            text-decoration: underline;
            color: #ff5a00;
        }
    </style>
</head>
<body style="font-size: 9pt; font-family: Tahoma; direction: ltr;">
    
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr style="padding: 0;">
            <td align="left" style="padding: 0;">
                @RenderBody()
            </td>
        </tr>
        <tr style="padding: 0;">
            <td align="left" style="padding: 0;" valign="top">
                <img src="logo.png" />
            </td>
        </tr>
    </table>
</body>
</html>