﻿@model PasswordResetViewModel
@{ Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml"; }

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet"); }

&nbsp; @sharedLocalizer["Hello"]
<br />
&nbsp; @sharedLocalizer["Someone has requested to recover your forgotten password. If this request belongs to you, please click on the link below"] :
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    <div align="center">
        <a href="@Url.Action("ResetPassword","ForgotPassword", values: new { userId = Model.UserId, code = Model.Token, area = "" }, protocol: this.Context.Request.Scheme)">
            @sharedLocalizer["Recover forgotten password"]

        </a>
    </div>
</div>
<br />
<br />
&nbsp;@sharedLocalizer["Sincerely yours"]
<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home", values: new { area = "" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>
<br />
<span lang="fa" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />
