﻿@model RegisterEmailConfirmationViewModel
@{ Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml"; }

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet"); }

&nbsp; @sharedLocalizer["Hello"]
<br />
&nbsp; @sharedLocalizer["Your account was created with the following details"]:
<br />
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    @sharedLocalizer["Username (for login)"] :@Model.User.UserName
    <br />
    @sharedLocalizer["Nikname (display only)"]: @Model.User.DisplayName
    <br />
    <br />
    @sharedLocalizer["Please click on the link below to activate your account"]:
    <br />
    <div align="center">
        <a href="@Url.Action("ConfirmEmail", "Register", values: new { userId = Model.User.Id, code = Model.EmailConfirmationToken, area = "" }, protocol: this.Context.Request.Scheme)">
            @sharedLocalizer["Account activation"]

        </a>
    </div>
    <br />
    <br />
    @sharedLocalizer["You can also use the following address at any time to recover your forgotten password"]:
    <br />
    <div align="center">
        <a href="@Url.Action("Index", "ForgotPassword", values: new { area = "" }, protocol: this.Context.Request.Scheme)">
            @sharedLocalizer["Password recovery"]

        </a>
    </div>
</div>
<br />
<br />
&nbsp;@sharedLocalizer["Sincerely yours"]
<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home", values: new { area = "" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>

<br />
<span lang="fa" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />
