﻿@model EmailViewModel

@{
    Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml";
}

    <div align="left" style="font-family: Tahoma; font-size: 10pt; line-height:30px;">
        <p><span>Merhaba @Model.Name, </span></p>
        <p>
            Şirketimiz uzantılı E-Posta hesabınızı ve VITELCO HRM Portal
            hesabınızı oluşturduk.
        </p>
        <p>
            <span style="font-weight:bold;">
                E-POSTA HESAP BİLGİLERİNİZ:
            </span>
        </p>
        <p>
            <span>
                E-posta
                hesabınıza aşağıda paylaştığımız internet arayüzünden kolaylıkla
                erişebilirsiniz.
            </span>
        </p>
        <p>
            <b>
                <span style='color:black'>
                    Web
                    Adresi:
                </span>
                <span style='color:#0563C1'>
                    <a href="http://webmail.vitelco.com.tr/">http://webmail.vitelco.com.tr/</a>
                </span>
            </b>
        </p>
        <p>
            <b>
                <span style='color:black'>
                    E-Posta Adresi:
                </span>
                <span style='color:#0563C1'>
                    <a href="mailto:atilgan@vitelco.com.tr">@Model.Email</a>
                </span>
            </b>
        </p>
        <p>
            <b>
                <span style='color:black'>
                    Şifre:
                </span>
                <span style='color:#0563C1'>
                    @Model.EmailPassword
                </span>
            </b>
        </p>

        <p>
            <span style='color:#222222'>
                Outlook
                konfigurasyonunu Giden/Gelen sunucu bilgisini&nbsp;<a href="http://srvc129.turhost.com/" target="_blank">srvc129.turhost.com</a>&nbsp;şeklinde
                ayarlayarak
            </span>
        </p>
        <p>
            <a href="https://destek.turhost.com/outlook-2013-e-posta-hesabi-kurulumu-pop3/">https://destek.turhost.com/outlook-2013-e-posta-hesabi-kurulumu-pop3/</a>
            <span style='color:#222222'>linkinde anlatıldığı gibi yapabilirsiniz.</span>
        </p>
        <p>
            <span style="font-weight:bold;">
                VITELCO HRM PORTAL HESAP BİLGİLERİNİZ:
            </span>
        </p>
        <p><b>Adres: </b>hrm.vitelco.com.tr</p>
        <p><b>Kullanıcı Adı:</b> @Model.PortalUsername</p>
        <p><b>Şifre:</b> @Model.PortalPassword</p>
        <p>
            Erişim sıkıntılarınızda yardım almak için <a href="mailto:it_support@vitelco.com.tr">it_support@vitelco.com.tr</a> adresine
            mail atarak yardım alabilirsiniz.
        </p>

        <p>Saygılarımızla / Best Regards</p>
    </div>
<br />
<div style="line-height:25px;">
    <span>
        Tel:
        0 (212) 942 60 18
    </span><br />

    <span style="font-size:12pt;color:#2F5496">@Model.Username</span><br />

    <span style="color:#2F5496">Recruiter Assistant Specialist</span><br />
    <b>
        <span style='font-size:10pt;color:black;background:white'>Phone:&nbsp; </span>
    </b>
    <span style='font-size:10pt;color:#797979;background:white'>+90</span>
    <span style='font-size:10pt;color:#333333;border:none windowtext 1pt;padding:0;background:white'> </span>
    <span style='font-size:10pt;color:#797979;background:white'>212 942 60 18 </span><br />

    <b>
        <span style='font-size:10pt;color:black;background:white'>Mobile</span>
    </b>
    <b>
        <span style='font-size:10pt;color:#797979;background:white'>:</span>
    </b>
    <span style='font-size:10pt;color:#797979;background:white'>@Model.Usermobile</span>
    <b>
        <span style='font-size:10pt'></span>
    </b><br />

    <b>
        <span style='font-size:10pt;color:black;background:white'>Fax:</span>
    </b>
    <b>
        <span style='font-size:10pt;color:#797979;background:white'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </b>
    <span style='font-size:10pt;color:#797979;background:white'>+90</span>
    <span style='font-size:10pt;color:#333333;border:none windowtext 1pt;padding:0;background:white'> </span>
    <span style='font-size:10pt;color:#797979;background:white'>850 220 04 51</span>
    <b>
        <span style='font-size:10pt'></span>
    </b><br />

    <b>
        <span style='font-size:10pt;color:black;background:white'>Email:</span>
    </b>
    <b>
        <span style='font-size:10pt;color:#797979;background:white'>&nbsp;</span>
    </b>
    <a href="mailto:@Model.Useremail">
        <b>
            <span style='font-size:10pt;color:#2F5496;background:white'>@Model.Useremail</span>
        </b>
    </a><b>
        <span style='font-size:10pt;color:#2F5496;background:white'></span>
    </b>

    <b>
        <span style='font-size:10pt;color:#2F5496;background:white'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </b><br />
    <a href="http://www.vitelco.com.tr/">
        <b>
            <span style='font-size:10pt;color:#2F5496;background:white'>www.vitelco.com.tr</span>
        </b>
    </a>
    <b>
        <span style='font-size:10pt;color:#2F5496;background:white'></span>
    </b>
</div>
