﻿@model string
@{
    Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml";
}
@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet"); }

&nbsp; @sharedLocalizer["Hello"]
<br />
&nbsp; @sharedLocalizer["The desired file was sent."]
<br />
<br />
<br />
&nbsp;@sharedLocalizer["Sincerely yours"]
<br />

<br />
<span lang="fa" dir="rtl">
    &nbsp;&nbsp;
    @Model
</span>
<br />