﻿@model TwoFactorSendCodeViewModel
@{ Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml"; }

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet"); }

&nbsp; @sharedLocalizer["Hello"]
<br />
&nbsp;@sharedLocalizer["Your new two-step validation code is"]:
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    <div align="center" dir="ltr">
        @Model.Token
    </div>
</div>
<br />
<br />
&nbsp;@sharedLocalizer["Sincerely yours"]
<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home" , values: new { area="" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>
<br />
<span lang="fa" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />