﻿@model UserProfileUpdateNotificationViewModel
@{ Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml"; }

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet"); }

&nbsp; @sharedLocalizer["Hello"]
<br />
&nbsp; @sharedLocalizer["Your account settings have been edited with the following specifications"] :
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    @sharedLocalizer["Username (for login)"] : @Model.User.UserName
    <br />
    @sharedLocalizer["Nikname (display only)"]: @Model.User.DisplayName
</div>
<br />
<br />
&nbsp; @sharedLocalizer["Sincerely yours"]
<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home", values: new { area = "" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>

<br />
<span lang="fa" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />