﻿@model HRMNet.Models.Candidates.CandidateCourse

@{
    ViewData["Title"] = "Details";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Detail"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Candidate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Candidate.Email)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Course)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Course.Id)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Professor)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Professor)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <a asp-action="Edit" asp-route-id="@Model.Id">@sharedLocalizer["Edit"]</a> |
                        <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

