﻿@model HRMNet.Models.Candidates.CandidateCourse

@{
    ViewData["Title"] = "Edit";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">

                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="CandidateId" class="control-label"></label>
                                                @Html.DropDownListFor(x => x.CandidateId, new SelectList(ViewBag.CandidateId, "Id", "DisplayName"), " Select ...", new { @class = "form-control" })
                                                @*<select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateId"></select>*@
                                                <span asp-validation-for="CandidateId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Course.CourseName" class="control-label"></label>
                                                @Html.DropDownListFor(x => x.CourseId, new SelectList(ViewBag.CourseId, "Id", "Name"), " Select ...", new { @class = "form-control" })
                                                @*<select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>*@
                                                <span asp-validation-for="CourseId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Professor" class="control-label"></label>
                                                <input asp-for="Professor" class="form-control" />
                                                <span asp-validation-for="Professor" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StartDate" class="control-label"></label>
                                                <input type="date" asp-for="StartDate" class="form-control" />
                                                <span asp-validation-for="StartDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="EndDate" class="control-label"></label>
                                                <input type="date" asp-for="EndDate" class="form-control" />
                                                <span asp-validation-for="EndDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <textarea asp-for="Description" class="form-control"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Save"]" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

    function ClearAll() {
        $('#Name').val('');
        $('#StartDate').val('');
        $('#EndDate').val('');
        $('#Description').val('');
    }


    function fetchDetail(id) {
        $.ajax({
            type: "POST",
            url: "/Courses/GetCourseById",
            data: { id: id },
            success: function (result) {

                //console.log(result);
                $('#Name').val(result.name);
                $('#StartDate').val(result.startDate);
                $('#EndDate').val(result.endDate);
                $('#Description').val(result.description);

            },
            error: function (response) {
                //$.unblockUI();
                alert('Fetching error');
            }
        });
    }



    $(document).ready(function () {
        if ('@Model.CourseId' !='')
        {
            fetchDetail(@Model.CourseId);
            $("#Name").prop("disabled", true);
            $("#StartDate").prop("disabled", true);
            $("#EndDate").prop("disabled", true);
            $("#Description").prop("disabled", true);
        }


        $('#CourseId').change(function () {
            ClearAll();
            var selectedValue = $(this).val();

            //alert(selectedValue);

            if (selectedValue === '') {
                $("#Name").prop("disabled", false);
                $("#StartDate").prop("disabled", false);
                $("#EndDate").prop("disabled", false);
                $("#Description").prop("disabled", false);

            }
            else {

                fetchDetail(selectedValue);

                $("#Name").prop("disabled", true);
                $("#StartDate").prop("disabled", true);
                $("#EndDate").prop("disabled", true);
                $("#Description").prop("disabled", true);


            }

        });

    });
    </script>

}
