﻿@model IEnumerable<HRMNet.Models.Candidates.CandidateCourse>

@{
    ViewData["Title"] = "Index";
    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        td.details-control {
            background: url('images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('images/details_close.png') no-repeat center center;
        }
    </style>
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
         baseName: "SharedResource",
         location: "HRMNet"); }


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Employee Courses"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <security-trimming asp-controller="CandidateCourses" asp-action="Create">
                                    <a asp-action="Create" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a><br />
                                </security-trimming>
                            </div>
                            <div class="col-2">
                                <security-trimming asp-controller="CandidateCourses" asp-action="ExportCandidatesCourses">
                                    <form asp-action="ExportCandidatesCourses" method="post">
                                        <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />

                                    </form>
                                </security-trimming>
                            </div>
                        </div>
                        <table id="coursesTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Candidate.StuffDetail.BirthCertificateNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Candidate.DisplayName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalInternal)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalExternal)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Total)
                                    </th>

                                    @*<th>
                                            @Html.DisplayNameFor(model => model.Course.CourseName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsInternal)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Course.StartDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Course.EndDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Course.Duration)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Course.Description)
                                        </th>*@


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="details-control">
                                            @Html.HiddenFor(modelItem => item.CandidateId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CandidateDisplayName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalInternal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalExternal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>

                                        @*<td>
                                                @if (item.CourseId > 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Course.Name)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                }

                                            </td>
                                            <td>
                                                @if (item.CourseId > 0)
                                                {
                                                    @Html.CheckBox("IsInternal", true, new { @disabled = "disabled" });
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("IsInternal", false, new { @disabled = "disabled" });
                                                }
                                            </td>
                                            <td>
                                                @if (item.CourseId > 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Course.StartDate)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.StartDate)
                                                }


                                            </td>
                                            <td>
                                                @if (item.CourseId > 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Course.EndDate)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.EndDate)
                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Course.Duration)
                                            </td>
                                            <td>
                                                @if (item.CourseId > 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Course.Description)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                }


                                            </td>*@

                                        <!--<td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |-->
                                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                        <!--<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>-->
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {

            var table = $('#coursesTable').DataTable({
                language: {
                    url: '@localization'
                }
                //"scrollX": true,
                //"scrollCollapse": true,
                //"columnDefs": [
                //    { className: "td-text-left", targets: "_all" },
                //    { width: "60px", targets: [0] },
                //    { width: "150px", targets: [1] },
                //    { width: "150px", targets: [2] },
                //    { width: "60px", targets: [3] },
                //    { width: "80px", targets: [4] },
                //    { width: "80px", targets: [5] },
                //    { width: "80px", targets: [6] },
                //    { width: "150px", targets: [7] },
                //    { width: "80px", targets: [8] },



                //]
            });
                //.columns.adjust().responsive.recalc();

            $('#coursesTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var id = tr.find('#item_CandidateId').val();

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    debugger;
                    // Open this row
                    format(id, row);
                    tr.addClass('shown');
                }
            });

            function format(d, row) {
                // `d` is the original data object for the row
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/CandidateCourses/GetCandidateCourses",
                    //contentType: "application/json;charset=utf-8",
                    data: { id: d },
                    //dataType: "json",
                    success: function (result) {
                        row.child(result).show();
                        return result;
                    },
                    error: function (response) {
                        //$.unblockUI();
                        //return "";
                        alert('Fetching Leaves got error');
                    }
                });
            }
        });

    </script>

}