﻿@model HRMNet.Models.Candidates.Disciplin

@{
    ViewData["Title"] = "Create";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/bootstrapfileinput/fileinput.css" />
    <link rel="stylesheet" href="~/js/bootstrapfileinput/themes/explorer-fas/theme.css" />
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.css">
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet");
    
    var fileInputLocalization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "tr" : "en";

}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Create"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form asp-action="Create" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Candidate.Name" class="control-label"></label>
                                                @Html.DropDownListFor(x => x.CandidateId, new SelectList(ViewBag.CandidateId, "Id", "DisplayName"), " Select ...", new { @class = "form-control" })
                                                @*<select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateId"></select>*@
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="ActionType" class="control-label"></label>
                                                <select asp-for="ActionType" asp-items="@Html.GetEnumSelectList<DisciplinResult>()" class="form-control">
                                                    <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                                </select>
                                                <span asp-validation-for="ActionType" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Subject" class="control-label"></label>
                                                <input asp-for="Subject" class="form-control" />
                                                <span asp-validation-for="Subject" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DefenseDate" class="control-label"></label>
                                                <input asp-for="DefenseDate" class="form-control" />
                                                <span asp-validation-for="DefenseDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="NotificationDate" class="control-label"></label>
                                                <input asp-for="NotificationDate" class="form-control" />
                                                <span asp-validation-for="NotificationDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <textarea asp-for="Description" class="form-control"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <input id="files" name="files" type="file" multiple>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <br />
                                        <input type="submit" value="@sharedLocalizer["Create"]" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrapfileinput/plugins/piexif.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/fileinput.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/locales/tr.js"></script>
    <script src="~/js/bootstrapfileinput/themes/explorer-fas/theme.min.js"></script>

    <script>

        jQuery.validator.addMethod("passed",
            function (value, element) {
                var currentDate = new Date();

                if (!/Invalid|NaN/.test(new Date(value))) {
                    return new Date(value) < currentDate;
                }

                return isNaN(value)
                    || (Number(value) > Number(currentDate));

            }
            , "@sharedLocalizer["Please enter only passed dates"]");


        $(function () {
            $("#files").fileinput({
                language: "@fileInputLocalization",
                //rtl: true,
                theme: 'explorer-fas',
                overwriteInitial: false,
                previewFileType: 'any',
                allowedFileTypes: null, // ["image", "pdf", "doc"],
                initialPreviewAsData: true,
                showUpload: false,
            });

            $("#DefenseDate").rules('add', 'passed');
            $("#NotificationDate").rules('add', 'passed');

        });

    </script>

}