﻿@model HRMNet.Models.Candidates.CandidateInventory

@{
    ViewData["Title"] = "Edit";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet" );
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="Id" type="hidden" class="form-control" />

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="EmployeeName" class="control-label"></label>
                                                <select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateId"></select>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="OperationType" class="control-label"></label>
                                                <select asp-for="OperationType" asp-items="@Html.GetEnumSelectList<OperationType>()" class="form-control"></select>

                                                <span asp-validation-for="OperationType" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.InventoryType.Name" class="control-label"></label>
                                                @Html.DropDownListFor(x => x.Inventory.InventoryTypeId, new SelectList(ViewBag.InventoryTypeId, "Id", "Name"), " Select ...", new { @class = "form-control" })
                                                @*<select asp-for="Inventory.InventoryTypeId" class="form-control" asp-items="ViewBag.InventoryTypeId"></select>*@
                                                <span asp-validation-for="Inventory.InventoryTypeId" class="text-danger"></span>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.InventoryNumber" class="control-label"></label>

                                                @*@Html.DropDownListFor(x => x.Inventory.InventoryNumber, new SelectList(), " Select ...", new { @class = "form-control" })*@
                                                @*<select asp-for="Inventory.InventoryNumber" class="form-control" asp-items="ViewBag.InventoryNumbers"></select>*@
                                                @Html.DropDownListFor(x => x.InventoryId, new SelectList(ViewBag.InventoryNumbers, "Id", "InventoryNumber"), " Select ...", new { @class = "form-control" })

                                                <span asp-validation-for="InventoryId" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DeliveryDate" class="control-label"></label>
                                                <input asp-for="DeliveryDate" class="form-control" />
                                                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Status" class="control-label"></label>
                                                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<InventoryStatus>()" class="form-control"></select>

                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.Brand" class="control-label"></label>
                                                <input id="Brand" class="form-control" readonly="readonly" />

                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.Model" class="control-label"></label>
                                                <input id="Model" class="form-control" readonly="readonly" />
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.SerialNumber" class="control-label"></label>
                                                <input id="SerialNumber" class="form-control" readonly="readonly" />
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.WindowsUsername" class="control-label"></label>
                                                <input id="WindowsUsername" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.WindowsUsername" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.WindowsUserPassword" class="control-label"></label>
                                                <input id="WindowsUserPassword" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.WindowsUserPassword" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.PasswordHint" class="control-label"></label>
                                                <input id="PasswordHint" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.PasswordHint" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Inventory.OfficeProgram" class="control-label"></label>
                                                <input id="OfficeProgram" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.OfficeProgram" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Inventory.OfficeProgramKey" class="control-label"></label>
                                                <input id="OfficeProgramKey" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.OfficeProgramKey" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Inventory.VirusProgram" class="control-label"></label>
                                                <input id="VirusProgram" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.VirusProgram" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Inventory.VirusProgramPassword" class="control-label"></label>
                                                <input id="VirusProgramPassword" class="form-control " readonly="readonly" />
                                                <span asp-validation-for="Inventory.VirusProgramPassword" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.Windows" class="control-label"></label>
                                                <input id="Windows" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.Windows" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.WindowsPassword" class="control-label"></label>
                                                <input id="WindowsPassword" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.WindowsPassword" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Inventory.PurchasedLocationAndDate" class="control-label"></label>
                                                <input id="PurchasedLocationAndDate" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="Inventory.PurchasedLocationAndDate" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Edit"]" class="btn btn-primary" />| <a asp-action="DeliveredInventories" class="btn btn-default">@sharedLocalizer["Cancel"]</a>
                                    </div>


                                </form>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

        $(document).ready(function () {
            //fetchItems(@Model.Inventory.InventoryTypeId);

            $(document).on('change', '#Inventory_InventoryTypeId', function (e) {
                //e.preventDefault();

                var id = $(this).val();
                var type = $("#OperationType").val();
                var candidateId = $("#CandidateId").val();
                //alert(id);
                fetchItems(id, type,candidateId);

            });

            $(document).on('change', '#CandidateId', function (e) {
                clearAll();
            });

            $(document).on('change', '#OperationType', function (e) {
                clearAll();
            });

            $(document).on('change', '#InventoryId', function (e) {
                //e.preventDefault();

                var id = $(this).val();
                fetchDetail(id)

            });

            fetchDetail(@Model.InventoryId);
        });

        function fetchDetail(id) {
            $.ajax({
                type: "POST",
                url: "/Inventories/GetInventoryById",
                //contentType: "application/json;charset=utf-8",
                data: { id: id },
                //dataType: "json",
                success: function (result) {
                    console.log(result);
                    console.log(result.brand);
                    //var res = jQuery.parseJSON(result);
                    //var res = JSON.parse(result)
                    //debugger;
                    //alert(res.Brand);
                    //alert(res[0].Brand);
                    //alert(res.Brand);
                    //alert(result.Brand);
                    $('#InventoryId').val(result.id);
                    $('#Brand').val(result.brand);
                    $('#Model').val(result.model);
                    $('#SerialNumber').val(result.serialNumber);
                    $('#WindowsUsername').val(result.windowsUsername);
                    $('#WindowsUserPassword').val(result.windowsUserPassword);
                    $('#PasswordHint').val(result.passwordHint);
                    $('#OfficeProgram').val(result.officeProgram);
                    $('#OfficeProgramKey').val(result.officeProgramKey);
                    $('#VirusProgram').val(result.virusProgram);
                    $('#VirusProgramPassword').val(result.virusProgramPassword);
                    $('#Windows').val(result.windows);
                    $('#WindowsPassword').val(result.windowsPassword);
                    $('#PurchasedLocationAndDate').val(result.purchasedLocationAndDate);


                },
                error: function (response) {
                    //$.unblockUI();
                    alert('@sharedLocalizer["Fetching Error"]');
                }
            });

    }

    function clearAll() {

        $("#Inventory_InventoryTypeId").val(0);
        $("#InventoryId > option").remove();
        $('#InventoryId').val('');
        $('#Brand').val('');
        $('#Model').val('');
        $('#SerialNumber').val('');
        $('#WindowsUsername').val('');
        $('#WindowsUserPassword').val('');
        $('#PasswordHint').val('');
        $('#OfficeProgram').val('');
        $('#OfficeProgramKey').val('');
        $('#VirusProgram').val('');
        $('#VirusProgramPassword').val('');
        $('#Windows').val('');
        $('#WindowsPassword').val('');
        $('#PurchasedLocationAndDate').val('');
    }


        function fetchItems(id, type,candidateId) {
            $.ajax({
                type: "POST",
                url: "/Inventories/GetByCategoryId",
                //contentType: "application/json;charset=utf-8",
                data: { id: id ,type: type, candidateId: candidateId },
                //dataType: "json",
                success: function (result) {
                    clearAll();

                    $('select[name="InventoryId"] > option').remove();
                    $('select[name="InventoryId"]')
                        .append($("<option></option>")
                            .attr("value", '0')
                            .text('Please Select ...'));
                    $.each(result, function () {
                        $('select[name="InventoryId"]')
                            .append($("<option></option>")
                                .attr("value", this.value)
                                .text(this.text));
                    });
                    //$.unblockUI();
                },
                error: function (response) {
                    //$.unblockUI();
                    alert('@sharedLocalizer["Fetching Error"]');
                }
            });
        }

</script>
}

