﻿@model LoginViewModel

@{

    ViewData["Title"] = "Login";
    //Layout = null;

}

@section styles
{
    <style>
        .login {
            min-width: 500px;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem
        }
    </style>


}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<div class="offset-md-3 col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@sharedLocalizer["Login"]</h5>
        </div>
        <div class="card-body">
            <form asp-controller="Login"
                  asp-action="Index"
                  asp-route-returnurl="@ViewData["ReturnUrl"]"
                  method="post"
                  autocomplete="off">
                <partial name="_CustomValidationSummary" />
                <div class="form-group row">
                    <label asp-for="Username" class="col-md-3 col-form-label text-md-left"></label>
                    <div class="col col-md-9">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </span>
                            <input asp-for="Username" autocomplete="off" dir="ltr" class="form-control" />
                        </div>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Password" class="col-md-3 col-form-label text-md-left"></label>
                    <div class="col col-md-9">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-asterisk"></i></span>
                            </span>
                            <input asp-for="Password" dir="ltr" class="form-control" />
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group row">
                        <label class="col col-md-3 col-form-label text-md-left">
                            Security Code
                        </label>
                        <div class="col col-md-9">
                            <dnt-captcha asp-captcha-generator-max="30"
                                         asp-captcha-generator-min="1"
                                         asp-captcha-generator-language="English"
                                         asp-captcha-generator-display-mode="SumOfTwoNumbers"
                                         asp-font-name="Tahoma"
                                         asp-font-size="20"
                                         asp-refresh-button-class="fas fa-redo btn-sm"
                                         asp-fore-color="#333333"
                                         asp-back-color="#ccc"
                                         asp-text-box-class="text-box form-control"
                                         asp-text-box-template="<div class='input-group'><span class='input-group-prepend'><span class='input-group-text'><i class='fas fa-lock'></i></span></span>{0}</div>"
                                         asp-validation-message-class="text-danger" />
                        </div>
                    </div>*@
                <div class="form-group row">
                    <div class="offset-md-3 col-md-9">
                        <div class="form-check">
                            <label asp-for="RememberMe" class="form-check-label">
                                <input class="form-check-input" asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-3 col-md-9">
                        <button type="submit" class="btn btn-info col-md-3">@sharedLocalizer["Login"]</button>
                    </div>
                </div>
            </form>
        </div>
        <footer class="card-footer">
            @*<p>
                    <a asp-action="Index" asp-controller="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</a>
                </p>*@
            <p>
                <a asp-action="Index" asp-controller="ForgotPassword">@sharedLocalizer["Are you forget your password?"]</a>
            </p>
        </footer>
    </div>
</div>
