﻿@model HRMNet.Models.Candidates.Leaves

@{
    ViewData["Title"] = "Edit";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="CandidateId" class="control-label"></label>
                                        <select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="StartDate" class="control-label"></label>
                                        <input asp-for="StartDate" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EndDate" class="control-label"></label>
                                        <input asp-for="EndDate" class="form-control" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PermissionType" class="control-label"></label>
                                        <select asp-for="PermissionType" class="form-control" asp-items="@Html.GetEnumSelectList<PermissionType>()"></select>
                                        <span asp-validation-for="PermissionType" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LeaveType" class="control-label"></label>
                                        <select asp-for="LeaveType" class="form-control" asp-items="@Html.GetEnumSelectList<LeaveType>()"></select>
                                        <span asp-validation-for="LeaveType" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <input type="hidden" asp-for="Id" />

                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Save"]" style="display: inline-block; width: 100px;" class="btn btn-primary" />
                                        <a asp-action="Index" class="btn btn-light" style="width: 100px;">@sharedLocalizer["Back"]</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
        jQuery.validator.addMethod("greaterThan",
            function (value, element, params) {

                if (!/Invalid|NaN/.test(new Date(value))) {
                    return new Date(value) > new Date($(params).val());
                }

                return isNaN(value) && isNaN($(params).val())
                    || (Number(value) > Number($(params).val()));
            }, 'Must be greater than {0}.');

        $(function () {

            $("#EndDate").rules('add', { greaterThan: "#StartDate" });

        });

</script>

}