﻿@model IEnumerable<LeaveViewModel>

@{
    ViewData["Title"] = "Index";

    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";


    double CalculateLeavesHours(double hours)
    {
        if (hours > 9 && hours <= 24)
        {
            return 1;

        }
        else if (hours > 24)
        {
            double days = 0;
            days = Math.Floor(hours / 24);
            //Math.DivRem(int.Parse(Math.Abs(hours)), 24, out days);
            double mod = hours % 24;
            double calculatedHours = (days * 8) + mod;
            return (calculatedHours / 8);

        }
        else
        {
            return (hours / 8);
        }



    }
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        td.details-control {
            background: url('images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('images/details_close.png') no-repeat center center;
        }
    </style>
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
         baseName: "SharedResource",
         location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Leaves"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <security-trimming asp-controller="Leaves" asp-action="Create">
                                    <a asp-action="Create" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a><br />
                                </security-trimming>
                            </div>
                            <div class="col-2">
                                <security-trimming asp-controller="Leaves" asp-action="ExportLeaves">
                                    <form asp-action="ExportLeaves" asp-controller="Leaves" method="post">
                                        <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />

                                    </form>
                                </security-trimming>
                            </div>
                        </div>
                        <table id="leavesTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BirthNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CandidateName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalLegalLeave)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalDayOffLeave)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalLeave)
                                    </th>

                                    @*<th>
                                            @Html.DisplayNameFor(model => model.PermissionType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LeaveType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>*@
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var legals = CalculateLeavesHours(item.TotalLegalLeave);
                                    var legalString = legals.ToString("0.00");
                                    var dayOff = CalculateLeavesHours(item.TotalDayOffLeave);
                                    var dayOffString = dayOff.ToString("0.00");
                                    var total = dayOff + legals;
                                    var totalString = total.ToString("0.00");
                                    <tr>
                                        <td class="details-control">
                                            @Html.HiddenFor(modelItem => item.CandidateId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BirthNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CandidateName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => legalString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dayOffString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => totalString)
                                        </td>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.PermissionType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeaveType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>*@

                                        <td>
                                            @*<a asp-action="Edit" asp-route-id="@item.CandidateId">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.CandidateId">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.CandidateId">Delete</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>

        function format(d, row) {
            // `d` is the original data object for the row

            $.ajax({
                type: "POST",
                async: false,
                url: "/Leaves/GetCandidateLeaves",
                //contentType: "application/json;charset=utf-8",
                data: { id: d },
                //dataType: "json",
                success: function (result) {
                    row.child(result).show();
                    return result;

                },
                error: function (response) {
                    //$.unblockUI();
                    //return "";
                    alert('@sharedLocalizer["Fetching Leaves got error"]');
                }
            });

        }
        $(function () {

            var subgrid = '';
            var table =$('#leavesTable').DataTable({
                language: {
                    url: '@localization'
                },
            });

            // Add event listener for opening and closing details
            $('#leavesTable tbody').on('click', 'td.details-control', function () {


                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var id = tr.find('#item_CandidateId').val();

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    debugger;
                    // Open this row
                    format(id,row);
                    tr.addClass('shown');

                }
            });

        });

    </script>

}