﻿@{
    ViewData["Title"] = "";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        @sharedLocalizer["Thanks"].
        @sharedLocalizer["Yout account information confirmed successfully"]
        
        @if (!User.Identity.IsAuthenticated)
        {
    <span>For login please click <a asp-controller="Login" asp-action="Index">here</a>.</span>}
    </div>
</div>