﻿
@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }


<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@sharedLocalizer["Thanks"]</h5>
    </div>
    <div class="card-body">
        @sharedLocalizer["Registration is done successfully. Please check your mailbox and confirm your email."]
        
        <partial name="_PickupFolder" />
    </div>
</div>