﻿
@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
       location: "HRMNet"); }

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@sharedLocalizer["Thanks"]!</h5>
    </div>
    <div class="card-body">
        @sharedLocalizer["Registration has been done successfully."]

        @sharedLocalizer["For login please click"] <a asp-controller="Login" asp-action="Index">@sharedLocalizer["here"]</a>.
    </div>
</div>