﻿@model HRMNet.Models.Candidates.StuffDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StaffDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TCNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TCNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilitaryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilitaryStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostponementdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostponementdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkingLocation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolOfGraduation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolOfGraduation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentOfGraduation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentOfGraduation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfGraduation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfGraduation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBANNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBANNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthCertificateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthCertificateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByBrowserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByBrowserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByBrowserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedByBrowserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifierIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifierIp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
