﻿@model IEnumerable<HRMNet.Models.Candidates.StuffDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TCNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccommodationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MilitaryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostponementdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolOfGraduation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentOfGraduation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfGraduation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBANNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthCertificateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByBrowserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorIp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedByBrowserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifierIp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TCNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccommodationAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MilitaryStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostponementdDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingLocation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolOfGraduation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentOfGraduation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfGraduation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IBANNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmergencyContactInformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthCertificateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByBrowserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorIp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifierId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedByBrowserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifierIp)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
