﻿@model HRMNet.Models.Candidates.StuffDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StaffDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StuffDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TCNumber" class="control-label"></label>
                <input asp-for="TCNumber" class="form-control" />
                <span asp-validation-for="TCNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccommodationAddress" class="control-label"></label>
                <input asp-for="AccommodationAddress" class="form-control" />
                <span asp-validation-for="AccommodationAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilitaryStatus" class="control-label"></label>
                <select asp-for="MilitaryStatus" class="form-control"></select>
                <span asp-validation-for="MilitaryStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostponementdDate" class="control-label"></label>
                <input asp-for="PostponementdDate" class="form-control" />
                <span asp-validation-for="PostponementdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractType" class="control-label"></label>
                <select asp-for="ContractType" class="form-control"></select>
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractDuration" class="control-label"></label>
                <input asp-for="ContractDuration" class="form-control" />
                <span asp-validation-for="ContractDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleId" class="control-label"></label>
                <select asp-for="TitleId" class="form-control" asp-items="ViewBag.TitleId"></select>
                <span asp-validation-for="TitleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkLocationId" class="control-label"></label>
                <select asp-for="WorkLocationId" class="form-control" asp-items="ViewBag.WorkLocationId"></select>
                <span asp-validation-for="WorkLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolOfGraduation" class="control-label"></label>
                <input asp-for="SchoolOfGraduation" class="form-control" />
                <span asp-validation-for="SchoolOfGraduation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentOfGraduation" class="control-label"></label>
                <input asp-for="DepartmentOfGraduation" class="form-control" />
                <span asp-validation-for="DepartmentOfGraduation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfGraduation" class="control-label"></label>
                <input asp-for="DateOfGraduation" class="form-control" />
                <span asp-validation-for="DateOfGraduation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IBANNumber" class="control-label"></label>
                <input asp-for="IBANNumber" class="form-control" />
                <span asp-validation-for="IBANNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyEmail" class="control-label"></label>
                <input asp-for="CompanyEmail" class="form-control" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager" class="control-label"></label>
                <input asp-for="Manager" class="form-control" />
                <span asp-validation-for="Manager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                <input asp-for="BloodGroup" class="form-control" />
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactInformation" class="control-label"></label>
                <input asp-for="EmergencyContactInformation" class="form-control" />
                <span asp-validation-for="EmergencyContactInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthCertificateNumber" class="control-label"></label>
                <input asp-for="BirthCertificateNumber" class="form-control" />
                <span asp-validation-for="BirthCertificateNumber" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <input asp-for="CreatorId" class="form-control" />
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByBrowserName" class="control-label"></label>
                <input asp-for="CreatedByBrowserName" class="form-control" />
                <span asp-validation-for="CreatedByBrowserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorIp" class="control-label"></label>
                <input asp-for="CreatorIp" class="form-control" />
                <span asp-validation-for="CreatorIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifierId" class="control-label"></label>
                <input asp-for="ModifierId" class="form-control" />
                <span asp-validation-for="ModifierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDateTime" class="control-label"></label>
                <input asp-for="ModifiedDateTime" class="form-control" />
                <span asp-validation-for="ModifiedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedByBrowserName" class="control-label"></label>
                <input asp-for="ModifiedByBrowserName" class="form-control" />
                <span asp-validation-for="ModifiedByBrowserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifierIp" class="control-label"></label>
                <input asp-for="ModifierIp" class="form-control" />
                <span asp-validation-for="ModifierIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
