﻿@model PreCandidatesAndCandidateResultViewModel

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
           baseName: "SharedResource",
        location: "HRMNet"); }


<table class="table table-bordered table-striped table-responsive" style="width: 100%;" id="preCandidatesTable">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => Model.PreCandidatesAndCandidate.FirstOrDefault().DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.PreCandidatesAndCandidate.FirstOrDefault().LastInterviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.PreCandidatesAndCandidate.FirstOrDefault().CandidatePrecandidate)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.PreCandidatesAndCandidate.FirstOrDefault().GeneralStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.PreCandidatesAndCandidate.FirstOrDefault().Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.PreCandidatesAndCandidate.FirstOrDefault().CandidateOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.PreCandidatesAndCandidate.FirstOrDefault().Modifier)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>



    @Html.HiddenFor(modelItem => Model.Result)

    @foreach (var item in Model.PreCandidatesAndCandidate)
    {
        <tr>
            <td class="details-control">

                @Html.HiddenFor(modelItem => item.Telephone)
                @Html.HiddenFor(modelItem => item.Name)
                @Html.HiddenFor(modelItem => item.Family)
                @Html.HiddenFor(modelItem => item.Id)
                @Html.HiddenFor(modelItem => item.CandidateId)
                @Html.HiddenFor(modelItem => item.PreCandidateId)
                @Html.HiddenFor(modelItem => item.Email)
                @Html.HiddenFor(modelItem => item.LastInterviewDate)
                @Html.HiddenFor(modelItem => item.CandidatePrecandidate)

                @{
                    var val = (int)item.GeneralStatus;
                    var lastInterview = item.LastInterviewDate != null ? item.LastInterviewDate.Value.ToString("yyyy/MM/dd HH:mm:ss") : "";
                }
                <input type="hidden" name="GeneralStatus" id="GeneralStatus" value="@val" />
                @*@Html.HiddenFor(modelItem => (int)item.GeneralStatus)*@


            </td>
            <td>

                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>

                @lastInterview
                @*@Html.DisplayFor(modelItem => item.LastInterviewDate)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidatePrecandidate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modifier)
            </td>
            <td>
                @if (item.CandidatePrecandidate == CandidatePrecandidate.OnlyCandidate)
                {
                    @*<a asp-action="Edit" asp-controller="Candidates" asp-route-id="@item.CandidateId">@sharedLocalizer["Edit"]</a>@: |*@
                    <security-trimming asp-controller="Candidates" asp-action="Details">
                        <a asp-action="Details" asp-controller="Candidates" asp-route-id="@item.CandidateId">@sharedLocalizer["Details"]</a>
                    </security-trimming>
                    @*<a asp-action="Delete" asp-controller="Candidates" asp-route-id="@item.CandidateId">@sharedLocalizer["Delete"]</a>*@
                }
                else
                {
                    if (Model.Search.PositionId > 0)
                    {
                        <security-trimming asp-controller="PreCandidates" asp-action="Edit">
                            <a asp-action="Edit" asp-route-id="@item.PreCandidateId" asp-route-type="@((int)item.CandidatePrecandidate)" asp-route-positionId="@Model.Search.PositionId">@sharedLocalizer["Edit"]</a>|
                        </security-trimming>

                    }
                    <security-trimming asp-controller="PreCandidates" asp-action="Details">
                        <a asp-action="Details" asp-route-id="@item.PreCandidateId">@sharedLocalizer["Details"]</a>|

                    </security-trimming>
                    <security-trimming asp-controller="PreCandidates" asp-action="Delete">
                        <a asp-action="Delete" asp-route-id="@item.PreCandidateId">@sharedLocalizer["Delete"]</a>
                    </security-trimming>
                }

            </td>
            @*<td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CVSource)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SendMail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByBrowserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatorIp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifierId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByBrowserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifierIp)
                    </td>*@
            @*<td>*@
            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            @*</td>*@
        </tr>
    }

    </tbody>
</table>
<div class="row">
    <div class="col-12">
        <div style="text-align:center;">

            <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                      cs-paging-pagenumber="@Model.Paging.CurrentPage"
                      cs-paging-totalitems="@Model.Paging.TotalItems"
                      cs-ajax-target="#suitablePreCandidates"
                      cs-ajax-mode="replace"
                      cs-ajax-success="endLoading"
                      cs-ajax-failure="endLoading"
                      cs-ajax-begin="startLoading"
                      cs-pagenumber-param="page"
                      asp-controller="PreCandidates"
                      asp-action="GetPreCandidatesByPositionIdAndUserId"
                      asp-route-CustomerId="@Model.Search.CustomerId"
                      asp-route-PositionId="@Model.Search.PositionId"
                      asp-route-UserId="@Model.Search.OwnerId"
                      asp-route-DateRange="@Model.Search.DateRange"
                      cs-show-first-last="true"
                      cs-suppress-empty-nextprev="true"
                      cs-suppress-inactive-firstlast="true"
                      cs-first-page-text="İlk"
                      cs-last-page-text="Son"
                      cs-pager-li-current-class="active"
                      cs-pager-li-non-active-class="disabled"></cs-pager>
        </div>
    </div>

</div>

<script>
    function format(candidateId, precandidateId, candidatePrecandidate, row) {

        $.ajax({
            type: "POST",
            async: false,
            url: "/PreCandidates/GetCandidates",
            //contentType: "application/json;charset=utf-8",
            data: { candidateId: candidateId, precandidateId: precandidateId, candidatePrecandidate: candidatePrecandidate },
            //dataType: "json",
            success: function(result) {
                row.after('<tr><td colspan="9">' + result + '</td></tr>');
                return result;

            },
            error: function(response) {

                alert('@sharedLocalizer["Fetching data got error"]');
            }
        });

    }

    $('#preCandidatesTable tbody').on('click',
        'td.details-control',
        function() {

            //$.blockUI({ message: '<h6>Please wait ...</h6>' });
            debugger;
            var tr = $(this).closest('tr');
            var candidateId = tr.find('#item_CandidateId').val();
            var precandidateId = tr.find('#item_PreCandidateId').val();
            var candidatePrecandidate = tr.find('#item_CandidatePrecandidate').val();

            if (tr.hasClass('shown')) {

                tr.removeClass('shown');
                tr.next().remove();
            } else {

                format(candidateId, precandidateId, candidatePrecandidate, tr);
                tr.addClass('shown');
                //$.unblockUI();
            }
        });
</script>

