﻿@model PreCandidateSearchViewModel

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>*@
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="CustomerId" class="control-label"></label>
                                    <select asp-for="CustomerId" asp-items="ViewBag.Customers" class="form-control">
                                        <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                    </select>

                                    @*@Html.DropDownListFor(x => x.CustomerId, new SelectList(ViewBag.Customers, "Id", "Name"), " Select ...", new { @class = "form-control" })*@
                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="PositionId" class="control-label"></label>
                                    <select asp-for="PositionId" asp-items="ViewBag.Positions" class="form-control">
                                        <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                    </select>

                                    @*@Html.DropDownListFor(x => x.PositionId, new SelectList(ViewBag.Positions ?? new List<PreCandidate>(), "Id", "PositionName"), " Select ...", new { @class = "form-control" })*@
                                    <span asp-validation-for="PositionId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="OwnerId" class="control-label"></label>
                                    <select asp-for="OwnerId" asp-items="ViewBag.Users" class="form-control">
                                        <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                    </select>

                                    @*@Html.DropDownListFor(x => x.PositionId, new SelectList(ViewBag.Positions ?? new List<PreCandidate>(), "Id", "PositionName"), " Select ...", new { @class = "form-control" })*@
                                    <span asp-validation-for="OwnerId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="DateRange" class="control-label"></label>
                                    <input type="text" asp-for="DateRange" class="form-control input-sm" autocomplete="off">
                                    <span asp-validation-for="DateRange" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="featuresCarrier" style="display:none;">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Features" class="control-label"></label>
                                    <input id="featuresList" dir="ltr" name="Features" class="form-control" readonly="readonly" />
                                    @*<ul id="featuresList" dir="ltr" name="Features" style="border: 1px solid #ced4da; width: 100% !important;">
                                        </ul>*@
                                    <span asp-validation-for="Features" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="mustToHavesCarrier" style="display:none;">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="MustToHave" class="control-label"></label>
                                    <input id="mustToHaveList" dir="ltr" name="MustToHaves" class="form-control" readonly="readonly" />
                                    @*<ul id="mustToHaveList" dir="ltr" name="MustToHave" style="border: 1px solid #ced4da; width: 100% !important; ">
                                        </ul>*@
                                    <span asp-validation-for="MustToHave" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="expertisesCarrier" style="display:none;">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Expertises" class="control-label"></label>
                                    <input id="expertisesList" dir="ltr" name="Expertises" class="form-control" readonly="readonly" />
                                    @*<ul id="expertisesList" dir="ltr" name="Expertises" style="border: 1px solid #ced4da; width: 100% !important;">
                                        </ul>*@
                                    <span asp-validation-for="Expertises" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    @*<div class="card-footer">
                            Footer
                        </div>*@
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>


