﻿@model HRMNet.Models.Candidates.PreCandidate

@{
    ViewData["Title"] = "Create";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input name="Id" id="Id" type="hidden" />
                        <input name="PreCandidateId" id="PreCandidateId" type="hidden" />
                        <input name="CandidateId" id="CandidateId" type="hidden" />


                        <input type="hidden" asp-for="CandidatePrecandidate" />
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Telephone" class="control-label"></label>
                                    <input asp-for="Telephone" class="form-control" readonly="readonly" />
                                    <span asp-validation-for="Telephone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    @*<input asp-for="Email" type="hidden" id="Email1" name="Email" />*@
                                    @*<input type="hidden" asp-for="Email" name="Email1" id="email1" />*@
                                    <input asp-for="Email" class="form-control" readonly="readonly" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">

                                <div class="form-group">
                                    <label asp-for="LastInterviewDate" class="control-label"></label>
                                    <input type="text" id="LastInterviewDate" class="form-control" disabled />
                                    <span asp-validation-for="LastInterviewDate" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    @*<input asp-for="Name" type="hidden" id="Name1" name="Name" />*@
                                    <input asp-for="Name" type="text" class="form-control" readonly="readonly" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Family" class="control-label"></label>
                                    @*<input asp-for="Family" type="hidden" id="Family1" name="Family" />*@
                                    <input asp-for="Family" class="form-control" readonly="readonly" />
                                    <span asp-validation-for="Family" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="CVSource" class="control-label"></label>
                                    <select asp-for="CVSource" class="form-control" asp-items="@Html.GetEnumSelectList<CVSource>()" readonly="readonly">
                                        <option selected="selected" value="">@sharedLocalizer["Please select"]</option>
                                    </select>
                                    <span asp-validation-for="CVSource" class="text-danger"></span>
                                </div>
                                <!--<label asp-for="CreatedDateTime" class="control-label"></label>-->
                                @*<input asp-for="Family" type="hidden" id="Family1" name="Family" />*@
                                <!--<input asp-for="CreatedDateTime" class="form-control" />
                                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>-->
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label"></label>
                                    <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<PreCandidateStatus>()" readonly="readonly">
                                        <option selected="selected" value="">@sharedLocalizer["Please select"]</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                        <div class="col-4">

                        </div>
                        <div class="col-4">

                        </div>-->
                        @*<div class="col-4">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="SendMail" /> @Html.DisplayNameFor(model => model.SendMail)
                                    </label>
                                </div>
                            </div>*@
                        <!--</div>-->


                        <div class="row">
                            <div class="col-9">
                                <div class="form-group">
                                    <label asp-for="Note" class="control-label"></label>
                                    <input asp-for="Note" class="form-control" readonly="readonly" />
                                    <span asp-validation-for="Note" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">

                                <label>@sharedLocalizer["Language"]: </label><br />
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-info active">
                                        <input type="radio" name="Language" id="lang1" autocomplete="off" value="tr" checked> @sharedLocalizer["Turkish"] 
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="Language" id="lang2" autocomplete="off" value="en"> @sharedLocalizer["English"] 
                                    </label>

                                </div>
                                @*<label title=" " class="control-label"></label>
                                @Html.DisplayNameFor(model => model.SendMail)<input asp-for="SendMail" class="form-control" />
                                <div class="form-group">
                                    <label asp-for="SendMail" class="control-label"></label>
                                    <input class="form-control" asp-for="SendMail" style="width:20px; height:50px;" />
                                    <span asp-validation-for="SendMail" class="text-danger"></span>
                                </div>*@

                            </div>
                            @*<div class="col-md-2">
                                <div class="form-group">
                                    <input type="button" value="Send Email" class="btn btn-primary" />
                                </div>
                            </div>*@

                        </div>

                        <div class="form-group">
                            <input type="submit" id="btnInsert" value="@sharedLocalizer["Adding to list"]" class="btn btn-primary" disabled="disabled" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
