﻿@model HRMNet.Models.Candidates.PreCandidate

@{
    ViewData["Title"] = "Edit";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
       location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form asp-action="Edit">
                                    @*@Html.ValidationSummary("Error",false)*@
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <input name="PreCandidateId" id="PreCandidateId" type="hidden" />
                                    <input name="CandidateId" id="CandidateId" type="hidden" />
                                    <input type="hidden" asp-for="CandidatePrecandidate" />
                                    <input type="hidden" asp-for="CurrentStatus" />
                                    <input type="hidden" asp-for="SelectedPositionId" />


                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" type="text" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="Family" class="control-label"></label>
                                                <input asp-for="Family" class="form-control" />
                                                <span asp-validation-for="Family" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="CVSource" class="control-label"></label>
                                                <select asp-for="CVSource" class="form-control" asp-items="@Html.GetEnumSelectList<CVSource>()">
                                                    <option selected="selected" value="">@sharedLocalizer["Please select"]</option>
                                                </select>
                                                <span asp-validation-for="CVSource" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-9">
                                            <div class="form-group">
                                                <label asp-for="Note" class="control-label"></label>
                                                <input asp-for="Note" class="form-control" />
                                                <span asp-validation-for="Note" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="Status" class="control-label"></label>
                                                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<PreCandidateStatus>()">
                                                    <option selected="selected" value="">@sharedLocalizer["Please select"]</option>
                                                </select>
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Save"]" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
