﻿@model PreCandidatesResultViewModel

@{
    ViewData["Title"] = "Index";
    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}

@section Styles
{
    <link href="~/adminlte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/tagit/tagit-simple-blue.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        td.details-control {
            background: url('images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('images/details_close.png') no-repeat center center;
        }

        .dataTables_info {
            visibility: hidden;
        }

        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination > li {
                display: inline;
            }

                .pagination > li:first-child > a, .pagination > li:first-child > span {
                    margin-left: 0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }


            .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
                z-index: 3;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
                color: #777;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;
            }

        .form-check {
            display: flex;
            align-items: center;
        }

            .form-check label {
                margin-left: 0px;
                font-weight: bold;
                /*font-size: 18px;
                    font-weight: 500;*/
            }

            .form-check .form-check-input[type=checkbox] {
                border-radius: .25em;
                height: 35px;
                width: 35px;
                margin-top: 35px;
            }

            .form-check .form-check-input[type=radio] {
                border-radius: 100%;
                height: 50px;
                width: 50px;
            }

        .form-switch .form-check-input[type=checkbox] {
            border-radius: 2em;
            height: 50px;
            width: 100px;
        }

        #exportButton {
            display: none;
        }
    </style>
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                 baseName: "SharedResource",
                 location: "HRMNet");
}

<form asp-action="Create" id="frmInsert">
    <div class="col-12">

        @{
            await Html.RenderPartialAsync("_Search", Model.Search);
        }

    </div>
    <div class="col-12">
        @{
            await Html.RenderPartialAsync("Create", Model.PreCandidate);
        }

    </div>
</form>
<div class="col-12">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row" id="exportButton">
                                <div class="col-2">
                                    <security-trimming asp-controller="PreCandidates" asp-action="ExportPreCandidates">
                                        <form asp-action="ExportPreCandidates" method="post">
                                            <input type="hidden" id="exportUserId" name="UserId" />
                                            <input type="hidden" id="exportPositionId" name="PositionId" />
                                            <input type="hidden" id="exportCustomerId" name="CustomerId" />
                                            <input type="hidden" id="exportDateRange" name="DateRange" />
                                            <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />
                                        </form>
                                    </security-trimming>
                                </div>
                            </div>
                            <br />

                            <div id="suitablePreCandidates">
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts {
    <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/tagit/tagit.js"></script>
    <script src="~/js/inputmask/jquery.inputmask.js"></script>
    <script src="~/js/inputmask/inputmask.js"></script>
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/blockui/jquery.blockUI.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        function startLoading() {
             $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
             return true;
            };

        function endLoading(data, status, xhr) {
                $.unblockUI();
            }


    function displayExportButton(isVisible)
    {
        if(!!isVisible){
            $('#exportButton').css("display", "block");
        }else{
            $('#exportButton').css("display", "none");
        }
    }

    $("#frmInsert").submit(function(event) {
        // Stop form from submitting normally
        event.preventDefault();

        var formValues = $(this).serialize();
        $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
        var jqxhr = $.post("/PreCandidates/Create",
            formValues,
            function(data) {
                if (data == 'true') {
                    
                    $("#Telephone").val('');
                    $("#Email").val('').attr('readonly', 'readonly');
                    $("#LastInterviewDate").val('');
                    $("#Name").val('').attr('readonly', 'readonly');
                    $("#Family").val('').attr('readonly', 'readonly');
                    $("#Note").val('').attr('readonly', 'readonly');
                    $("#Status").val('').attr('readonly', 'readonly');
                    $("#CVSource").val('').attr('readonly', 'readonly');
                    $("#btnInsert").attr('disabled', 'disabled');
                    var positionId = $('#PositionId').val();
                    var userId = $('#OwnerId').val();

                   @*$.ajax({
                        type: "POST",
                        url: '@Url.Action("GetPreCandidatesByPositionIdAndUserId", "PreCandidates")',
                        data: { "positionId": positionId, "userId": userId },
                        //contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        complete: function(xhr, status) {
                            var data = xhr.responseText;
                            if (xhr.status === 403 || xhr.status === 401) {
                                var loginLocation = xhr.getResponseHeader('Location');
                                if (loginLocation) {
                                    window.location = loginLocation;
                                } else {
                                    window.location = '/login';
                                }
                            } else if (status === 'error' || !data) {
                                $.unblockUI();
                                alert('@sharedLocalizer["An Error Occured."]');
                            } else {
                                $('#suitablePreCandidates').html(data);
                                displayExportButton(true);-->
                                $('#preCandidatesTable').DataTable({
                                        destroy: true,
                                        retrieve: true,
                                        //stateSave: true,
                                        language: {
                                            url: '@localization'
                                        },
                                    })
                                    .columns.adjust()
                                    .responsive.recalc();

                            }

                            $.unblockUI();
                        }
                    });*@


                } else {
                    
                    toastr.options.fadeOut = 4000;
                    toastr.warning('@sharedLocalizer["Inserting is failed"]', '');

                }

                
                
                // Display the returned data in browser
                //$("#result").html(data);
            }).done(function (data) {
                

                $.unblockUI();
        });

    });

        $(document).ready(function () {

        $('#DateRange').daterangepicker({
                ranges: {
                    '@sharedLocalizer["Last 7 Days"]': [moment().subtract(6, 'days'), moment()],
                    '@sharedLocalizer["Last 30 Days"]': [moment().subtract(29, 'days'), moment()],
                    '@sharedLocalizer["This Month"]': [moment().startOf('month'), moment().endOf('month')],
                    '@sharedLocalizer["Last Month"]': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    '@sharedLocalizer["This Quarter"]': [moment().subtract(6, 'days'), moment()],
                    '@sharedLocalizer["Last Quarter"]': [moment().subtract(29, 'days'), moment()],
                    '@sharedLocalizer["This Year"]': [moment().startOf('year'), moment().endOf('year')],
                    '@sharedLocalizer["Last Year"]': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                },
                locale: {
                    "format": "MM/DD/YYYY",
                    "separator": " - ",
                    "applyLabel": "@sharedLocalizer["Apply"]",
                    "cancelLabel": "@sharedLocalizer["Cancel"]",
                    "fromLabel": "@sharedLocalizer["From"]",
                    "toLabel": "@sharedLocalizer["To"]",
                    "customRangeLabel": "@sharedLocalizer["Custom"]",
                    "weekLabel": "@sharedLocalizer["W"]",
                    "daysOfWeek": [
                        "@sharedLocalizer["Su"]",
                        "@sharedLocalizer["Mo"]",
                        "@sharedLocalizer["Tu"]",
                        "@sharedLocalizer["We"]",
                        "@sharedLocalizer["Th"]",
                        "@sharedLocalizer["Fr"]",
                        "@sharedLocalizer["Sa"]"
                    ],
                    "monthNames": [
                        "@sharedLocalizer["January"]",
                        "@sharedLocalizer["February"]",
                        "@sharedLocalizer["March"]",
                        "@sharedLocalizer["April"]",
                        "@sharedLocalizer["May"]",
                        "@sharedLocalizer["June"]",
                        "@sharedLocalizer["July"]",
                        "@sharedLocalizer["August"]",
                        "@sharedLocalizer["September"]",
                        "@sharedLocalizer["October"]",
                        "@sharedLocalizer["November"]",
                        "@sharedLocalizer["December"]"
                    ],
                    "firstDay": 1
                },
                autoUpdateInput: false,
            }
        );

        $('#DateRange').on('apply.daterangepicker',
            function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));

                $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });

                var positionId = $('#PositionId').val();

                var customerId = $('#CustomerId').val();

                var userId = $('#OwnerId').val();

                var table = $('#preCandidatesTable').DataTable();
                table.clear();
                $('#exportDateRange').val(this.value);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetPreCandidatesByPositionIdAndUserId", "PreCandidates")',
                    data: {"customerId": customerId, "positionId": positionId, "userId": userId, "dateRange": this.value },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function(xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            } else {
                                window.location = '/login';
                            }
                        } else if (status === 'error' || !data) {
                            $.unblockUI();
                            alert('@sharedLocalizer["An Error Occured."]');
                        } else {

                            $('#suitablePreCandidates').html(data);
                            displayExportButton(true);
                            $('#preCandidatesTable').DataTable({
                                    destroy: true,
                                    retrieve: true,
                                    //paging: true,
                                    language: {
                                        url: '@localization'
                                    },
                                })
                                .columns.adjust()
                                .responsive.recalc();

                            $.unblockUI();
                        }
                    }
                });
            });

        $('#DateRange').on('cancel.daterangepicker',
            function(ev, picker) {
                $(this).val('');
            });

        $("body").on("click",
            ".shown",
            function() {
                debugger;
            });

        $("#CVSource").prop("selectedIndex", 0);
        $("#Status").prop("selectedIndex", 0);

        $('#Telephone').on('blur',
            function() {

                if (this.value == '' || this.value.indexOf("_") >= 0) {
                    return;
                }

                $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
                var positionId = $('#PositionId').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCandidateByphone", "PreCandidates")',
                    data: { "phone": this.value, "positionId": positionId },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function(xhr, status) {
                        //debugger;
                        var data = xhr.responseText;

                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            } else {
                                window.location = '/login';
                            }
                        } else if (status === 'error' || !data) {
                            $.unblockUI();
                            //$("#btnInsert").attr('readonly', 'readonly');
                            alert('@sharedLocalizer["An Error Occured."]');
                        } else {
                            debugger;
                            $('#suitablePreCandidates').html(data); //
                            displayExportButton(true);
                            
                            //$("#Email").removeAttr('readonly');
                            //$("#Name").removeAttr('readonly');
                            //$("#Family").removeAttr('readonly');
                            //$("#Note").removeAttr('readonly');
                            //$("#Status").removeAttr('readonly');
                            //$("#CVSource").removeAttr('readonly');
                            //$("#btnInsert").removeAttr('disabled');

                            var name = $("#Name");
                            var family = $("#Family");
                            var candidatePrecandidate = $("#CandidatePrecandidate");
                            var email = $("#Email");
                            var lastinterview = $("#LastInterviewDate");
                            var precandidateId = $("#PreCandidateId");
                            var candidateId = $("#CandidateId");
                            var id = $("#Id");

                            var result = $("#Result").val();
                            if (result == 'inposition') {
                                $("#Telephone").val('');
                                //$("#Email").removeAttr('readonly');
                                //$("#Name").removeAttr('readonly');
                                //$("#Family").removeAttr('readonly');
                                //$("#Note").removeAttr('readonly');
                                //$("#Status").removeAttr('readonly');
                                //$("#CVSource").removeAttr('readonly');
                                //$("#btnInsert").removeAttr('disabled');

                                //name.val('').removeAttr('readonly');
                                //family.val('').removeAttr('readonly');
                                //email.val('').removeAttr('readonly');
                                //$("#Telephone").focus();
                            } else if (result == 'emptyphone') {
                                alert('emptyphone');
                                $("#Telephone").val('');
                                //name.val('').removeAttr('readonly');
                                //family.val('').removeAttr('readonly');
                                //email.val('').removeAttr('readonly');
                            } else if (result == 'blacklist') {
                                $("#Telephone").val('');
                                //name.val('').removeAttr('readonly');
                                //family.val('').removeAttr('readonly');
                                //email.val('').removeAttr('readonly');
                                //$("#Telephone").focus();
                            } else {
                                $("#Email").removeAttr('readonly');
                                $("#Name").removeAttr('readonly');
                                $("#Family").removeAttr('readonly');
                                $("#Note").removeAttr('readonly');
                                $("#Status").removeAttr('readonly');
                                $("#CVSource").removeAttr('readonly');
                                $("#btnInsert").removeAttr('disabled');

                                var item_name = $("#item_Name").val();
                                var item_family = $("#item_Family").val();
                                var item_email = $("#item_Email").val();
                                var item_lastinterview = $("#item_LastInterviewDate").val();
                                var item_candidateprecandidate = $("#item_CandidatePrecandidate").val();
                                var item_generalstatus = $("#GeneralStatus").val();

                                name.val(item_name);

                                if (item_name == '' || typeof item_name === "undefined") {
                                    name.removeAttr('readonly');
                                    //$("#IsCandidate").val(false);
                                } else {
                                    name.attr('readonly', 'readonly');
                                    //$("#IsCandidate").val(true);
                                }

                                family.val(item_family);

                                if (item_family == '' || typeof item_family === "undefined") {
                                    family.removeAttr('readonly');
                                } else {
                                    family.attr('readonly', 'readonly');
                                }

                                candidatePrecandidate.val(item_candidateprecandidate);

                                email.val(item_email);

                                if (item_email == '' || typeof item_email === "undefined") {
                                    email.removeAttr('readonly');
                                } else {
                                    email.attr('readonly', 'readonly');
                                }

                                lastinterview.val(item_lastinterview);

                                precandidateId.val($("#item_PreCandidateId").val());

                                candidateId.val($("#item_CandidateId").val());

                                id.val($("#item_Id").val());
                            }

                            $.unblockUI();

                        }
                    }
                });
            });

        $('#Telephone').inputmask({
            //"mask": "+\\90(999)9999999",
            //"mask": "+99(999)9999999",
            //"autoUnmask": true
            "mask": "+99[9](999)9999999",
            //"mask": "+9{2,3}(999)9999999",
            clearMaskOnLostFocus: true,
            //greedy: false
            skipOptionalPartCharacter: " "
            //placeholder: "X",

        });

        $('#OwnerId').on('change',
                function () {

                $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });

                var positionId = $('#PositionId').val();
                var customerId = $('#CustomerId').val();
                var dateRange = $('#DateRange').val();

                var table = $('#preCandidatesTable').DataTable();
                table.clear();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetPreCandidatesByPositionIdAndUserId", "PreCandidates")',
                    data: { "customerId": customerId, "positionId": positionId, "ownerId": this.value, "dateRange": dateRange  },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function(xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            } else {
                                window.location = '/login';
                            }
                        } else if (status === 'error' || !data) {
                            $.unblockUI();
                            alert('@sharedLocalizer["An Error Occured."]');
                        } else {

                            $('#suitablePreCandidates').html(data);
                            displayExportButton(true);
                            @*$('#preCandidatesTable').DataTable({
                                    destroy: true,
                                    retrieve: true,
                                    //paging: true,
                                    language: {
                                        url: '@localization'
                                    },
                                })
                                .columns.adjust()
                                .responsive.recalc();*@

                            $.unblockUI();
                        }
                    }
                });
            });

        $('#PositionId').on('change',
            function() {
                $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
                $("#Email").val('').attr('readonly', 'readonly');
                $("#LastInterviewDate").val('');
                $("#Name").val('').attr('readonly', 'readonly');
                $("#Family").val('').attr('readonly', 'readonly');
                $("#Note").val('').attr('readonly', 'readonly');
                $("#Status").val('').attr('readonly', 'readonly');
                $("#CVSource").val('').attr('readonly', 'readonly');
                $('#suitablePreCandidates').html('');
                displayExportButton(false);
                $("#Telephone").val('').removeAttr('readonly');

                var userId = $('#OwnerId').val();
                var dateRange = $('#DateRange').val();
                //$("#Telephone").focus();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetPositionDetail", "Positions")',
                    data: { "id": this.value },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function(xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            } else {
                                window.location = '/login';
                            }
                        } else if (status === 'error' || !data) {
                            $.unblockUI();
                            alert('@sharedLocalizer["An Error Occured."]');
                        } else {
                            $('#featuresCarrier').css("display", "block");
                            $('#mustToHavesCarrier').css("display", "block");
                            $('#expertisesCarrier').css("display", "block");
                            //debugger;
                            $('#featuresList').val(xhr.responseJSON.features);
                            $('#mustToHaveList').val(xhr.responseJSON.mustToHaves);
                            $('#expertisesList').val(xhr.responseJSON.expertises);
                        }
                    }
                });

                var table = $('#preCandidatesTable').DataTable();
                table.clear();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetPreCandidatesByPositionIdAndUserId", "PreCandidates")',
                    data: { "positionId": this.value, "ownerId": userId, "dateRange": dateRange },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function(xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            } else {
                                window.location = '/login';
                            }
                        } else if (status === 'error' || !data) {
                            $.unblockUI();
                            alert('@sharedLocalizer["An Error Occured."]');
                        } else {
                            //$('#DateRange').val('');
                            $('#suitablePreCandidates').html(data);
                            displayExportButton(true);
                            @*$('#preCandidatesTable').DataTable({
                                    destroy: true,
                                    retrieve: true,
                                    paging: false,
                                    searching: false,
                                    //"responsive": {
                                    //    details: true
                                    //},
                                    language: {
                                        url: '@localization'
                                    },
                                    //"scrollX": true,
                                })
                                .columns.adjust()
                                .responsive.recalc();*@

                            $.unblockUI();
                        }
                    }
                });

            });

        $('#CustomerId').on('change',
            function() {

                $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
                $("#Telephone").val('').attr('readonly', 'readonly');
                $("#Email").val('').attr('readonly', 'readonly');
                $("#LastInterviewDate").val('');
                $("#Name").val('').attr('readonly', 'readonly');
                $("#Family").val('').attr('readonly', 'readonly');
                $("#Note").val('').attr('readonly', 'readonly');
                $("#Status").val('').attr('readonly', 'readonly');
                $("#CVSource").val('').attr('readonly', 'readonly');
                //$("#Telephone").focus();
                $('#suitablePreCandidates').html('');
                displayExportButton(false);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCustomersPositions", "Positions")',
                    data: { "id": this.value },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function(xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            } else {
                                window.location = '/login';
                            }
                        } else if (status === 'error' || !data) {
                            $.unblockUI();
                            alert('@sharedLocalizer["An Error Occured."]');
                        } else {
                            $('#featuresList').val('');
                            $('#mustToHaveList').val('');
                            $('#expertisesList').val('');

                            $('#DateRange').val('');
                            $('select[name=PositionId] > option').remove();
                            $('select[name=PositionId]')
                                .append($("<option></option>")
                                    .attr("value", '0')
                                    .text(' @sharedLocalizer["Please select ..."]'));

                            $.each(xhr.responseJSON,
                                function() {
                                    $('select[name=PositionId]')
                                        .append($("<option></option>")
                                            .attr("value", this.value)
                                            .text(this.text));
                                }); // populating result



                           // $.unblockUI();
                        }
                    }
                });

                var userId = $('#OwnerId').val();
                var dateRange = $('#DateRange').val();
                var table = $('#preCandidatesTable').DataTable();
                table.clear();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetPreCandidatesByPositionIdAndUserId", "PreCandidates")',
                    data: { "customerId": this.value, "ownerId": userId, "dateRange": dateRange },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (xhr, status) {
                        $.unblockUI();
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            } else {
                                window.location = '/login';
                            }
                        } else if (status === 'error' || !data) {

                            alert('@sharedLocalizer["An Error Occured."]');
                        } else {
                            //$('#DateRange').val('');
                            $('#suitablePreCandidates').html(data);
                            displayExportButton(true);
                            @*$('#preCandidatesTable').DataTable({
                                    destroy: true,
                                    retrieve: true,
                                    paging: false,
                                    searching: false,
                                    //"responsive": {
                                    //    details: true
                                    //},
                                    language: {
                                        url: '@localization'
                                    },
                                    scrollX: true,
                                })
                                .columns.adjust()
                                .responsive.recalc();*@
                        }


                    }
                });




            });

        $('#OwnerId,#PositionId,#CustomerId,#DateRange').on('change',function(){
            $('#exportUserId').val($('#OwnerId').val() !== '' ? $('#OwnerId').val():0);
            $('#exportPositionId').val($('#PositionId').val()!==''?$('#PositionId').val():0);
            $('#exportCustomerId').val($('#CustomerId').val()!==''?$('#CustomerId').val():0);
            $('#exportDateRange').val($('#DateRange').val());
        });
    });
    </script>
}
