﻿@model HRMNet.Models.Audit

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="TableName" class="control-label"></label>
                                        <input asp-for="TableName" class="form-control" />
                                        <span asp-validation-for="TableName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DateTime" class="control-label"></label>
                                        <input asp-for="DateTime" class="form-control" />
                                        <span asp-validation-for="DateTime" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="KeyValues" class="control-label"></label>
                                        <input asp-for="KeyValues" class="form-control" />
                                        <span asp-validation-for="KeyValues" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="OldValues" class="control-label"></label>
                                        <input asp-for="OldValues" class="form-control" />
                                        <span asp-validation-for="OldValues" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewValues" class="control-label"></label>
                                        <input asp-for="NewValues" class="form-control" />
                                        <span asp-validation-for="NewValues" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Username" class="control-label"></label>
                                        <input asp-for="Username" class="form-control" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Action" class="control-label"></label>
                                        <input asp-for="Action" class="form-control" />
                                        <span asp-validation-for="Action" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
