﻿@model HRMNet.Models.Audit

@{
    ViewData["Title"] = "Details";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Detail"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <dl class="row" style="width:100%;">
                                <dt class="col-md-2">
                                    @Html.DisplayNameFor(model => model.TableName)
                                </dt>
                                <dd class="col-md-10">
                                    @Html.DisplayFor(model => model.TableName)
                                </dd>
                                <dt class="col-md-2">
                                    @Html.DisplayNameFor(model => model.DateTime)
                                </dt>
                                <dd class="col-md-10">
                                    @Model.DateTime.ToLocalTime()
                                    @*@Html.DisplayFor(model => model.DateTime)*@
                                </dd>
                                <dt class="col-md-2">
                                    @Html.DisplayNameFor(model => model.KeyValues)
                                </dt>
                                <dd class="col-md-10">
                                    @Html.DisplayFor(model => model.KeyValues)
                                </dd>
                                <dt class="col-md-2">
                                    @Html.DisplayNameFor(model => model.OldValues)
                                </dt>
                                <dd class="col-md-10">
                                    @Html.DisplayFor(model => model.OldValues)
                                </dd>
                                <dt class="col-md-2">
                                    @Html.DisplayNameFor(model => model.NewValues)
                                </dt>
                                <dd class="col-md-10">
                                    @Html.DisplayFor(model => model.NewValues)
                                </dd>
                                <dt class="col-md-2">
                                    @Html.DisplayNameFor(model => model.Username)
                                </dt>
                                <dd class="col-md-10">
                                    @Html.DisplayFor(model => model.Username)
                                </dd>
                                <dt class="col-md-2">
                                    @Html.DisplayNameFor(model => model.Action)
                                </dt>
                                <dd class="col-md-10">
                                    @Html.DisplayFor(model => model.Action)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
                            <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>