﻿@model HRMNet.Models.Audit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Audit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TableName" class="control-label"></label>
                <input asp-for="TableName" class="form-control" />
                <span asp-validation-for="TableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyValues" class="control-label"></label>
                <input asp-for="KeyValues" class="form-control" />
                <span asp-validation-for="KeyValues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldValues" class="control-label"></label>
                <input asp-for="OldValues" class="form-control" />
                <span asp-validation-for="OldValues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewValues" class="control-label"></label>
                <input asp-for="NewValues" class="form-control" />
                <span asp-validation-for="NewValues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
