﻿@model IEnumerable<HRMNet.Models.Audit>

@{
    ViewData["Title"] = "Index";
    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Audits"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @*<div class="col-2">
                                    <a asp-action="Create" class="btn btn-block btn-primary">Add</a><br />

                                </div>*@
                            @*<div class="col-2">
                                    <form asp-action="Export" method="post">
                                        <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />

                                    </form>
                                </div>*@
                        </div>
                        <table id="audit" class="table table-bordered table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.KeyValues)
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.OldValues)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NewValues)
                                        </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.Username)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Action)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TableName)
                                        </td>
                                        <td>
                                            @item.DateTime.ToLocalTime()
                                            @*@Html.DisplayFor(modelItem => item.DateTime)*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KeyValues)
                                        </td>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.OldValues)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NewValues)
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Action)
                                        </td>
                                        <td>
                                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                                            <security-trimming asp-controller="Audits" asp-action="Details">
                                                <a asp-action="Details" asp-route-id="@item.Id">@sharedLocalizer["Details"]</a>
                                            </security-trimming>
                                            @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {

            $('#audit').DataTable({
                language: {
                    url: '@localization'
                },
                "order": [[1, "desc"]],
                "scrollX": true,
            });
        }).columns.adjust()
            .responsive.recalc();

    </script>

}