﻿@model HRMNet.Models.Recruit.Target

@{
    ViewData["Title"] = "Details";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Detail"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FirstInterviewedCount)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.FirstInterviewedCount)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.SubmittedToManagement)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.SubmittedToManagement)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.SharedWithCustomer)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.SharedWithCustomer)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CustomerChoosen)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CustomerChoosen)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Proposed)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Proposed)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.AcceptedOffer)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.AcceptedOffer)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Productivity)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Productivity)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Customer)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Customer.Name)
                                </dd>
                                
                            </dl>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <a asp-action="Edit" asp-route-id="@Model.Id">@sharedLocalizer["Edit"]</a> |
                            <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

