﻿@model HRMNet.Models.Recruit.Target

@{
    ViewData["Title"] = "Edit";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <label asp-for="CustomerId" class="control-label"></label>
                                        <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FirstInterviewedCount" class="control-label"></label>
                                        <input asp-for="FirstInterviewedCount" class="form-control" />
                                        <span asp-validation-for="FirstInterviewedCount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="SubmittedToManagement" class="control-label"></label>
                                        <input asp-for="SubmittedToManagement" class="form-control" />
                                        <span asp-validation-for="SubmittedToManagement" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="SharedWithCustomer" class="control-label"></label>
                                        <input asp-for="SharedWithCustomer" class="form-control" />
                                        <span asp-validation-for="SharedWithCustomer" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CustomerChoosen" class="control-label"></label>
                                        <input asp-for="CustomerChoosen" class="form-control" />
                                        <span asp-validation-for="CustomerChoosen" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Proposed" class="control-label"></label>
                                        <input asp-for="Proposed" class="form-control" />
                                        <span asp-validation-for="Proposed" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AcceptedOffer" class="control-label"></label>
                                        <input asp-for="AcceptedOffer" class="form-control" />
                                        <span asp-validation-for="AcceptedOffer" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Productivity" class="control-label"></label>
                                        <input asp-for="Productivity" class="form-control" />
                                        <span asp-validation-for="Productivity" class="text-danger"></span>
                                    </div>



                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Save"]" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
