﻿@model IEnumerable<HRMNet.Models.Recruit.Target>

@{
    ViewData["Title"] = "Index";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Leaves"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <a asp-action="Create" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a><br />

                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstInterviewedCount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SubmittedToManagement)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SharedWithCustomer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerChoosen)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Proposed)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AcceptedOffer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Productivity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerId)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstInterviewedCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubmittedToManagement)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SharedWithCustomer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerChoosen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Proposed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AcceptedOffer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Productivity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Customer.Name)
                                        </td>
                                        
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">@sharedLocalizer["Edit"]</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">@sharedLocalizer["Details"]</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">@sharedLocalizer["Delete"]</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
