﻿@model UserCardItemViewModel

@{
    var user = Model.User;
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<div class="mt-5">
  <div class="row">
    <div class="col-md-7">
       <div class="table-responsive">
        <table id="all-roles-list" class="table table-striped table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">@sharedLocalizer["User feature"]</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-user"></span>
                    <strong>@sharedLocalizer["Username"]</strong>
                </td>
                <td class="text-center">@user.UserName</td>
                <td class="text-center">
                    <a asp-controller="UserProfile"
                       asp-action="AdminEdit"
                       asp-route-id="@user.Id"
                       class="btn btn-info btn-sm">
                        @sharedLocalizer["Edit Features"]
                        
                        <span aria-hidden="true" class="fas fa-edit"></span>
                    </a>
                    <a asp-controller="ChangePassword"
                       asp-action="Index"
                       asp-route-id="@user.Id"
                       class="btn btn-info btn-sm mt-2">
                        @sharedLocalizer["Change Password"]
                        
                        <span aria-hidden="true" class="fas fa-edit"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-user-circle"></span>
                    <strong>@sharedLocalizer["User Status"]</strong>
                </td>
                <td class="text-center">
                    @if (user.IsActive)
                    {
                    <span class="badge badge-success badge-pill text-white">@sharedLocalizer["Active"]</span>
                    }
                    else
                    {
                <span class="badge badge-warning badge-pill text-white">@sharedLocalizer["Inactive"]</span>
                    }
                </td>
                <td class="text-center">
                    <form method="post"
                          asp-controller="UsersManager"
                          asp-action="ChangeUserStat"
                          role="form"
                          data-ajax="true"
                          data-ajax-alert-confirm="Do you want to change user @user.DisplayName status?"
                          data-ajax-begin="dataAjaxBegin"
                          data-ajax-success="dataAjaxSuccess"
                          data-ajax-failure="dataAjaxFailure"
                          data-ajax-update="#usercard-@user.Id">
                        <input name="userId" value="@user.Id" type="hidden" />
                        @if (user.IsActive)
                        {
                            <input name="activate" value="false" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                @sharedLocalizer["Inactive"]
                                <span aria-hidden="true" class="fas fa-thumbs-down"></span>
                            </button>
                        }
                        else
                        {
                            <input name="activate" value="true" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                @sharedLocalizer["Active"]
                                
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        }
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-envelope"></span>
                    <strong>
                        @sharedLocalizer["Email Status"]
                        

                    </strong>
                </td>
                <td class="text-center">
                    @if (user.EmailConfirmed)
                    {
                    <span class="badge badge-success badge-pill text-white">@sharedLocalizer["Confirmed"]</span>
                    }
                    else
                    {
                <span class="badge badge-warning badge-pill text-white">@sharedLocalizer["Not Confirmed"]</span>
                    }
                </td>
                <td class="text-center">
                    @if (!user.EmailConfirmed)
                    {
                        <form method="post"
                              asp-controller="UsersManager"
                              asp-action="ActivateUserEmailStat"
                              role="form"
                              data-ajax="true"
                              data-ajax-begin="dataAjaxBegin"
                              data-ajax-success="dataAjaxSuccess"
                              data-ajax-failure="dataAjaxFailure"
                              data-ajax-update="#usercard-@user.Id">
                            <input name="userId" value="@user.Id" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                @sharedLocalizer["Active"]
                                
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        </form>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-lock"></span>
                    <strong>
                        @sharedLocalizer["Locking account possibility"]
                        
                    </strong>
                </td>
                <td class="text-center">
                    @if (user.LockoutEnabled)
                    {
                    <span class="badge badge-success badge-pill text-white">@sharedLocalizer["Active"]</span>
                    }
                    else
                    {
                <span class="badge badge-warning badge-pill text-white">@sharedLocalizer["Inactive"]</span>
                    }
                </td>
                <td class="text-center">
                    <form method="post"
                          asp-controller="UsersManager"
                          asp-action="ChangeUserLockoutMode"
                          role="form"
                          data-ajax="true"
                          data-ajax-begin="dataAjaxBegin"
                          data-ajax-success="dataAjaxSuccess"
                          data-ajax-failure="dataAjaxFailure"
                          data-ajax-update="#usercard-@user.Id">
                        <input name="userId" value="@user.Id" type="hidden" />
                        @if (user.LockoutEnabled)
                        {
                            <input name="activate" value="false" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                @sharedLocalizer["Inactive"]
                                <span aria-hidden="true" class="fas fa-thumbs-down"></span>
                            </button>
                        }
                        else
                        {
                            <input name="activate" value="true" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                @sharedLocalizer["Active"]
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        }
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-calendar-check"></span>
                    <strong>
                        @sharedLocalizer["End of locking account time"]
                        

                    </strong>
                </td>
                <td class="text-center">
                    @if (user.LockoutEnd != null)
                    {
                        @user.LockoutEnd.Value
                    }
                </td>
                <td class="text-center">
                    @if (user.LockoutEnd != null)
                    {
                        <form method="post"
                              asp-controller="UsersManager"
                              asp-action="EndUserLockout"
                              role="form"
                              data-ajax="true"
                              data-ajax-begin="dataAjaxBegin"
                              data-ajax-success="dataAjaxSuccess"
                              data-ajax-failure="dataAjaxFailure"
                              data-ajax-update="#usercard-@user.Id">
                            <input name="userId" value="@user.Id" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                @sharedLocalizer["Unlock"]
                                
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        </form>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-user-secret"></span>
                    <strong>
                        @sharedLocalizer["Two-factor validation"]
                        
                    </strong>
                </td>
                <td class="text-center">
                    @if (user.TwoFactorEnabled)
                    {
                    <span class="badge badge-success badge-pill text-white">@sharedLocalizer["Active"]</span>
                    }
                    else
                    {
                <span class="badge badge-warning badge-pill text-white">@sharedLocalizer["Inactive"]</span>
                    }
                </td>
                <td class="text-center">
                    <form method="post"
                          asp-controller="UsersManager"
                          asp-action="ChangeUserTwoFactorAuthenticationStat"
                          role="form"
                          data-ajax="true"
                          data-ajax-begin="dataAjaxBegin"
                          data-ajax-success="dataAjaxSuccess"
                          data-ajax-failure="dataAjaxFailure"
                          data-ajax-update="#usercard-@user.Id">
                        <input name="userId" value="@user.Id" type="hidden" />
                        @if (user.TwoFactorEnabled)
                        {
                            <input name="activate" value="false" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                @sharedLocalizer["Inactive"]
                                
                                <span aria-hidden="true" class="fas fa-thumbs-down"></span>
                            </button>
                        }
                        else
                        {
                            <input name="activate" value="true" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                @sharedLocalizer["Active"]
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        }
                    </form>
                </td>
            </tr>
           </tbody>
        </table>
       </div>
    </div>
    <div class="col-md-5">
       <div class="table-responsive">
        <table id="all-roles-list" class="table table-striped table-hover table-bordered">
            <thead class="thead-light">
              <tr>
                  <th class="text-center">
                      <span aria-hidden="true" class="fas fa-id-badge"></span>
                      @sharedLocalizer["System roles"]
                      
                  </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <form method="post"
                          asp-controller="UsersManager"
                          asp-action="ChangeUserRoles"
                          role="form"
                          data-ajax="true"
                          data-ajax-begin="dataAjaxBegin"
                          data-ajax-success="dataAjaxSuccess"
                          data-ajax-failure="dataAjaxFailure"
                          data-ajax-update="#usercard-@user.Id">
                        <input name="userId" value="@user.Id" type="hidden" />
                        @foreach (var role in Model.Roles)
                        {
                            var selected = user.Roles.Any(userRole => userRole.RoleId == role.Id) ? "checked" : "";
                            <div>
                                <input type="checkbox" name="roleIds" value="@role.Id" @selected />
                                @role.Name
                            </div>
                        }
                    <button type="submit" class="btn btn-info btn-sm top10">
                        @sharedLocalizer["Submit roles changes"]
                        
                        <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                    </button>
                    </form>
                </td>
              </tr>
            </tbody>
        </table>
       </div>
    </div>
    <div>
        <form method="post" 
              asp-controller="UsersManager"
              asp-action="DeleteUser"
              data-ajax="true"
              role="form"
              data-ajax-alert-confirm="@sharedLocalizer["Do you want to delete user"] @user.DisplayName?"
              data-ajax-begin="dataAjaxBegin"
              data-ajax-success="dataAjaxSuccess"
              data-ajax-failure="dataAjaxFailure"
              data-ajax-update="#usercard-@user.Id">
            <input type="hidden" name="userId" value="@user.Id" />
            <button type="submit" class="btn btn-danger">@sharedLocalizer["Delete User"]</button>

        </form>
    </div>
  </div>
</div>