﻿@model HRMNet.Models.ViewModel.CustomSetting.CustomSettingViewModel

@{
    ViewData["Title"] = "Edit";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
         baseName: "SharedResource",
         location: "HRMNet");

    var fileInputLocalization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "tr" : "en";

}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"] </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Edit" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <label asp-for="SendingEmailGeneralBody" class="control-label"></label>
                                        <textarea rows="10" asp-for="SendingEmailGeneralBody" class="form-control"></textarea>
                                        <span asp-validation-for="SendingEmailGeneralBody" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input id="files" name="files" type="file">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Save"]" class="btn btn-primary" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <a asp-controller="Home" asp-action="Index">@sharedLocalizer["Back"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrapfileinput/fileinput.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/locales/tr.js"></script>
    <script src="~/js/bootstrapfileinput/themes/explorer-fas/theme.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#files").fileinput({
                language: "@fileInputLocalization",
                theme: 'explorer-fas',
                overwriteInitial: false,
                previewFileType: 'any',
                //allowedFileTypes: ["image", "pdf", "doc","docx"],
                initialPreviewAsData: true,
                showUpload: false,
                initialPreview: [
                    @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreview)
                ],
                initialPreviewDownloadUrl: '/Files/GeneralSettings/{filename}',
                initialPreviewConfig: [
                    @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreviewConfig)
                ],
            });
        });
    </script>

    
}
