﻿@model Customer

@{
    ViewData["Title"] = "Edit";
}
@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet");
    var fileInputLocalization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "tr" : "en";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                                <form asp-action="Edit" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IsContentUsesForEmail" class="control-label"></label>
                                        <input style="width:50px;" asp-for="IsContentUsesForEmail" class="form-control" />
                                        <span asp-validation-for="IsContentUsesForEmail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Content" class="control-label"></label>
                                        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input id="files" name="files" type="file" multiple>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Save"]" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrapfileinput/plugins/piexif.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/fileinput.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/locales/tr.js"></script>
    <script src="~/js/bootstrapfileinput/themes/explorer-fas/theme.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#files").fileinput({
                language: "@fileInputLocalization",
                //otherActionButtons: btns,
                //rtl: true,
                theme: 'explorer-fas',
                overwriteInitial: false,
                previewFileType: 'any',
                //allowedFileTypes: ["image", "pdf", "doc","docx"],
                initialPreviewAsData: true,
                showUpload: false,
                initialPreview: [
                    @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreview)
                ],
                initialPreviewDownloadUrl: '/Files/Customer/{filename}',
                initialPreviewConfig: [
                    @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreviewConfig)
                ],
            });


            $('#IsContentUsesForEmail').change(function () {
                if ($(this).is(":checked")) {
                    $("#Content").removeAttr("disabled");
                } else {
                    $("#Content").attr("disabled", "disabled");
                }





              //  $('input[name=Content]')[0].disabled = !this.checked;
            }).change();

        });

    </script>
}
