﻿@model HRMNet.Models.Candidates.Inventory

@{
    ViewData["Title"] = "Create";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet" );
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Create"]</h3>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @*<div class="form-group">
                                            <label asp-for="CandidateId" class="control-label"></label>
                                            <select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateId"></select>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="InventoryNumber" class="control-label"></label>
                                                <input asp-for="InventoryNumber" class="form-control" />
                                                <span asp-validation-for="InventoryNumber" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="InventoryTypeId" class="control-label"></label>
                                                <select asp-for="InventoryTypeId" class="form-control" asp-items="ViewBag.InventoryTypeId"></select>
                                                <span asp-validation-for="InventoryTypeId" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Brand" class="control-label"></label>
                                                <input asp-for="Brand" class="form-control" />
                                                <span asp-validation-for="Brand" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Model" class="control-label"></label>
                                                <input asp-for="Model" class="form-control" />
                                                <span asp-validation-for="Model" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="WindowsUsername" class="control-label"></label>
                                                <input asp-for="WindowsUsername" class="form-control" />
                                                <span asp-validation-for="WindowsUsername" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="SerialNumber" class="control-label"></label>
                                                <input asp-for="SerialNumber" class="form-control" />
                                                <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="WindowsUserPassword" class="control-label"></label>
                                                <input asp-for="WindowsUserPassword" class="form-control" />
                                                <span asp-validation-for="WindowsUserPassword" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="PasswordHint" class="control-label"></label>
                                                <input asp-for="PasswordHint" class="form-control" />
                                                <span asp-validation-for="PasswordHint" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="OfficeProgram" class="control-label"></label>
                                                <input asp-for="OfficeProgram" class="form-control" />
                                                <span asp-validation-for="OfficeProgram" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="OfficeProgramKey" class="control-label"></label>
                                                <input asp-for="OfficeProgramKey" class="form-control" />
                                                <span asp-validation-for="OfficeProgramKey" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="VirusProgram" class="control-label"></label>
                                                <input asp-for="VirusProgram" class="form-control" />
                                                <span asp-validation-for="VirusProgram" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="VirusProgramPassword" class="control-label"></label>
                                                <input asp-for="VirusProgramPassword" class="form-control" />
                                                <span asp-validation-for="VirusProgramPassword" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Windows" class="control-label"></label>
                                                <input asp-for="Windows" class="form-control" />
                                                <span asp-validation-for="Windows" class="text-danger"></span>
                                            </div>


                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="WindowsPassword" class="control-label"></label>
                                                <input asp-for="WindowsPassword" class="form-control" />
                                                <span asp-validation-for="WindowsPassword" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="PurchasedLocationAndDate" class="control-label"></label>
                                                <input asp-for="PurchasedLocationAndDate" class="form-control" />
                                                <span asp-validation-for="PurchasedLocationAndDate" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                    @*<div class="form-group">
                                            <label asp-for="DeliveryDate" class="control-label"></label>
                                            <input asp-for="DeliveryDate" class="form-control" />
                                            <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                        </div>*@

                                    <div class="form-group">
                                        <input type="submit" value="@sharedLocalizer["Create"]" class="btn btn-primary" />| <a asp-action="Inventories" class="btn btn-default">@sharedLocalizer["Cancel"]</a>
                                    </div>

                                </form>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <a asp-action="Inventories">@sharedLocalizer["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
