﻿@model HRMNet.Models.Candidates.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasedLocationAndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasedLocationAndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindowsPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindowsPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Windows)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Windows)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VirusProgramPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VirusProgramPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VirusProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VirusProgram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeProgramKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeProgramKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeProgram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordHint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindowsUserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindowsUserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindowsUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindowsUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryType.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryType.Name)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Email)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByBrowserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByBrowserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByBrowserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedByBrowserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifierIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifierIp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditInventory" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
