﻿@model IEnumerable<HRMNet.Models.Candidates.Inventory>

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");

    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Inventories"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <security-trimming asp-controller="Inventories" asp-action="Create">
                                    <a asp-action="Create" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a>
                                </security-trimming>
                            </div>
                            <div class="col-2">
                                <security-trimming asp-controller="Inventories" asp-action="Export">
                                    <form asp-action="Export" method="post">
                                        <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />

                                    </form>
                                </security-trimming>
                            </div>

                        </div>
                        <table style="width:100%;" id="inventoriestable" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.InventoryType.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InventoryNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Brand)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Model)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SerialNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsUsed)
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.CandidateInventories.LastOrDefault().Candidate.Name)
                                        </th>*@

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr id="ApproveStat-@item.Id">

                                            <td>
                                                @Html.DisplayFor(modelItem => item.InventoryType.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InventoryNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Brand)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Model)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SerialNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsUsed)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.CandidateInventories.LastOrDefault().Candidate.Name)
                                                </td>*@
                                            <td>
                                                <security-trimming asp-controller="Inventories" asp-action="Edit">
                                                    <a asp-action="Edit" asp-route-id="@item.Id">@sharedLocalizer["Edit"]</a> |
                                                </security-trimming>
                                                @*<a asp-action="InventoryDetails" asp-route-id="@item.Id">Details</a> |*@
                                                <security-trimming asp-controller="Inventories" asp-action="Delete">
                                                    <a asp-action="Delete" asp-route-id="@item.Id">@sharedLocalizer["Delete"]</a>
                                                </security-trimming>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>


                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(function () {


            $('#inventoriestable').DataTable({
                language: {
                    url: '@localization'
                },
                //"paging": true,
                "lengthChange": true,
                "searching": true,
                //"ordering": true,
                //"info": true,
                //"autoWidth": true,
                "responsive": {
                    details: true
                },
                "scrollX": true,
                "scrollCollapse": true,

            });
        });
    </script>
}