﻿@model SopsViewModel

@foreach (var item in Model.Sops)
{
    <tr>
        <td class="details-control">
            @Html.HiddenFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DemandType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DemandName)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.Owner.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>*@

        <!--<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |-->
            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
            <!--<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>-->
    </tr>
}