﻿@model HRMNet.Models.Sops.Sop

@{
    ViewData["Title"] = "Create";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form asp-action="Create" id="frmInsert">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CustomerId" class="control-label"></label>
                                        <select asp-for="CustomerId" asp-items="ViewBag.Customers" class="form-control">
                                            <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                        </select>
                                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="DemandType" class="control-label"></label>
                                        <select asp-for="DemandType" asp-items="@Html.GetEnumSelectList<SOPDemandType>()" class="form-control">
                                            <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                        </select>
                                        <span asp-validation-for="DemandType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div calss="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Priority" class="control-label"></label>
                                        <input asp-for="Priority" class="form-control" />
                                        <span asp-validation-for="Priority" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="DemandName" class="control-label"></label>
                                        <input asp-for="DemandName" class="form-control" />
                                        <span asp-validation-for="DemandName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ContactPerson" class="control-label"></label>
                                        <input asp-for="ContactPerson" class="form-control" />
                                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="OwnerId" class="control-label"></label>
                                        <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId">
                                            <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                        </select>
                                        <span asp-validation-for="OwnerId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Duration" class="control-label"></label>
                                        <input asp-for="Duration" class="form-control" />
                                        <span asp-validation-for="Duration" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="StartDate" class="control-label"></label>
                                        <input asp-for="StartDate" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="EndTime" class="control-label"></label>
                                        <input asp-for="EndTime" class="form-control" />
                                        <span asp-validation-for="EndTime" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Status" class="control-label"></label>
                                        <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<SOPStatus>()">
                                            <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                        </select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Result" class="control-label"></label>
                                        <select asp-for="Result" class="form-control" asp-items="@Html.GetEnumSelectList<SopsResult>()" disabled="disabled">
                                            @*<option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>*@
                                        </select>
                                        @*<input asp-for="Result" class="form-control" />*@
                                        <span asp-validation-for="Result" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="selectedPositions" class="control-label"></label>
                                        <select asp-for="selectedPositions" asp-items="ViewBag.Positions" multiple="multiple" class="form-control"></select>
                                        <span asp-validation-for="selectedPositions" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            @*<div class="row">
                                <div class="col-md-12">
                                    
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Comment" class="control-label"></label>
                                        <input asp-for="Comment" class="form-control" />
                                        <span asp-validation-for="Comment" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" id="btnInsert" value="@sharedLocalizer["Adding"]" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

}
