﻿@model HRMNet.Models.Sops.Sop

@{
    ViewData["Title"] = "Delete";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Delete"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h4>@sharedLocalizer["Are you sure you want to delete this?"]</h4>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DemandName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DemandName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DemandType)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DemandType)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ContactPerson)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ContactPerson)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Owner)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatorId)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Priority)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Priority)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.StartDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.EndTime)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.EndTime)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Duration)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Duration)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Result)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Result)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Comment)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Comment)
                                </dd>
                                @*<dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatorId)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatorId)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatedDateTime)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatedByBrowserName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatedByBrowserName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatorIp)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatorIp)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifierId)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifierId)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifiedDateTime)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifiedDateTime)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifiedByBrowserName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifiedByBrowserName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifierIp)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifierIp)
                                </dd>*@
                            </dl>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="@sharedLocalizer["Delete"]" class="btn btn-danger" /> |
                                <a asp-action="Edit" class="btn btn-default" asp-route-id="@Model.Id">@sharedLocalizer["Back"]</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


