﻿@model HRMNet.Models.Sops.Sop

@{
    ViewData["Title"] = "Edit";
}

@section Styles
{
    <link href="~/adminlte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/jQuery-MultiSelect/jquery.multiselect.css" />
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
          location: "HRMNet");
    var fileInputLocalization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "tr" : "en";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Edit" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="CustomerId" class="control-label"></label>
                                                <select asp-for="CustomerId" asp-items="ViewBag.Customers" class="form-control">
                                                    <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                                </select>
                                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="DemandType" class="control-label"></label>
                                                <select asp-for="DemandType" asp-items="@Html.GetEnumSelectList<SOPDemandType>()" class="form-control">
                                                    <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                                </select>
                                                <span asp-validation-for="DemandType" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div calss="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Priority" class="control-label"></label>
                                                <input asp-for="Priority" class="form-control" />
                                                <span asp-validation-for="Priority" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="DemandName" class="control-label"></label>
                                                <input asp-for="DemandName" class="form-control" />
                                                <span asp-validation-for="DemandName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ContactPerson" class="control-label"></label>
                                                <input asp-for="ContactPerson" class="form-control" />
                                                <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="CreatorId" class="control-label"></label>
                                                <select asp-for="CreatorId" class="form-control" asp-items="ViewBag.OwnerId">
                                                    <option selected="selected" value="">Please select ...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Duration" class="control-label"></label>
                                                <input asp-for="Duration" class="form-control" />
                                                <span asp-validation-for="Duration" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="StartDate" class="control-label"></label>
                                                <input asp-for="StartDate" class="form-control" />
                                                <span asp-validation-for="StartDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="EndTime" class="control-label"></label>
                                                <input asp-for="EndTime" class="form-control" />
                                                <span asp-validation-for="EndTime" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Status" class="control-label"></label>
                                                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<SOPStatus>()">
                                                    <option selected="selected" value="">Please select ...</option>
                                                </select>
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Result" class="control-label"></label>
                                                <select asp-for="Result" class="form-control" asp-items="@Html.GetEnumSelectList<SopsResult>()" disabled="disabled">
                                                    @*<option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>*@
                                                </select>
                                                @*<input asp-for="Result" class="form-control" />*@
                                                <span asp-validation-for="Result" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="selectedPositions" class="control-label"></label>
                                                <select asp-for="selectedPositions" asp-items="ViewBag.Positions" multiple="multiple" class="form-control"></select>
                                                <span asp-validation-for="selectedPositions" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    @*<div class="row">
                                        <div class="col-md-12">
                                            
                                        </div>
                                    </div>*@
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Comment" class="control-label"></label>
                                                <input asp-for="Comment" class="form-control" />
                                                <span asp-validation-for="Comment" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <input id="files" name="files" type="file" multiple>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="submit" value="@sharedLocalizer["Save"]" class="btn btn-primary" />|
                                                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">@sharedLocalizer["Delete"]</a>|
                                                <a asp-action="Index" class="btn btn-default">@sharedLocalizer["Cancel"]</a>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="~/js/bootstrapfileinput/fileinput.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/locales/tr.js"></script>
    <script src="~/js/bootstrapfileinput/themes/explorer-fas/theme.min.js"></script>
    <script>
            $(document).ready(function () {
                

                $('#Status').on('change', function () {

                    debugger;

                    if ($(this).val() == '@((int)SOPStatus.Closed)') {

                        $("#Result").prop("disabled", false);
                    } else {
                        $("#Result").prop("disabled", true);
                    }
                });


                $("#files").fileinput({
                    language: "@fileInputLocalization",
                    //otherActionButtons: btns,
                    //rtl: true,
                    //reversePreviewOrder: true,
                    theme: 'explorer-fas',
                    overwriteInitial: false,
                    previewFileType: 'any',
                    allowedFileTypes: null, //["image", "pdf", "doc"],
                    enableResumableUpload: true,
                    initialPreviewAsData: true,
                    showUpload: false,
                    initialPreviewDownloadUrl: '/Candidates/GetFilesById/{key}',
                    initialPreview: [
                        @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreview)
                    ],
                    //initialPreviewDownloadUrl: '/Files/{filename}',
                    initialPreviewConfig: [
                        @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreviewConfig)
                    ],
                    preferIconicPreview: true,
                    previewFileIconSettings: { // configure your icon file extensions
                        'doc': '<i class="fas fa-file-word text-primary"></i>',
                        'xls': '<i class="fas fa-file-excel text-success"></i>',
                        'ppt': '<i class="fas fa-file-powerpoint text-danger"></i>',
                        'pdf': '<i class="fas fa-file-pdf text-danger"></i>',
                        'zip': '<i class="fas fa-file-archive text-muted"></i>',
                        'htm': '<i class="fas fa-file-code text-info"></i>',
                        'txt': '<i class="fas fa-file-alt text-info"></i>',
                        'mov': '<i class="fas fa-file-video text-warning"></i>',
                        'mp3': '<i class="fas fa-file-audio text-warning"></i>',
                        // note for these file types below no extension determination logic
                        // has been configured (the keys itself will be used as extensions)
                        'jpg': '<i class="fas fa-file-image text-danger"></i>',
                        'gif': '<i class="fas fa-file-image text-muted"></i>',
                        'png': '<i class="fas fa-file-image text-primary"></i>'
                    },
                    previewFileExtSettings: { // configure the logic for determining icon file extensions
                        'doc': function(ext) {
                            return ext.match(/(doc|docx)$/i);
                        },
                        'xls': function(ext) {
                            return ext.match(/(xls|xlsx)$/i);
                        },
                        'ppt': function(ext) {
                            return ext.match(/(ppt|pptx)$/i);
                        },
                        'zip': function(ext) {
                            return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                        },
                        'htm': function(ext) {
                            return ext.match(/(htm|html)$/i);
                        },
                        'txt': function(ext) {
                            return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                        },
                        'mov': function(ext) {
                            return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                        },
                        'mp3': function(ext) {
                            return ext.match(/(mp3|wav)$/i);
                        }
                    }
                });

                $('#selectedPositions').multiselect({
                    columns: 3,
                    search: true,
                    selectAll: true,
                    texts: {
                        placeholder: '@sharedLocalizer["Please Select ..."]',
                        search: '@sharedLocalizer["Search Positions"]'
                    },
                });

                var options =@Html.Raw(Model.AllPositions); // [{ name: "Java Developer (Microsoft)", value: 20, checked: true }, { name: ".Net Developer (IBM)", value: 21, checked: false }, { name: "Java Developer  (Vodafone)", value: 22, checked: false }, { name: "PHP Developer (IBM)", value: 23, checked: true }];

                $('#selectedPositions').multiselect('loadOptions', options);

            });
    </script>

}
