﻿@model SopsViewModel

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <link href="~/adminlte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/jQuery-MultiSelect/jquery.multiselect.css" />

    <style>
        td.details-control {
            background: url('images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('images/details_close.png') no-repeat center center;
        }

        .form-check {
            display: flex;
            align-items: center;
        }

            .form-check label {
                margin-left: 0px;
                font-weight: bold;
                /*font-size: 18px;
                font-weight: 500;*/
            }

            .form-check .form-check-input[type=checkbox] {
                border-radius: .25em;
                height: 35px;
                width: 35px;
                margin-top: 35px;
            }

            .form-check .form-check-input[type=radio] {
                border-radius: 100%;
                height: 50px;
                width: 50px;
            }

        .form-switch .form-check-input[type=checkbox] {
            border-radius: 2em;
            height: 50px;
            width: 100px;
        }
    </style>
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
           baseName: "SharedResource",
           location: "HRMNet"); }


<div class="col-12">
    @{
        await Html.RenderPartialAsync("Create", Model.Sop);
    }

</div>

<div class="col-12">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered" style="width:100%;" id="sopsTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Sops.FirstOrDefault().Customer.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Sops.FirstOrDefault().DemandType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Sops.FirstOrDefault().DemandName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Sops.FirstOrDefault().Status)
                                        </th>

                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody id="suitableSops">
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/blockui/jquery.blockUI.js"></script>
    <script src="~/js/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script>
        function format(id, row) {

            $.ajax({
                type: "POST",
                async: false,
                url: "/Sops/GetDetail",
                //contentType: "application/json;charset=utf-8",
                data: { id: id },
                //dataType: "json",
                success: function (result) {
                    row.after('<tr><td colspan="5">' + result + '</td></tr>');
                    return result;

                },
                error: function (response) {
                    alert('@sharedLocalizer["Fetching data got error"]');
                }
            });

        }

        $(document).ready(function () {
            $('#sopsTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var sopsId = tr.find('#item_Id').val();

                if (tr.hasClass('shown')) {

                    tr.removeClass('shown');
                    tr.next().remove();
                }
                else {

                    format(sopsId, tr);
                    tr.addClass('shown');
                }
            });


            $("#frmInsert").submit(function (event) {
            // Stop form from submitting normally
                event.preventDefault();

                var formValues = $(this).serialize();
                $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });

                var jqxhr= $.post("/Sops/Create", formValues, function (data) {
                    if (data == 'true') {

                        var id = $('#CustomerId').val();
                        var type = $('#DemandType').val();
                        // clear form

                        $("#frmInsert")[0].reset();
                        //$(this).closest('form').trigger("reset");
                        $('#selectedPositions').multiselect('reset');
                        

                    }
                    else {
                        
                        toastr.options.fadeOut = 4000;
                        toastr.warning('@sharedLocalizer["Inserting is failed"]', '');
                    }
                })
                .done(function (data) {
                    
                })
                    .fail(function (jqXHR, textStatus, error) {
                    debugger;
                    alert(jqXHR.responseText);
                }).always(function() {
                    $.unblockUI();
                });;
            });

            $('#selectedPositions').multiselect({
                columns: 3,
                search: true,
                selectAll: true,
                texts: {
                    placeholder: '@sharedLocalizer["Please Select ..."]',
                    search: '@sharedLocalizer["Search Positions"]'
                }
            });

            $('#Status').on('change', function () {

                debugger;

                if ($(this).val() == '@((int)SOPStatus.Closed)') {

                    $("#Result").prop("disabled", false);
                } else {
                    $("#Result").prop("disabled", true);
                }
            });


            $('#DemandType').on('change', function () {
                $.blockUI({ message: '<h6>@sharedLocalizer["Please Select ..."]</h6>' });
                $('#suitableSops').html('');
                var customerId = $("#CustomerId option:selected").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSopsByDemandType", "Sops")',
                    data: { "id": customerId, "type": this.value},
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            }
                            else {
                                window.location = '/login';
                            }
                        }
                        else if (status === 'error' || !data) {
                            $.unblockUI();
                            alert('@sharedLocalizer["An Error Occured."]');
                        }
                        else {
                            $('#suitableSops').html(data);

                            $.unblockUI();
                        }
                    }
                });

        });

        $('#CustomerId').on('change', function () {
            $.blockUI({ message: '<h6>@sharedLocalizer["Please Wait ..."]</h6>' });
            $('#suitableSops').html('');
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSopsByCustomerId", "Sops")',
                    data: { "id":this.value},
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            }
                            else {
                                window.location = '/login';
                            }
                        }
                        else if (status === 'error' || !data) {
                            $.unblockUI();
                            alert('@sharedLocalizer["An Error Occured."]');
                        }
                        else {
                            $('#suitableSops').html(data);

                            $.unblockUI();
                        }
                    }
                });

        });
        });


    </script>
}
