﻿@model IEnumerable<HRMNet.Models.Candidates.InventoryType>

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link href="~/wwwroot/css/dataTables.checkboxes.css" />
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
           baseName: "SharedResource",
          location: "HRMNet");
    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Inventory Categories"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form id="frm-example" asp-action="DeleteMultiple" method="POST">
                            <div class="row">
                                <div class="col-2">
                                    <security-trimming asp-controller="InventoryTypes" asp-action="Create">
                                        <a asp-action="Create" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a>
                                    </security-trimming>
                                </div>

                                @*<div class="col-2">
                                        <button type="submit" class="btn btn-block btn-danger">@sharedLocalizer["Delete All"]</button><br />
                                    </div>*@
                            </div>
                            <br />
                            <table id="inventoryTypesTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.CreatorId)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.ModifierId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ModifiedDateTime)
                                            </th>*@

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.CreatorId)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModifierId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModifiedDateTime)
                                                </td>*@

                                            <td>
                                                <security-trimming asp-controller="InventoryTypes" asp-action="Edit">
                                                    <a asp-action="Edit" asp-route-id="@item.Id">@sharedLocalizer["Edit"]</a> |
                                                </security-trimming>
                                                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                                <security-trimming asp-controller="InventoryTypes" asp-action="Delete">
                                                    <a asp-action="Delete" asp-route-id="@item.Id">@sharedLocalizer["Delete"]</a>
                                                </security-trimming>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.checkboxes.min.js"></script>
    <script>
        $(document).ready(function () {


            var table = $('#inventoryTypesTable').DataTable({
                language: {
                    url: '@localization'
                },
                'columnDefs': [
                    {
                        'targets': 0,
                        'checkboxes': {
                            'selectRow': true
                        },
                        "orderable": false
                    }
                ],
                'select': {
                    'style': 'multi'
                },
                //'order': [[1, 'asc']]
            });

        });

    </script>

}