﻿@model Candidate

@{
    Layout = "";

    string features = "";
    Model.CandidateFeatures.Select(x => x.Feature).ToList().ForEach(x => features += x.FeatureName + " ");
    string positions = "";
    Model.CandidatePositions.Select(x => x.Position).ToList().ForEach(x => positions += x.PositionName + " ");

}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");
}

<td>

    @Html.DisplayFor(modelItem => Model.Name) @Html.DisplayFor(modelItem => Model.Family)
</td>
<td>@Html.DisplayFor(modelItem => Model.Status)</td>
<td>@Html.DisplayFor(modelItem => positions)</td>
<td>@Html.DisplayFor(modelItem => Model.StartPeriod)</td>
<td>@Html.DisplayFor(modelItem => Model.TotalITexperience)</td>
<td>@Html.DisplayFor(modelItem => features)</td>

<td>@Html.DisplayFor(modelItem => Model.CurrentWages)</td>
<td>@Html.DisplayFor(modelItem => Model.ExpectedWages)</td>

<td>@Html.DisplayFor(modelItem => Model.BriefPersonalInfomation)</td>
<td>@Html.DisplayFor(modelItem => Model.Telephone)</td>
<td>@Html.DisplayFor(modelItem => Model.Email)</td>
<td>@Html.DisplayFor(modelItem => Model.IsHavingCV)</td>
<td>@Html.DisplayFor(modelItem => Model.Creator)</td>
<td>@Html.DisplayFor(modelItem => Model.Modifier)</td>
@*<td>@Html.DisplayFor(modelItem => item.Creator.DisplayName)</td>
    <td>@Html.DisplayFor(modelItem => item.Modifier.DisplayName)</td>*@

<td>@Html.DisplayFor(modelItem => Model.ModifiedDateTime)</td>
<td>
    @*<a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">@sharedLocalizer["Edit"]</a>|
        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id" style="display:inline-block;">@sharedLocalizer["Remove"]</a>|*@
    <security-trimming asp-controller="Candidates" asp-action="InvitedCandidate">
        <form method="post" style="display:inline-block;"
              asp-controller="Candidates"
              asp-action="InvitedCandidate"
              role="form">

            <input name="id" value="@Model.Id" type="hidden" />
            @if (Model.Status == CandidateStatus.WaitingForPaperwork)
            {
                <input name="approved" value="false" type="hidden" />
                <button type="submit" class="btn btn-success">

                    @sharedLocalizer["Start Recruitment"]
                    <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                </button>
            }
            else
            {
                <input name="approved" value="true" type="hidden" />
                <button type="submit" class="btn btn-danger">
                    @sharedLocalizer["Start Recruitment"]

                    <span aria-hidden="true" class="fas fa-thumbs-down"></span>
                </button>
            }
        </form>
    </security-trimming>

</td>
