﻿@model IEnumerable<CandidateCourse>

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");
}

<table id="coursestable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInternal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IsInternal)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Course.Duration)
            </th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.CourseId > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Course.Name)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Name)
                        }

                    </td>
                    <td>
                        @if (item.CourseId > 0)
                        {
                            <input type='checkbox' checked='checked' disabled='disabled' />
                        }
                        else
                        {
                            <input type='checkbox' disabled='disabled' />
                        }
                    </td>
                    <td>
                        @if (item.CourseId > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Course.StartDate)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.StartDate)
                        }
                    </td>
                    <td>
                        @if (item.CourseId > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Course.EndDate)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.EndDate)
                        }

                    </td>

                    <td>
                        @if (item.CourseId > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Course.Duration)
                        }
                        else
                        {

                        }

                    </td>

                    <td>
                        <security-trimming asp-controller="CandidateCourses" asp-action="Edit">
                            <a asp-action="Edit" asp-controller="CandidateCourses" asp-route-id="@item.Id">@sharedLocalizer["Edit"]</a>
                        </security-trimming>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>