﻿@model Candidate
@{
    Layout = "";

    //string features = "";
    //Model.CandidateFeatures.Select(x => x.Feature).ToList().ForEach(x => features += x.FeatureName + " ");
    //string positions = "";
    //Model.CandidatePositions.Select(x => x.Position).ToList().ForEach(x => positions += x.PositionName + " ");

}
<td>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        @Html.DisplayFor(modelItem => Model.Name) @Html.DisplayFor(modelItem => Model.Family)
    </a>
</td>
<td>@Html.DisplayFor(modelItem => Model.Status)</td>
<td>@Html.DisplayFor(modelItem => Model.PositionListString)</td>
<td>@Html.DisplayFor(modelItem => Model.StartPeriod)</td>
<td>@Html.DisplayFor(modelItem => Model.TotalITexperience)</td>
@*<td>@Html.DisplayFor(modelItem => features)</td>*@

<td>@Html.DisplayFor(modelItem => Model.CurrentWages)</td>
<td>@Html.DisplayFor(modelItem => Model.ExpectedWages)</td>
<td>@Html.DisplayFor(modelItem => Model.BriefPersonalInfomation)</td>
<td>@Html.DisplayFor(modelItem => Model.Telephone)</td>
<td>@Html.DisplayFor(modelItem => Model.Email)</td>
@{
    if (Model.Attachments.Any())
        Model.IsHavingCV = true;
    else
        Model.IsHavingCV = false;
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");
}

<td>@Html.DisplayFor(modelItem => Model.IsHavingCV)</td>

<td>@Html.DisplayFor(modelItem => Model.Creator)</td>
<td>@Html.DisplayFor(modelItem => Model.Modifier)</td>

<td>@Html.DisplayFor(modelItem => Model.ModifiedDateTime)</td>
<td>
    <security-trimming asp-controller="Candidates" asp-action="Edit">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id" style="display: inline-block; width: 100px;">@sharedLocalizer["Edit"]</a>|
    </security-trimming>
    <security-trimming asp-controller="Candidates" asp-action="Delete">
        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id" style="width: 100px;">@sharedLocalizer["Delete"]</a>
    </security-trimming>


</td>
