﻿@model IEnumerable<Meeting>
@{var meetingCounter = 0;}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory1
@{
    var sharedLocalizer1 = HtmlLocalizerFactory1.Create(
                baseName: "SharedResource",
                location: "HRMNet" );
}

<table id="meetingstable" class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MPosition.PositionName)</th>
            <th>@Html.DisplayNameFor(model => model.MPosition.Customer.Name)</th>
            <th>@Html.DisplayNameFor(model => model.MPosition.ProjectName)</th>
            <th>@Html.DisplayNameFor(model => model.MeetingDate)</th>
            <th>@Html.DisplayNameFor(model => model.MeetingSpeakingPerson)</th>
            <th>@Html.DisplayNameFor(model => model.MeetingResult)</th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*<div class="form-group">*@
                        @*<label asp-for="@item.PositionId" class="control-label"></label>*@
                        <select asp-for="@item.MPositionId" name="[@meetingCounter].MPositionId" asp-items="ViewBag.Positions"></select>
                        @*<span asp-validation-for="@item.PositionId" class="text-danger"></span>*@
                        @*</div>*@


                        @*<input asp-for="@item.MPositionName" name="[@meetingCounter].MPositionName" class="form-control" readonly="readonly" />*@
                    </td>
                    <td>
                        @*@Html.Display("CustomerName")*@
                        <input asp-for="@item.MPosition.Customer.Name" name="[@meetingCounter].MPosition.Customer.Name" disabled />
                    </td>

                    <td>
                        @*@Html.Display("ProjectName")*@
                        <input asp-for="@item.MPosition.ProjectName" name="[@meetingCounter].MPosition.ProjectName" disabled />

                    </td>
                    <td>
                        <input asp-for="@item.MeetingDate" name="[@meetingCounter].MeetingDate" />

                    </td>

                    <td>
                        <input asp-for="@item.MeetingSpeakingPerson" name="[@meetingCounter].MeetingSpeakingPerson" />

                    </td>

                    <td>
                        <input asp-for="@item.MeetingResult" name="[@meetingCounter].MeetingResult" />

                    </td>


                    <td>
                        <a class="deleteItem" href="#" data-itemId="@item.Id">@sharedLocalizer1["Remove"]</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>