﻿@model IEnumerable<Offer>
@{var offerCounter = 0;}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory1
@{
    var sharedLocalizer1 = HtmlLocalizerFactory1.Create(
                baseName: "SharedResource",
                location: "HRMNet" );
}
<table id="offerstable" class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Position.PositionName)</th>
            <th>@Html.DisplayNameFor(model => model.Position.Customer.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Position.ProjectName)</th>
            <th>@Html.DisplayNameFor(model => model.OfferDate)</th>
            <th>@Html.DisplayNameFor(model => model.OfferContent)</th>
            <th>@Html.DisplayNameFor(model => model.OfferResult)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>
                        <select asp-for="@item.PositionId" name="[@offerCounter].PositionId" asp-items="ViewBag.Positions"></select>
                        @*<input asp-for="@item.OPositionName" name="[@offerCounter].OPositionName" class="form-control" readonly="readonly" />*@
                    </td>

                    <td>
                        <input asp-for="@item.Position.Customer.Name" name="[@offerCounter].Position.Customer.Name" disabled />
                        @*<input asp-for="@item.OCustomerName" name="[@offerCounter].OCustomerName" class="form-control" readonly="readonly" />*@

                    </td>
                    <td>
                        <input asp-for="@item.Position.ProjectName" name="[@offerCounter].Position.ProjectName" disabled />
                        @*<input asp-for="@item.OProjectName" name="[@offerCounter].OProjectName" class="form-control" readonly="readonly" />*@

                    </td>
                    <td>
                        <input asp-for="@item.OfferDate" name="[@offerCounter].OfferDate" />
                    </td>

                    <td>
                        <input asp-for="@item.OfferContent" name="[@offerCounter].OfferContent" />

                    </td>

                    <td>
                        <input asp-for="@item.OfferResult" name="[@offerCounter].OfferResult" />

                    </td>

                    <td>
                        <a class="deleteItem" href="#" data-itemId="@item.Id">@sharedLocalizer1["Remove"]</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>