﻿@model IEnumerable<Position>

@{var positioncounter = 0;}


<table id="positionstable" class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>@Html.DisplayNameFor(model => model.PositionName)</th>
            <th>@Html.DisplayNameFor(model => model.Customer.Name)</th>
            <th>@Html.DisplayNameFor(model => model.ProjectName)</th>
            <th>@Html.DisplayNameFor(model => model.StartingDate)</th>


        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.PositionName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Customer.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(x => item.ProjectName)

                    </td>
                    <td>
                        @Html.DisplayFor(x => item.StartingDate)
                    </td>



                </tr>

                positioncounter++;
            }
        }

    </tbody>
</table>