﻿@model CandidateSearchViewModel

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
          baseName: "SharedResource",
         location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form id="search" asp-controller="Candidates" asp-action="Index" method="post">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" asp-for="Sort" />
                                <input type="hidden" asp-for="Order" />
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*<label asp-for="KeySearch" class="control-label"></label>*@
                                        <input type="text" style="margin-top: 33px;" asp-for="KeySearch" class="form-control input-sm" autocomplete="off">
                                        <span asp-validation-for="KeySearch" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*<label asp-for="KeyType" class="control-label"></label>*@
                                        <select asp-for="KeyType" style="margin-top: 33px;" class="form-control">
                                            <option selected="selected" value="">@sharedLocalizer["Please select ..."]</option>
                                            <option value="100">@sharedLocalizer["All"] </option>
                                            <option value="0">@sharedLocalizer["Name"] </option>
                                            <option value="8">@sharedLocalizer["Phone"]</option>
                                            <option value="9">@sharedLocalizer["Email"]</option>
                                            <option value="3">@sharedLocalizer["Notice Period"]</option>
                                            <option value="4">@sharedLocalizer["Total IT experience"]</option>
                                            <option value="5">@sharedLocalizer["Current Salary"]</option>
                                            <option value="6">@sharedLocalizer["Expected Salary"]</option>
                                            <option value="2">@sharedLocalizer["Position"]</option>
                                            <option value="11">@sharedLocalizer["Candidate Owner"]</option>
                                            <option value="12">@sharedLocalizer["Modifier"]</option>

                                        </select>
                                        <span asp-validation-for="KeyType" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="DateRange" class="control-label"></label>
                                        <input type="text" asp-for="DateRange" class="form-control input-sm" autocomplete="off">
                                        <span asp-validation-for="DateRange" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-secondary" style="margin-top:32px;" value="@sharedLocalizer["Search"]" />

                                    </div>
                                </div>
                                
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>
    </div>
</section>