﻿@model IEnumerable<Candidate>

@{
    ViewData["Title"] = "Candidate";
    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Candidates"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <security-trimming asp-controller="Candidates" asp-action="ExportAcceptedCandidates">
                                    <form asp-action="ExportAcceptedCandidates" method="post">
                                        <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />

                                    </form>
                                </security-trimming>
                            </div>

                        </div>
                        <table id="candidatestable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Positions)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartPeriod)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalITexperience)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Features)
                                    </th>


                                    <th>
                                        @Html.DisplayNameFor(model => model.CurrentWages)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpectedWages)
                                    </th>



                                    <th>
                                        @Html.DisplayNameFor(model => model.BriefPersonalInfomation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telephone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsHavingCV)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Creator)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Modifier)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifiedDateTime)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr id="ApproveStat-@item.Id">
                                            <partial name="_accepteditem" model="item" />
                                        </tr>

                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $('#candidatestable').DataTable({
            language: {
                url: '@localization'
            },
            //"paging": true,
            "lengthChange": true,
            "searching": true,
            //"ordering": true,
            //"info": true,
            //"autoWidth": true,
            "responsive": {
                details: true
            },
            "scrollX": true,
            "scrollCollapse": true,
            //"columnDefs": [
            //    { className: "td-text-left", targets: "_all" },
            //    { width: "150px", targets: [0] },
            //    { width: "100px", targets: [1] },
            //    { width: "120px", targets: [2] },
            //    { width: "200px", targets: [3] },
            //    { width: "60px", targets: [4] },
            //    { width: "80px", targets: [5] },
            //    { width: "200px", targets: [6] },
            //    { width: "60px", targets: [7, 8] },
            //    { width: "250px", targets: [9] },
            //    { width: "100px", targets: [10, 11, 12] },
            //    { width: "150px", targets: [13] },
            //]

        }).columns.adjust()
            .responsive.recalc();
    </script>

}
