﻿@model Candidate

@{
    ViewData["Title"] = "Candidate";
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" href="~/css/bootstrapfileinput/fileinput.css" />
    <link rel="stylesheet" href="~/js/bootstrapfileinput/themes/explorer-fas/theme.css" />
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.css">

    <style>

        span.field-validation-error {
            color: red;
        }

        .iti-flag {
            background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/img/flags.png");
        }
    </style>

    <link href="~/adminlte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/tagit/tagit-simple-blue.css" rel="stylesheet" />

    @*<link href="~/js/inputmask/" />*@
    @*<link href="~/js/intlTel/css/IntlTel/prism.css" />
        <link href="~/js/intlTel/css/intlTelInput.css" />
        <link href="~/js/intlTel/css/IntlTel/demo.css" />*@


}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");

    var fileInputLocalization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "tr" : "en";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Create Candidate"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">

                                        <label asp-for="NameAlone" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Family" class="control-label"></label>
                                        <input asp-for="Family" class="form-control" />
                                        <span asp-validation-for="Family" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentWages" class="control-label"></label>
                                        <input asp-for="CurrentWages" class="form-control" />
                                        <span asp-validation-for="CurrentWages" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="ExpectedWages" class="control-label"></label>
                                        <input asp-for="ExpectedWages" class="form-control" />
                                        <span asp-validation-for="ExpectedWages" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group" id="result">
                                        <label asp-for="Telephone" class="control-label"></label>
                                        <input asp-for="Telephone" class="form-control" />
                                        @*<input id="Telephone" type="tel" />*@
                                        <span asp-validation-for="Telephone" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="PositionRelatedExperience" class="control-label"></label>
                                        <input asp-for="PositionRelatedExperience" class="form-control" rows="5" />
                                        <span asp-validation-for="PositionRelatedExperience" class="text-danger"></span>
                                    </div>


                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="TotalITexperience" class="control-label"></label>
                                        <input asp-for="TotalITexperience" class="form-control" />
                                        <span asp-validation-for="TotalITexperience" class="text-danger"></span>
                                    </div>


                                </div>

                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label asp-for="SelectedFeatures" class="control-label"></label>
                                        <ul id="featuresList" dir="ltr" name="SelectedFeatures" style="border: 1px solid #ced4da; width: 100% !important;">
                                        </ul>
                                        <span asp-validation-for="SelectedFeatures" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="StartPeriod" class="control-label"></label>
                                        <input asp-for="StartPeriod" class="form-control" />
                                        <span asp-validation-for="StartPeriod" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="SelectedPositions" class="control-label"></label>

                                        <ul id="positionsList" dir="ltr" name="SelectedPositions" style="border: 1px solid #ced4da; width: 100% !important;">
                                        </ul>

                                        <span asp-validation-for="SelectedPositions" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="SelectedTypes" class="control-label"></label>
                                        <ul id="typesList" dir="ltr" name="SelectedTypes" style="border: 1px solid #ced4da; width: 100% !important;">
                                        </ul>
                                        <span asp-validation-for="SelectedTypes" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="BriefPersonalInfomation" class="control-label"></label>
                                        <textarea asp-for="BriefPersonalInfomation" class="form-control" rows="3"></textarea>
                                        <span asp-validation-for="BriefPersonalInfomation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="IsOnBlackList" /> @Html.DisplayNameFor(model => model.IsOnBlackList)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label asp-for="BlacklistReason" class="control-label"></label>
                                    <input asp-for="BlacklistReason" class="form-control" />
                                    <span asp-validation-for="BlacklistReason" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="row">
                                <br />
                                @*<div class="col-12">
                                        <br />
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="IsHavingCV" /> @Html.DisplayNameFor(model => model.IsHavingCV)
                                            </label>
                                        </div>

                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input id="files" name="files" type="file" multiple>
                                    @*<label asp-for="CVFilename" class="control-label"></label>
                                        <input id="file" name="file" type="file" class="form-control" />
                                        <span asp-validation-for="CVFilename" class="text-danger"></span>*@

                                </div>
                            </div>



                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" id="submit" class="btn btn-primary">@sharedLocalizer["Create Candidate"]</button>
                            | <a asp-action="Index" class="btn btn-default">@sharedLocalizer["Cancel"]</a>
                        </div>

                    </form>
                </div>
                <!-- /.card -->


            </div>

        </div>
    </div>
</section>


@section Scripts{
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/tagit/tagit.js"></script>
    <script src="~/js/bootstrapfileinput/plugins/piexif.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/fileinput.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/explorer-fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/locales/tr.js"></script>
    @*<script src="~/js/intlTel/intlTelInput-jquery.min.js"></script>*@
    @*<script src="~/js/intlTel/data.min.js"></script>*@

    <script src="~/js/inputmask/jquery.inputmask.js"></script>
    <script src="~/js/inputmask/inputmask.js"></script>
    @*<script src="~/js/intlTel/js/prism.js"></script>
        <script src="~/js/intlTel/js/intlTelInput.min.js"></script>
        <script src="~/js/intlTel/js/gen/nationalMode.js"></script>*@
    @*<script src="~/js/intlTel/utils.js"></script>*@
    @*<script src="~/js/inputmask/jquery.inputmask.min.js"></script>
        <script src="~/js/inputmask/inputmask.min.js"></script>*@

    <script>

        //var input = document.querySelector("#Telephone");
            //,
           // output = document.querySelector("#output");

        //var iti = window.intlTelInput(input, {
        //    nationalMode: true,
        //    allowDropdown: true,
        //    utilsScript: "../../js/intlTel/js/utils.js" // just for formatting/placeholders etc
        //});

        //var handleChange = function () {
        //    var text = (iti.isValidNumber()) ? "International: " + iti.getNumber() : "Please enter a number below";
        //    var textNode = document.createTextNode(text);
        //    output.innerHTML = "";
        //    output.appendChild(textNode);
        //};

        // listen to "keyup", but also "change" to update when the user selects a country
        //input.addEventListener('change', handleChange);
        //input.addEventListener('keyup', handleChange);


        //var input = document.querySelector("#Telephone");
        //window.intlTelInput(input, {
        //    // allowDropdown: false,
        //    // autoHideDialCode: false,
        //    // autoPlaceholder: "off",
        //    // dropdownContainer: document.body,
        //    // excludeCountries: ["us"],
        //    // formatOnDisplay: false,
        //    // geoIpLookup: function(callback) {
        //    //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //    //     var countryCode = (resp && resp.country) ? resp.country : "";
        //    //     callback(countryCode);
        //    //   });
        //    // },
        //    // hiddenInput: "full_number",
        //    // initialCountry: "auto",
        //    // localizedCountries: { 'de': 'Deutschland' },
        //    // nationalMode: false,
        //    // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        //    // placeholderNumberType: "MOBILE",
        //    // preferredCountries: ['cn', 'jp'],
        //    // separateDialCode: true,
        //    utilsScript: "../../js/intlTel/utils.js",
        //});

        @*function triggerRemoteValidation() {
            $('#@nameof(Candidate.Telephone)').removeData('previousValue');
            $('form').validate().element('#@nameof(Candidate.Telephone)');

            $('#@nameof(Candidate.Email)').removeData('previousValue');
            $('form').validate().element('#@nameof(Candidate.Email)');
        }*@


        $(document).ready(function () {

            //selector.inputmask.setValue(value);

            $('#Telephone').inputmask({
               // "mask": "+\\90(999)9999999",
                //"mask": "+99(999)9999999",
                //"autoUnmask": true
                "mask": "+99[9](999)9999999",
                //"mask": "+9{2,3}(999)9999999",
                clearMaskOnLostFocus: true,
                //greedy: false
                skipOptionalPartCharacter: " "
                //placeholder: "X",

            });

            //Inputmask.extendDefaults({
            //    'autoUnmask': true
            //});

            $("#files").fileinput({
                language: "@fileInputLocalization",
                //rtl: true,
                theme: 'explorer-fas',
                overwriteInitial: false,
                previewFileType: 'any',
                allowedFileTypes: null, // ["image", "pdf", "doc"],
                initialPreviewAsData: true,
                showUpload: false,
            })

            var featuresSource = @Html.Raw(Model.FeaturesSource);
            var positionsSource = @Html.Raw(Model.PositionsSource);
            var typesSource= @Html.Raw(Model.TypesSource);

            $('#positionsList').tagit({
                tagSource: positionsSource,
                placeholder: '@sharedLocalizer["Enter Position Name ..."]',
                 select: true,
                 triggerKeys: ['enter', 'comma', 'tab'],
                 initialTags:  []
            });

            $('#featuresList').tagit({
                tagSource: featuresSource,
                placeholder: '@sharedLocalizer["Enter Feature Name ..."]',
                select: true,
                triggerKeys: ['enter', 'comma', 'tab'],
                initialTags: []
            });

            $('#typesList').tagit({
                tagSource: typesSource,
                placeholder: '@sharedLocalizer["Enter Type Name ..."]',
                select: true,
                triggerKeys: ['enter', 'comma', 'tab'],
                initialTags: [],
               // maxTags: 1
            });
        });
    </script>

}
