﻿@model HRMNet.Models.Candidates.Candidate

@{
    ViewData["Title"] = "Details";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Detail"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Family)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Family)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Telephone)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.StartPeriod)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.StartPeriod)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CurrentWages)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CurrentWages)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ExpectedWages)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ExpectedWages)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IsHavingCV)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IsHavingCV)
                                </dd>
                                @*<dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatorId)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatorId)
                                </dd>*@
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatedDateTime)
                                </dd>
                                @*<dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatedByBrowserName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatedByBrowserName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatorIp)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatorIp)
                                </dd>*@
                                @*<dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifierId)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifierId)
                                </dd>*@
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifiedDateTime)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifiedDateTime)
                                </dd>
                                @*<dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifiedByBrowserName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifiedByBrowserName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifierIp)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifierIp)
                                </dd>*@
                            </dl>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
                            <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
