﻿@model Candidate

@{
    ViewData["Title"] = "Candidate";
    //var positionCounter = Model.Positions == null || Model.Positions.Count() == 0 ? "0" : Model.Positions.Count().ToString();
    var meetingCounter = Model.Meetings == null || Model.Meetings.Count() == 0 ? "0" : Model.Meetings.Count().ToString();
    var offerCounter = Model.Offers == null || Model.Offers.Count() == 0 ? "0" : Model.Offers.Count().ToString();
    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";
    var fileInputLocalization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "tr" : "en";

}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
baseName: "SharedResource",
location: "HRMNet");
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables/jquery.dataTables.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables/dataTables.fixedColumns.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/bootstrapfileinput/fileinput.css" />
    <link rel="stylesheet" href="~/js/bootstrapfileinput/themes/explorer-fas/theme.css" />
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.css">

    <style>

        span.field-validation-error {
            color: red;
        }

        /*th, td {
            white-space: nowrap;
            width:400px !important;
        }*/
    </style>

    <link href="~/adminlte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/tagit/tagit-simple-blue.css" rel="stylesheet" />
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Edit"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Edit" enctype="multipart/form-data" id="form1">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CurrentStatus" />

                        <div class="card-body">

                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">

                                        <label asp-for="NameAlone" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Family" class="control-label"></label>
                                        <input asp-for="Family" class="form-control" />
                                        <span asp-validation-for="Family" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentWages" class="control-label"></label>
                                        <input asp-for="CurrentWages" class="form-control" />
                                        <span asp-validation-for="CurrentWages" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="ExpectedWages" class="control-label"></label>
                                        <input asp-for="ExpectedWages" class="form-control" />
                                        <span asp-validation-for="ExpectedWages" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Telephone" class="control-label"></label>
                                        <input asp-for="Telephone" class="form-control" />
                                        <span asp-validation-for="Telephone" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="PositionRelatedExperience" class="control-label"></label>
                                        <input asp-for="PositionRelatedExperience" class="form-control" rows="5" />
                                        <span asp-validation-for="PositionRelatedExperience" class="text-danger"></span>
                                    </div>


                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="TotalITexperience" class="control-label"></label>
                                        <input asp-for="TotalITexperience" class="form-control" />
                                        <span asp-validation-for="TotalITexperience" class="text-danger"></span>
                                    </div>


                                </div>

                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label asp-for="SelectedFeatures" class="control-label"></label>
                                        <ul id="featuresList" dir="ltr" name="SelectedFeatures" style="border: 1px solid #ced4da; width: 100% !important;">
                                        </ul>
                                        <span asp-validation-for="SelectedFeatures" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="StartPeriod" class="control-label"></label>
                                        <input asp-for="StartPeriod" class="form-control" />
                                        <span asp-validation-for="StartPeriod" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="SelectedPositions" class="control-label"></label>

                                        <ul id="positionsList" dir="ltr" name="SelectedPositions" style="border: 1px solid #ced4da; width: 100% !important;">
                                        </ul>

                                        <span asp-validation-for="SelectedPositions" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="SelectedTypes" class="control-label"></label>
                                        <ul id="typesList" dir="ltr" name="SelectedTypes" style="border: 1px solid #ced4da; width: 100% !important;">
                                        </ul>
                                        <span asp-validation-for="SelectedTypes" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="BriefPersonalInfomation" class="control-label"></label>
                                        <textarea asp-for="BriefPersonalInfomation" class="form-control" rows="3"></textarea>
                                        <span asp-validation-for="BriefPersonalInfomation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="IsOnBlackList" /> @Html.DisplayNameFor(model => model.IsOnBlackList)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label asp-for="BlacklistReason" class="control-label"></label>
                                    <input asp-for="BlacklistReason" class="form-control" />
                                    <span asp-validation-for="BlacklistReason" class="text-danger"></span>

                                </div>
                            </div>
                            <br />
                            <div class="row">

                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="NextStatus" class="control-label"></label>
                                        <select asp-for="Status" asp-items="ViewBag.status" class="form-control">
                                            <option value="@Model.CurrentStatus" selected>@sharedLocalizer["Please select ..."]</option>
                                        </select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="CurrentStatus" class="control-label"></label><br />
                                        @{
                                            Enum.TryParse(Model.CurrentStatus.ToString(), out CandidateStatus currentStatus);
                                            var resultEnum = sharedLocalizer[currentStatus.GetAttribute<DisplayAttribute>().Name];
                                        }
                                        <span>@resultEnum</span>


                                    </div>

                                </div>

                            </div>

                            @*<div class="row">

                                    <div class="col-12">

                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="IsHavingCV" /> @Html.DisplayNameFor(model => model.IsHavingCV)
                                            </label>
                                        </div>

                                    </div>
                                </div>*@

                            <div class="row">
                                <div class="col-12">
                                    @*<label asp-for="CVFilename" class="control-label"></label>*@
                                    <input id="files" name="files" type="file" multiple>

                                    @*<input asp-for="CVFilename" class="form-control" readonly />
                                        <input name="file" type="file" class="form-control" />
                                        <span asp-validation-for="CVFilename" class="text-danger"></span>*@

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <br />
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <ul class="nav nav-pills">
                                                <li class="nav-item"><a class="nav-link active" href="#positionsHistory" data-toggle="tab">@sharedLocalizer["Positions History"]</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#mettingsHistory" data-toggle="tab">@sharedLocalizer["Interviews"]</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#offersHistory" data-toggle="tab">@sharedLocalizer["Offers"]</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div class="active tab-pane" id="positionsHistory">
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        @*<div class="row">
                                                                <div class="col-2">
                                                                    <a class="btn btn-info" id="addPosition">Add Position</a><br /><br />
                                                                </div>
                                                            </div>*@
                                                        <partial name="_Positions" model="Model.CandidatePositionsHistory.Select(x=> x.Position)" />

                                                    </div>
                                                    <!-- /.card-body -->


                                                </div>
                                                <!-- /.tab-pane -->
                                                <div class="tab-pane" id="mettingsHistory">
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <a class="btn btn-info" id="addMeeting">@sharedLocalizer["Add Interview"]</a><br /><br />
                                                            </div>

                                                        </div>

                                                        <partial name="_Meetings" model="@Model.Meetings" />

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.tab-pane -->
                                                <!-- /.tab-pane -->
                                                <div class="tab-pane" id="offersHistory">
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <a class="btn btn-info" id="addOffer">@sharedLocalizer["Add Offer"]</a><br /><br />
                                                            </div>

                                                        </div>
                                                        <partial name="_Offers" model="@Model.Offers" />

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.tab-pane -->


                                            </div>
                                            <!-- /.tab-content -->
                                        </div><!-- /.card-body -->
                                    </div>
                                    <!-- /.nav-tabs-custom -->
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" id="btnsubmit" class="btn btn-primary">@sharedLocalizer["Save Candidate"]</button>
                            | <a asp-action="Index" class="btn btn-default">@sharedLocalizer["Cancel"]</a>
                        </div>

                    </form>
                </div>
                <!-- /.card -->


            </div>

        </div>
    </div>
</section>

<div id="positionModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @*<h4 class="modal-title">Position</h4>*@
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="poName" class="control-label">@sharedLocalizer["Position Name"]</label>
                    <input id="poName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="cuName" class="control-label">@sharedLocalizer["Customer Name"]</label>
                    <input id="cuName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="prName" class="control-label">@sharedLocalizer["Project Name"]</label>
                    <input id="prName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="evDate" class="control-label">@sharedLocalizer["Evaluated Date"]</label>
                    <input id="evDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="esharingDate" class="control-label">@sharedLocalizer["CV Sharing With Customer"]</label>
                    <input id="esharingDate" class="form-control" />
                </div>


                <div class="form-group">
                    <div class="col-md-3 col-lg-offset-9">
                        <a id="submitPosition" class="btn btn-default">@sharedLocalizer["Add To List"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="meetingModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="mpoName" class="control-label">@sharedLocalizer["Position Name"]</label>
                    <input id="mpoName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="mcuName" class="control-label">@sharedLocalizer["Customer Name"]</label>
                    <input id="mcuName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="mprName" class="control-label">@sharedLocalizer["Project Name"]</label>
                    <input id="mprName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="mevDate" class="control-label">@sharedLocalizer["Evaluated Date"]</label>
                    <input id="mevDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="mpeName" class="control-label">@sharedLocalizer["Person"]</label>
                    <input id="mpeName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="mresult" class="control-label">@sharedLocalizer["Result"]</label>
                    <input id="mresult" class="form-control" />
                </div>


                <div class="form-group">
                    <div class="col-md-3 col-lg-offset-9">
                        <a id="submitMeeting" class="btn btn-default">@sharedLocalizer["Add To List"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="offerModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="oevDate" class="control-label">@sharedLocalizer["Evauated Date"]</label>
                    <input id="oevDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="opoName" class="control-label">@sharedLocalizer["Position Name"]</label>
                    <input id="opoName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="ocuName" class="control-label">@sharedLocalizer["Customer Name"]</label>
                    <input id="ocuName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="oprName" class="control-label">@sharedLocalizer["Project Name"]</label>
                    <input id="oprName" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="ocontent" class="control-label">@sharedLocalizer["Content"]</label>
                    <input id="ocontent" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="oresult" class="control-label">@sharedLocalizer["Result"]</label>
                    <input id="oresult" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-lg-offset-9">
                        <a id="submitOffer" class="btn btn-default">@sharedLocalizer["Add To List"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/tagit/tagit.js"></script>
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script src="~/js/bootstrapfileinput/plugins/piexif.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrapfileinput/fileinput.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/themes/explorer-fas/theme.min.js"></script>
    <script src="~/js/bootstrapfileinput/locales/tr.js"></script>
    <script src="~/js/inputmask/jquery.inputmask.js"></script>
    <script src="~/js/inputmask/inputmask.js"></script>

    <script>
        @*function triggerRemoteValidation() {
            $('#@nameof(Candidate.Telephone)').removeData('previousValue');
            $('form').validate().element('#@nameof(Candidate.Telephone)');

            $('#@nameof(Candidate.Email)').removeData('previousValue');
            $('form').validate().element('#@nameof(Candidate.Email)');
        }*@

        $(document).ready(function () {
            $('#Telephone').inputmask({
                //"mask": "+\\90(999)9999999",
                //"mask": "+99(999)9999999",
                //"autoUnmask": true
                "mask": "+99[9](999)9999999",
                //"mask": "+9{2,3}(999)9999999",
                clearMaskOnLostFocus: true,
                //greedy: false
                skipOptionalPartCharacter: " "
                //placeholder: "X",

            });

            //$('#Telephone').inputmask.setValue(@Model.Telephone);

            $('#btnsubmit').on('click', function (e) {
               // alert('aaaaa');
            });

            $("#files").fileinput({
                //otherActionButtons: btns,
                //rtl: true,
                //reversePreviewOrder: true,
                language: "@fileInputLocalization",
                theme: 'explorer-fas',
                overwriteInitial: false,
                previewFileType: 'any',
                allowedFileTypes: null, //["image", "pdf", "doc"],
                enableResumableUpload: true,
                initialPreviewAsData: true,
                showUpload: false,
                initialPreviewDownloadUrl: '/Candidates/GetFilesById/{key}',
                initialPreview: [
                    @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreview)
                ],
                //initialPreviewDownloadUrl: '/Files/{filename}',
                initialPreviewConfig: [
                    @Html.Raw(Model.AttachmentViewModel?.SerializedInitialPreviewConfig)
                ],
                preferIconicPreview: true,
                previewFileIconSettings: { // configure your icon file extensions
                    'doc': '<i class="fas fa-file-word text-primary"></i>',
                    'xls': '<i class="fas fa-file-excel text-success"></i>',
                    'ppt': '<i class="fas fa-file-powerpoint text-danger"></i>',
                    'pdf': '<i class="fas fa-file-pdf text-danger"></i>',
                    'zip': '<i class="fas fa-file-archive text-muted"></i>',
                    'htm': '<i class="fas fa-file-code text-info"></i>',
                    'txt': '<i class="fas fa-file-alt text-info"></i>',
                    'mov': '<i class="fas fa-file-video text-warning"></i>',
                    'mp3': '<i class="fas fa-file-audio text-warning"></i>',
                    // note for these file types below no extension determination logic
                    // has been configured (the keys itself will be used as extensions)
                    'jpg': '<i class="fas fa-file-image text-danger"></i>',
                    'gif': '<i class="fas fa-file-image text-muted"></i>',
                    'png': '<i class="fas fa-file-image text-primary"></i>'
                },
                previewFileExtSettings: { // configure the logic for determining icon file extensions
                    'doc': function(ext) {
                        return ext.match(/(doc|docx)$/i);
                    },
                    'xls': function(ext) {
                        return ext.match(/(xls|xlsx)$/i);
                    },
                    'ppt': function(ext) {
                        return ext.match(/(ppt|pptx)$/i);
                    },
                    'zip': function(ext) {
                        return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                    },
                    'htm': function(ext) {
                        return ext.match(/(htm|html)$/i);
                    },
                    'txt': function(ext) {
                        return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                    },
                    'mov': function(ext) {
                        return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                    },
                    'mp3': function(ext) {
                        return ext.match(/(mp3|wav)$/i);
                    }
                }
            });

        });

        function fetchPositions(name) {

            $.ajax({
                type: "GET",
                url: "/Positions/GetAllPositions",
                contentType: "application/json;charset=utf-8",
                //data: { id: id },
                dataType: "json",
                success: function (result) {

                    $('select[name="' + name + '"] > option').remove();
                    $('select[name="' + name + '"]')
                        .append($("<option></option>")
                            .attr("value", '0')
                            .text('@sharedLocalizer["Please Select ..."]'));
                    $.each(result, function () {
                        $('select[name="' + name + '"]')
                            .append($("<option></option>")
                                .attr("value", this.value)
                                .text(this.text));
                    });

                    //$.unblockUI();
                },
                error: function (response) {
                    //$.unblockUI();

                    alert('@sharedLocalizer["Fetching Positions error"]');
                }
            });
        }

        //$(document).ready(function () {
        //    var table = $('#meetingstable').DataTable({ scrollY: "300px", scrollX: true, scrollCollapse: true, paging: true, columnDefs: [{ width: '400', targets: 0 }] }); new $.fn.dataTable.FixedColumns(table);
        //});

        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                //$($.fn.dataTable.tables(true)).DataTable()
                //    .scroller.measure();

                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust()
                    //.fixedColumns().relayout();
                    .responsive.recalc();
                    //.scroller.measure();
            });

            function fetchPositionDetail(name, id) {
                debugger;
                $.ajax({
                    type: "GET",
                    url: "/Positions/GetDetail",
                    contentType: "application/json;charset=utf-8",
                    data: { id: id },
                    dataType: "json",
                    success: function (result) {
                        $('input[name="' + name + '.Position.Customer.Name"]').val(result.Customer.Name);
                        $('input[name="' + name + '.Position.ProjectName"]').val(result.ProjectName);
                        //$.unblockUI();
                    },
                    error: function (response) {
                        //$.unblockUI();
                        alert('@sharedLocalizer["Fetching Position Detail Error"]');
                    }
                });
            }
            $(document).on('change', '.Positions', function (e) {
                e.preventDefault();
                debugger;

                var id = $(this).val();
                var selectedName = $(this).attr('id').slice(0, 3) ;
                //alert(selectedName);
                fetchPositionDetail(selectedName, id);

            });

            //var table = $('#meetingstable').removeAttr('width').DataTable({
            //    //scrollY: "300px",
            //    AutoWidth: false,
            //    scrollX: true,
            //    scrollCollapse: true,
            //    //paging: false,
            //    columnDefs: [
            //        { width: 400, targets: 0 }
            //    ],
            //    //fixedColumns: true
            //});

            var meeting = $('#meetingstable').DataTable({
                @*language: {
                    url: '@localization'
                },*@
                //"lengthChange": true,
                //"searching": true,
                //"responsive": {
                //    details: true
                //},
                "scrollX": true,
                //"scrollCollapse": true,
                //"columnDefs": [
                //    { className: "td-text-left", targets: "_all" },
                //    { width: "100px", targets: [0] },
                //    { width: "100px", targets: [1] },
                //    { width: "100px", targets: [2] },
                //    { width: "80px", targets: [3] },
                //    { width: "150px", targets: [4] },
                //    { width: "200px", targets: [5] },
                //    { width: "80px", targets: [6] },

                //],

            }).columns.adjust()
                .responsive.recalc();
                //.scroller.measure();

            var offer = $('#offerstable').DataTable({
                @*language: {
                    url: '@localization'
                },*@
                //"lengthChange": false,
                //"searching": false,
                //"responsive": {
                //    details: true
                //},
                "scrollX": true,
                //"scrollCollapse": true,
                //"columnDefs": [
                //    { className: "td-text-left", targets: "_all" },
                //    { width: "100px", targets: [0] },
                //    { width: "100px", targets: [1] },
                //    { width: "100px", targets: [2] },
                //    { width: "80px", targets: [3] },
                //    { width: "150px", targets: [4] },
                //    { width: "200px", targets: [5] },
                //    { width: "80px", targets: [6] },
                //],
            }).columns.adjust()
                .responsive.recalc();
                //.scroller.measure();

            @*var positionCounter =@positionCounter;*@
            var meetingCounter = @meetingCounter;
            var offerCounter = @offerCounter;

            var positionsSource = @Html.Raw(Model.PositionsSource);
            var initialPositions =@Html.Raw(Model.InitialPosition);

            var featuresSource = @Html.Raw(Model.FeaturesSource);
            var initialFeatures =@Html.Raw(Model.InitialFeature);

            var typesSource = @Html.Raw(Model.TypesSource);
            var initialTypes =@Html.Raw(Model.InitialType);

            $("#allFeatures").click(function () {
                var features = $('select[name="SelectedFeatures"]').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSuitableCandidate", "Positions")',
                    data: { "features": features},
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            }
                            else {
                                window.location = '/login';
                            }
                        }
                        else if (status === 'error' || !data) {
                            alert('@sharedLocalizer["An Error Occured"]');
                        }
                        else {
                            $('#suitableCandidate').html(data); //

                        }
                    }
                });
            });

            $("#mandatoryFeatures").click(function () {
                debugger;
                var features = $('select[name="SelectedMandatoryFeatures"]').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSuitableCandidate", "Positions")',
                    data: { "features": features},
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status === 403 || xhr.status === 401) {
                            var loginLocation = xhr.getResponseHeader('Location');
                            if (loginLocation) {
                                window.location = loginLocation;
                            }
                            else {
                                window.location = '/login';
                            }
                        }
                        else if (status === 'error' || !data) {
                            alert('@sharedLocalizer["An Error Occured"]');
                        }
                        else {
                            $('#suitableCandidate').html(data); //

                        }
                    }
                });
            });

            var candidates = [];

            $(document).on("change", "input[name='IsChecked']", function () {
                debugger;
                if ($(this).prop("checked") == true) {
                    candidates.push($(this).val());
                }
                else if ($(this).prop("checked") == false) {
                    candidates.splice($.inArray($(this).val(), candidates), 1);
                }

                $('#checkedCandidates').val(candidates);
            });

            $('#positionsList').tagit({
                tagSource: positionsSource,
                placeholder: '@sharedLocalizer["Enter Position Name ..."]',
                 select: true,
                 triggerKeys: ['enter', 'comma', 'tab'],
                initialTags: initialPositions
            });

            $('#featuresList').tagit({
                tagSource: featuresSource,
                placeholder: '@sharedLocalizer["Enter Feature Name ..."]',
                select: true,
                triggerKeys: ['enter', 'comma', 'tab'],
                initialTags: initialFeatures
            });

            $('#typesList').tagit({
                tagSource: typesSource,
                placeholder: '@sharedLocalizer["Enter Type Name ..."]',
                select: true,
                triggerKeys: ['enter', 'comma', 'tab'],
                initialTags: initialTypes,
                //maxTags: 1
            });

            $("#addPosition").click(function (e) {
                e.preventDefault();
                $('#positionModal').modal('show');
            });

            $("#addMeeting").click(function (e) {
                e.preventDefault();
                //if ($.trim($("#mpoName").val()) == "" || $.trim($("#mcuName").val()) == "" || $.trim($("#mprName").val()) == "") return;

                //var poName = $("#mpoName").val();
                //var cuName = $("#mcuName").val();
                //var prName = $("#mprName").val();
                //var evDate = $("#mevDate").val();
                //var peName = $("#mpeName").val();
                //var result = $("#mresult").val();

                var item = '<tr>' +
                    '<td ><select id="['+ meetingCounter + '].MPositionId" name="['+meetingCounter+'].MPositionId" class="Positions" ></select></td>'+
                    '<td ><input  id="[' + meetingCounter + '].MPosition.Customer.Name" name="[' + meetingCounter + '].MPosition.Customer.Name"  disabled /></td>' +
                    '<td ><input  id="[' + meetingCounter + '].MPosition.ProjectName" name="[' + meetingCounter + '].MPosition.ProjectName"  disabled /></td>' +
                    '<td ><input  id="[' + meetingCounter + '].MeetingDate" name="[' + meetingCounter + '].MeetingDate" autocomplete="off" required /></td>' +
                    '<td ><input  id="[' + meetingCounter + '].MeetingSpeakingPerson" name="[' + meetingCounter + '].MeetingSpeakingPerson"  autocomplete="off" required /></td>' +
                    '<td ><input  id="[' + meetingCounter + '].MeetingResult" name="[' + meetingCounter + '].MeetingResult"  autocomplete="off" /></td>' +
                    '<td ><a data-itemId="0" href="#" class="deleteItem">' +'Kaldır'+'</a></td></tr > ';

                tableBody = $("#meetingstable tbody");
                tableBody.append(item);
                fetchPositions('[' + meetingCounter + '].MPositionId');
                meetingCounter += 1;

                meeting.columns.adjust()
                    .responsive.recalc();
                //clearItem();
                //$("table.providerPaymentsList").append(newRow);
                //$('#meetingModal').modal('show');
            });

            $("#addOffer").click(function (e) {
                e.preventDefault();

                var item = '<tr>' +
                    '<td ><select id="[' + offerCounter + '].PositionId" name="[' + offerCounter + '].PositionId" class=" Position" ></select></td>' +
                    '<td ><input id="[' + offerCounter + '].Position.Customer.Name" name="[' + offerCounter + '].Position.Customer.Name"  disabled /></td>' +
                    '<td ><input id="[' + offerCounter + '].Position.ProjectName" name="[' + offerCounter + '].Position.ProjectName" disabled /></td>' +
                    '<td ><input id="[' + offerCounter + '].OfferDate" name="[' + offerCounter + '].OfferDate" autocomplete="off" required /></td>' +
                    '<td ><input id="[' + offerCounter + '].OfferContent" name="[' + offerCounter + '].OfferContent" autocomplete="off" required /></td>' +
                    '<td ><input id="[' + offerCounter + '].OfferResult" name="[' + offerCounter + '].OfferResult" autocomplete="off" /></td>' +
                    '<td ><a data-itemId="0" href="#" class="deleteItem">' +'Kaldır'+'</a></td></tr > '; //@sharedLocalizer["Remove"]

                tableBody = $("#offerstable tbody");
                tableBody.append(item);
                fetchPositions('[' + offerCounter + '].PositionId');
                offerCounter += 1;

                //offer.scroller.measure();
                offer.columns.adjust()
                    .responsive.recalc();

                //if ($.trim($("#opoName").val()) == "" || $.trim($("#ocuName").val()) == "" || $.trim($("#oprName").val()) == "") return;

                //var poName = $("#opoName").val();
                //var cuName = $("#ocuName").val();
                //var prName = $("#oprName").val();
                //var evDate = $("#oevDate").val();
                //var content = $("#ocontent").val();
                //var result = $("#oresult").val();

                //var item = '<tr>' +
                //    '<td><input id="[' + offerCounter + '].ODate" name="[' + offerCounter + '].ODate" value="' + evDate + '" autocomplete="off" required /></td>' +
                //    '<td><input id="[' + offerCounter + '].OPositionName" name="[' + offerCounter + '].OPositionName" value="' + poName + '" autocomplete="off" required /></td>' +
                //    '<td><input id="[' + offerCounter + '].OCustomerName" name="[' + offerCounter + '].OCustomerName" value="' + cuName + '" autocomplete="off" required /></td>' +
                //    '<td><input id="[' + offerCounter + '].OProjectName" name="[' + offerCounter + '].OProjectName" value="' + prName + '" autocomplete="off" required /></td>' +
                //    '<td><input id="[' + offerCounter + '].OContent" name="[' + offerCounter + '].OContent" value="' + content + '" autocomplete="off" required /></td>' +
                //    '<td><input id="[' + offerCounter + '].OResult" name="[' + offerCounter + '].OResult" value="' + result + '" autocomplete="off" required /></td>' +
                //    '<td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr > ';


                //tableBody = $("#offerstable tbody");
                //tableBody.append(item);
                //offerCounter += 1;
                //clearItem();

                //$('#offerModal').modal('show');
            });

            //$("#submitPosition").click(function (e) {
            //    e.preventDefault();

            //    if ($.trim($("#poName").val()) == "" || $.trim($("#cuName").val()) == "" || $.trim($("#prName").val()) == "" ) return;


            //    var poName = $("#poName").val();
            //    var cuName = $("#cuName").val();
            //    var prName = $("#prName").val();
            //    var evDate = $("#evDate").val();
            //    var esharingDate = $("#esharingDate").val();

            //    var item = '<tr>' +
            //        '<td><input id="[' + positionCounter + '].PositionName" name="[' + positionCounter + '].PositionName" value="' +   poName + '" autocomplete="off" required /></td>' +
            //        '<td><input id="[' + positionCounter + '].CustomerName" name="[' + positionCounter + '].CustomerName" value="' +   cuName + '" autocomplete="off" required /></td>' +
            //        '<td><input id="[' + positionCounter + '].ProjectName" name="[' + positionCounter + '].ProjectName" value="' +     prName + '" autocomplete="off" required /></td>' +
            //        '<td><input id="[' + positionCounter + '].EvaluatedDate" name="[' + positionCounter + '].EvaluatedDate" value="' + evDate + '" autocomplete="off" required /></td>' +
            //        '<td><input id="[' + positionCounter + '].CVSharingDateWithCustomer" name="[' + positionCounter + '].CVSharingDateWithCustomer" value="' + esharingDate + '" autocomplete="off" required /></td>' +
            //        '<td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr > ';
            //    tableBody = $("#positionstable tbody");
            //    tableBody.append(item);
            //    positionCounter += 1;
            //    clearItem();


            //});

            $("#submitMeeting").click(function (e) {
                e.preventDefault();

                if ($.trim($("#mpoName").val()) == "" || $.trim($("#mcuName").val()) == "" || $.trim($("#mprName").val()) == "") return;

                var poName = $("#mpoName").val();
                var cuName = $("#mcuName").val();
                var prName = $("#mprName").val();
                var evDate = $("#mevDate").val();
                var peName = $("#mpeName").val();
                var result = $("#mresult").val();

                var item = '<tr>' +
                    '<td><input id="[' + meetingCounter + '].MPositionName" name="[' + meetingCounter + '].MPositionName" value="' + poName + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + meetingCounter + '].MCustomerName" name="[' + meetingCounter + '].MCustomerName" value="' + cuName + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + meetingCounter + '].MProjectName" name="[' + meetingCounter + '].MProjectName" value="' + prName + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + meetingCounter + '].MDate" name="[' + meetingCounter + '].MDate" value="' + evDate + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + meetingCounter + '].MSpeakingPerson" name="[' + meetingCounter + '].MSpeakingPerson" value="' + peName + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + meetingCounter + '].MResult" name="[' + meetingCounter + '].MResult" value="' + result + '" autocomplete="off" required /></td>' +
                    '<td><a data-itemId="0" href="#" class="deleteItem">' +'Kaldır'+'</a></td></tr > ';


                tableBody = $("#meetingstable tbody");
                tableBody.append(item);
                meetingCounter += 1;
                clearItem();
            });

            $("#submitOffer").click(function (e) {
                e.preventDefault();

                if ($.trim($("#opoName").val()) == "" || $.trim($("#ocuName").val()) == "" || $.trim($("#oprName").val()) == "") return;

                var poName = $("#opoName").val();
                var cuName = $("#ocuName").val();
                var prName = $("#oprName").val();
                var evDate = $("#oevDate").val();
                var content = $("#ocontent").val();
                var result = $("#oresult").val();

                var item = '<tr>' +
                    '<td><input id="[' + offerCounter + '].ODate" name="[' + offerCounter + '].ODate" value="' + evDate + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + offerCounter + '].OPositionName" name="[' + offerCounter+ '].OPositionName" value="' + poName + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + offerCounter + '].OCustomerName" name="[' + offerCounter + '].OCustomerName" value="' + cuName + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + offerCounter + '].OProjectName" name="[' + offerCounter+ '].OProjectName" value="' + prName + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + offerCounter + '].OContent" name="[' + offerCounter + '].OContent" value="' + content + '" autocomplete="off" required /></td>' +
                    '<td><input id="[' + offerCounter + '].OResult" name="[' + offerCounter + '].OResult" value="' + result + '" autocomplete="off" required /></td>' +
                    '<td><a data-itemId="0" href="#" class="deleteItem">' +'Kaldır'+'</a></td></tr > ';


                tableBody = $("#offerstable tbody");
                tableBody.append(item);
                offerCounter += 1;
                clearItem();
            });

            function deletePositionItem(id) {
                debugger;
                return $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeletePosition", "Home", new { area = "" })',
                    data: "id=" + id + ",candidateId=" +@Model.Id
                });
            }



            function clearItem() {
                $("#poName").val('');
                $("#cuName").val('');
                $("#prName").val('');
                $("#evDate").val('');
                $("#esharingDate").val('');
                $("#mpoName").val('');
                $("#mcuName").val('');
                $("#mprName").val('');
                $("#mevDate").val('');
                $("#opoName").val('');
                $("#ocuName").val('');
                $("#oprName").val('');
                $("#oevDate").val('');
                $("#peName").val('');
                $("#mpeName").val('');
                $("#content").val('');
                $("#ocontent").val('');
                $("#result").val('');
                $("#oresult").val('');
                $("#mresult").val('');


            }


            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                var $self = $(this);

                    $(this).parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                        $(this).remove();
                    });

                offer.columns.adjust()
                    .responsive.recalc();

                meeting.columns.adjust()
                    .responsive.recalc();

            });

            $('.deletePosition').click(function () {

                var id = $(this).attr('data-itemid');
                var $self = $(this);

                $.ajax
                    ({
                        url: '@Url.Action("DeletePosition", "Home")',
                        data: { "id": id, "candidateId": @Model.Id },
                        type: 'post',
                        success: function (result) {

                            if (result == "Ok") {
                                $self.parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                                    $(this).remove();
                                });
                            }
                            else {
                                alert('@sharedLocalizer["An Error Occured"]');
                            }


                        },
                        error: function (xhr, status, error) {
                            alert(xhr.status);
                            alert(xhr.responseText);
                        },
                        failure: function (response) {
                            alert('@sharedLocalizer["An Error Occured"]');
                        }


                    });
            });
        });
    </script>

}
