﻿@model CandidatesViewModel

@{
    ViewData["Title"] = "Candidate";
    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

    var sortOrder = Model.Search.Order == System.Data.SqlClient.SortOrder.Ascending ? SortOrder.Descending : SortOrder.Ascending;
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");

    //var pageSize = Model.Paging.ItemsPerPage;
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>

        .itemPerPage {
            width: auto;
            display: inline-block;
        }

        .dataTables_filter {
            visibility: hidden;
        }

        .dataTables_info {
            visibility: hidden;
        }

        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination > li {
                display: inline;
            }

                .pagination > li:first-child > a, .pagination > li:first-child > span {
                    margin-left: 0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }


            .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
                z-index: 3;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
                color: #777;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;
            }
    </style>
}

<div class="col-12">
    @{
        await Html.RenderPartialAsync("_Search", Model.Search);
    }
</div>

<div class="col-12">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@sharedLocalizer["Candidates"]</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <security-trimming asp-controller="Candidates" asp-action="Create">
                                        <a asp-action="Create" class="btn btn-block btn-primary">@sharedLocalizer["Add"]</a>
                                    </security-trimming>
                                    <br />

                                </div>
                                <div class="col-2">
                                    <security-trimming asp-controller="Candidates" asp-action="ExportCandidates">
                                        <form asp-action="ExportCandidates" method="post">
                                            <button type="submit" class="btn btn-block btn-info">@sharedLocalizer["Export"]</button><br />

                                        </form>
                                    </security-trimming>
                                </div>

                            </div>
                            @{

                            }
                            <table id="candidatestable" class="table table-bordered table-striped table-responsive p-0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            <a asp-action="Index" asp-controller="Candidates" asp-route-keySearch="@Model.Search.KeySearch" asp-route-keyType="@Model.Search.KeyType" asp-route-dateRange="@Model.Search.DateRange" asp-route-sort="Name" asp-route-page="@Model.Paging.CurrentPage" asp-route-pageSize="@Model.Paging.ItemsPerPage" asp-route-order="@sortOrder">
                                                @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Name)
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-controller="Candidates" asp-route-sort="Status" asp-route-keySearch="@Model.Search.KeySearch" asp-route-keyType="@Model.Search.KeyType" asp-route-dateRange="@Model.Search.DateRange" asp-route-page="@Model.Paging.CurrentPage" asp-route-pageSize="@Model.Paging.ItemsPerPage" asp-route-order="@sortOrder">
                                                @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Status)
                                            </a>
                                        </th>

                                        <th>
                                            <a asp-action="Index" asp-controller="Candidates" asp-route-sort="Positions" asp-route-keySearch="@Model.Search.KeySearch" asp-route-keyType="@Model.Search.KeyType" asp-route-dateRange="@Model.Search.DateRange" asp-route-page="@Model.Paging.CurrentPage" asp-route-pageSize="@Model.Paging.ItemsPerPage" asp-route-order="@sortOrder">
                                                @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Positions)
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-controller="Candidates" asp-route-sort="StartPeriod" asp-route-keySearch="@Model.Search.KeySearch" asp-route-keyType="@Model.Search.KeyType" asp-route-dateRange="@Model.Search.DateRange" asp-route-page="@Model.Paging.CurrentPage" asp-route-pageSize="@Model.Paging.ItemsPerPage" asp-route-order="@sortOrder">
                                                @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().StartPeriod)
                                            </a>
                                        </th>

                                        <th>
                                            <a asp-action="Index" asp-controller="Candidates" asp-route-sort="TotalITexperience" asp-route-keySearch="@Model.Search.KeySearch" asp-route-keyType="@Model.Search.KeyType" asp-route-dateRange="@Model.Search.DateRange" asp-route-page="@Model.Paging.CurrentPage" asp-route-pageSize="@Model.Paging.ItemsPerPage" asp-route-order="@sortOrder">
                                                @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().TotalITexperience)
                                            </a>
                                        </th>

                                        <th>
                                            <a asp-action="Index" asp-controller="Candidates" asp-route-sort="CurrentWages" asp-route-keySearch="@Model.Search.KeySearch" asp-route-keyType="@Model.Search.KeyType" asp-route-dateRange="@Model.Search.DateRange" asp-route-page="@Model.Paging.CurrentPage" asp-route-pageSize="@Model.Paging.ItemsPerPage" asp-route-order="@sortOrder">
                                                @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().CurrentWages)
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-controller="Candidates" asp-route-sort="ExpectedWages" asp-route-keySearch="@Model.Search.KeySearch" asp-route-keyType="@Model.Search.KeyType" asp-route-dateRange="@Model.Search.DateRange" asp-route-page="@Model.Paging.CurrentPage" asp-route-pageSize="@Model.Paging.ItemsPerPage" asp-route-order="@sortOrder">
                                                @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().ExpectedWages)
                                            </a>
                                        </th>

                                        <th>

                                            @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().BriefPersonalInfomation)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Telephone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().IsHavingCV)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Creator)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().Modifier)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Candidates.FirstOrDefault().ModifiedDateTime)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Candidates.Any())
                                    {
                                        foreach (var item in Model.Candidates)
                                        {
                                            <tr id="ApproveStat-@item.Id">
                                                <partial name="_item" model="item" />
                                            </tr>
                                        }
                                    }

                                </tbody>

                            </table>
                            <div class="row">
                                <div class="col-12">
                                    <div style="text-align:center;">

                                        <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                                                  cs-paging-pagenumber="@Model.Paging.CurrentPage"
                                                  cs-paging-totalitems="@Model.Paging.TotalItems"
                                                  cs-pagenumber-param="page"
                                                  asp-controller="Candidates"
                                                  asp-route-DateRange="@Model.Search.DateRange"
                                                  asp-route-KeySearch="@Model.Search.KeySearch"
                                                  asp-route-KeyType="@Model.Search.KeyType"
                                                  asp-route-sort="@Model.Search.Sort"
                                                  asp-route-order="@Model.Search.Order"
                                                  asp-action="Index"
                                                  cs-show-first-last="true"
                                                  cs-suppress-empty-nextprev="true"
                                                  cs-suppress-inactive-firstlast="true"
                                                  cs-first-page-text="İlk"
                                                  cs-last-page-text="Son"
                                                  cs-pager-li-current-class="active"
                                                  cs-pager-li-non-active-class="disabled"></cs-pager>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    @*<script src="~/js/jquery.bootstrap-modal-ajax-form.js"></script>
        <script src="~/js/jquery.bootstrap-modal-confirm.js"></script>

        <script src="~/js/jquery.bootstrap-modal-alert.js"></script>*@


    <script>


        $(function() {


            // DataTable
            var table = $('#candidatestable').DataTable({
                    @*"proccessing": true,
                    "serverSide": true,
                    "ajax": {
                        url: "@Url.Action("Index", "Candidates")",
                        type: 'POST'
                    },*@
                    paging: false,
                    ordering: false,
                    language: {
                        url: '@localization'
                    },
                    //"lengthChange": false,
                    "searching": false,
                    "responsive": {
                        details: true
                    },
                    //"scrollX": true,
                    "scrollCollapse": true,
                    //"columnDefs": [
                    //    { className: "td-text-left", targets: "_all" },
                    //    { width: "100px", targets: [0] },
                    //    { width: "100px", targets: [1] },
                    //    { width: "130px", targets: [2] },
                    //    { width: "60px", targets: [3, 4, 5, 6, 7] },
                    //    //{ width: "60px", targets: [5] },
                    //    //{ width: "200px", targets: [6] },
                    //    //{ width: "60px", targets: [7, 8] },
                    //    //{ width: "250px", targets: [9] },
                    //    //{ width: "100px", targets: [10, 11, 12] },
                    //    //{ width: "150px", targets: [13] },
                    //    //{ width: "150px", targets: [14] },
                    //    //{ width: "50px", targets: [6, 7] },
                    //    { width: "80px", targets: [8] },
                    //    { width: "80px", targets: [9, 10, 11] },
                    //    //{ width: "150px", targets: [12] },
                    //    /*{ width: "100px", targets: [13] },*/
                    //]
                })
                .columns.adjust()
                .responsive.recalc();


            $('#DateRange').daterangepicker({
                    ranges: {
                        '@sharedLocalizer["Last 7 Days"]': [moment().subtract(6, 'days'), moment()],
                        '@sharedLocalizer["Last 30 Days"]': [moment().subtract(29, 'days'), moment()],
                        '@sharedLocalizer["This Month"]': [moment().startOf('month'), moment().endOf('month')],
                        '@sharedLocalizer["Last Month"]': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                        '@sharedLocalizer["This Quarter"]': [moment().subtract(6, 'days'), moment()],
                        '@sharedLocalizer["Last Quarter"]': [moment().subtract(29, 'days'), moment()],
                        '@sharedLocalizer["This Year"]': [moment().startOf('year'), moment().endOf('year')],
                        '@sharedLocalizer["Last Year"]': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                    },
                    locale: {
                        "format": "MM/DD/YYYY",
                        "separator": " - ",
                        "applyLabel": "@sharedLocalizer["Apply"]",
                        "cancelLabel": "@sharedLocalizer["Cancel"]",
                        "fromLabel": "@sharedLocalizer["From"]",
                        "toLabel": "@sharedLocalizer["To"]",
                        "customRangeLabel": "@sharedLocalizer["Custom"]",
                        "weekLabel": "@sharedLocalizer["W"]",
                        "daysOfWeek": [
                            "@sharedLocalizer["Su"]",
                            "@sharedLocalizer["Mo"]",
                            "@sharedLocalizer["Tu"]",
                            "@sharedLocalizer["We"]",
                            "@sharedLocalizer["Th"]",
                            "@sharedLocalizer["Fr"]",
                            "@sharedLocalizer["Sa"]"
                        ],
                        "monthNames": [
                            "@sharedLocalizer["January"]",
                            "@sharedLocalizer["February"]",
                            "@sharedLocalizer["March"]",
                            "@sharedLocalizer["April"]",
                            "@sharedLocalizer["May"]",
                            "@sharedLocalizer["June"]",
                            "@sharedLocalizer["July"]",
                            "@sharedLocalizer["August"]",
                            "@sharedLocalizer["September"]",
                            "@sharedLocalizer["October"]",
                            "@sharedLocalizer["November"]",
                            "@sharedLocalizer["December"]"
                        ],
                        "firstDay": 1
                    },
                    autoUpdateInput: false,
                }
            );

            $('#DateRange').on('apply.daterangepicker',
                function(ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));

                });

            $('#DateRange').on('cancel.daterangepicker',
                function (ev, picker) {
                    $(this).val('');
                });

            //$('#Paging_ItemsPerPage').on('change', function () {


            //});

            //.fixedColumns().relayout();

            //$('#table-filter').on('change', function () {
            //    debugger;

            //    var selectedColumn = $(this).val();
            //    var keySearch = $('#search').val();
            //    switch (selectedColumn) {
            //        case '0':
            //            table
            //                .column(0)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '1':
            //            table
            //                .column(1)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '2':
            //            table
            //                .column(2)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '4':
            //            table
            //                .column(4)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '5':
            //            table
            //                .column(5)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '6':
            //            table
            //                .column(6)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '7':
            //            table
            //                .column(7)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '8':
            //            table
            //                .column(8)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '9':
            //            table
            //                .column(9)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '10':
            //            table
            //                .column(10)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '11':
            //            table
            //                .column(11)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        case '12':
            //            table
            //                .column(12)
            //                .search(keySearch)
            //                .draw();
            //            break;
            //        default:
            //            table
            //                .search(keySearch)
            //                .draw();
            //    }

            //});


            //$('#search').on('keyup', function () {
            //    var selectedColumn = $('#table-filter').val();
            //    debugger;
            //    switch (selectedColumn) {
            //        case '0':
            //            table
            //                .column(0)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '1':
            //            table
            //                .column(1)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '2':
            //            table
            //                .column(2)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '4':
            //            table
            //                .column(4)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '5':
            //            table
            //                .column(5)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '6':
            //            table
            //                .column(6)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '7':
            //            table
            //                .column(7)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '8':
            //            table
            //                .column(8)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '9':
            //            table
            //                .column(9)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '10':
            //            table
            //                .column(10)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '11':
            //            table
            //                .column(11)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        case '12':
            //            table
            //                .column(12)
            //                .search(this.value)
            //                .draw();
            //            break;
            //        default:
            //            table
            //                .search(this.value)
            //                .draw();
            //    }

            //});

        });
    </script>
}
