﻿@model Candidate

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{
    var sharedLocalizer = HtmlLocalizerFactory.Create(
                baseName: "SharedResource",
                location: "HRMNet");

    var localization = CultureInfo.CurrentCulture.Name == "tr-TR" ? "https://cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json" : "";

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Invited Candidate"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="candidatetable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:100px;">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telephone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Positions)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VitelcoDocs)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerDocs)
                                    </th>
                                    <th style="width:100px;">
                                        @Html.DisplayNameFor(model => model.CustomerId)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="ApproveStat-@Model.Id">

                                    @{
                                        string positions = "";
                                        Model.CandidatePositions.Select(x => x.Position).ToList().ForEach(x => positions += x.PositionName + " ");
                                    }
                                    <form method="post" style="display:inline-block;"
                                          asp-controller="Candidates"
                                          asp-action="SendingAttachment"
                                          role="form">
                                    <td style="width:100px;">
                                        @Html.DisplayFor(modelItem => Model.Name) @Html.DisplayFor(modelItem => Model.Family)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => Model.Telephone)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.Email)</td>
                                    <td>@positions</td>
                                    <td>@Html.DisplayFor(modelItem => Model.VitelcoDocs)</td>
                                    <td><input asp-for="CustomerDocs" /></td>
                                    <td style="width:100px;">@Html.DropDownListFor(x => x.CustomerId, new SelectList(ViewBag.Customers, "Id", "Name"), " Select ...", new { @class = "form-control", @disabled = true })</td>
                                    <td>
                                        <input name="id" value="@Model.Id" type="hidden" />
                                        @*<input type="checkbox" calss="IsChecked" name="vdocs" /> Vitelco Docs
                                            <input type="checkbox" calss="IsChecked" name="cdocs" /> Customer Docs*@
                                        <button type="submit" class="btn btn-success">@sharedLocalizer["Send Email"] </button>


                                    </td>
                                    </form>

                                </tr>


                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $('#candidatetable').DataTable({
            language: {
                url: '@localization'
            },
            "paging": false,
            //"lengthChange": true,
            "searching": false,
            "ordering": false,
            "info": false,
            //"autoWidth": true,
            //"responsive": {
            //    details: true
            //},
            "scrollX": true,
            "scrollCollapse": true,
        });
    </script>

    <script>
        $(function () {
            $("#CustomerDocs").click(function () {
                if ($(this).is(":checked")) {
                    $("#CustomerId").prop("disabled", false);
                } else {
                    $("#CustomerId").prop("disabled", true);
                }
            });

        });
    </script>

}
