﻿@model IEnumerable<HRMNet.Models.Common.Feature>
@{var featurecounter = 0;}
<table id="featurestable" class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>@Html.DisplayNameFor(model => model.FeatureName)</th>
            <th>@Html.DisplayNameFor(model => model.CreatorId)</th>
            <th>@Html.DisplayNameFor(model => model.ModifierId)</th>
            <th>@Html.DisplayNameFor(model => model.ModifiedDateTime)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input asp-for="@item.FeatureName" name="[@featurecounter].FeatureName" class="form-control" readonly="readonly" />
                    </td>
                    <td>
                        <input asp-for="@item.CreatorId" name="[@featurecounter].CreatorId" class="form-control" readonly="readonly" />
                    </td>

                    <td>
                        <input asp-for="@item.ModifierId" name="[@featurecounter].ModifierId" class="form-control" readonly="readonly" />

                    </td>
                    <td>
                        <input asp-for="@item.CreatedDateTime" name="[@featurecounter].CreatedDateTime" class="form-control" readonly="readonly" />

                    </td>

                    <td>
                        <a class="deleteItem" href="#" data-itemId="@item.Id">Remove</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>