﻿@model IEnumerable<HRMNet.Models.Common.Position>

@{var positioncounter = 0;}
<table id="positionstable" class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>@Html.DisplayNameFor(model => model.PositionName)</th>
            <th>@Html.DisplayNameFor(model => model.CreatorId)</th>
            <th>@Html.DisplayNameFor(model => model.ModifierId)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedDateTime)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input asp-for="@item.PositionName" name="[@positioncounter].PositionName" class="form-control" readonly="readonly" />
                    </td>
                    <td>
                        <input asp-for="@item.CreatorId" name="[@positioncounter].CreatorId" class="form-control" readonly="readonly" />
                    </td>

                    <td>
                        <input asp-for="@item.ModifierId" name="[@positioncounter].ModifierId" class="form-control" readonly="readonly" />

                    </td>
                    <td>
                        <input asp-for="@item.CreatedDateTime" name="[@positioncounter].CreatedDateTime" class="form-control" readonly="readonly" />
                    </td>

                    <td>
                        <a class="deleteItem" href="#"  data-itemId="@item.Id">Remove</a>
                    </td>
                </tr>

                positioncounter++;
            }
        }

    </tbody>
</table>