﻿@model IEnumerable<Candidate>

@{
    ViewData["Title"] = "Candidate";
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Candidates</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <a asp-action="CreateCandidate" class="btn btn-block btn-primary">Add</a><br />

                            </div>

                        </div>

                        <table id="candidatestable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Telephone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.CurrentWages)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpectedWages)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsHavingCV)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatorId)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifierId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifiedDateTime)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="EditCandidate" asp-route-id="@item.Id">
                                                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Family)
                                                </a>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CurrentWages)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ExpectedWages)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td>@Html.DisplayFor(modelItem => item.IsHavingCV)</td>
                                            <td>@*@Html.DisplayFor(modelItem => item.Creator.DisplayName)*@</td>
                                            <td>@*@Html.DisplayFor(modelItem => item.Modifier.DisplayName)*@</td>

                                            <td>@Html.DisplayFor(modelItem => item.ModifiedDateTime)</td>
                                            <td>
                                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Remove</a>
                                                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                                            </td>

                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(function () {

            $('#candidatestable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": {
                    details: true
                },
                "scrollX": true,
                "scrollCollapse": true,

            });
        });
    </script>
}
