﻿@model Candidate

@{
    ViewData["Title"] = "Candidate";
    var positionCounter = Model.Positions == null || Model.Positions.Count() == 0 ? "0" : Model.Positions.Count().ToString();
    var featureCounter = Model.Features == null || Model.Features.Count() == 0 ? "0" : Model.Positions.Count().ToString();

}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>

        span.field-validation-error {
            color: red;
        }
    </style>

    <link href="~/adminlte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Candidate</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">

                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Family" class="control-label"></label>
                                        <input asp-for="Family" class="form-control" />
                                        <span asp-validation-for="Family" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Telephone" class="control-label"></label>
                                        <input asp-for="Telephone" class="form-control" />
                                        <span asp-validation-for="Telephone" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-4">

                                    <div class="form-group">
                                        <label asp-for="TotalITexperience" class="control-label"></label>
                                        <input asp-for="TotalITexperience" class="form-control" />
                                        <span asp-validation-for="TotalITexperience" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="StartPeriod" class="control-label"></label>
                                        <input asp-for="StartPeriod" class="form-control" />
                                        <span asp-validation-for="StartPeriod" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="CurrentWages" class="control-label"></label>
                                        <input asp-for="CurrentWages" class="form-control" />
                                        <span asp-validation-for="CurrentWages" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="ExpectedWages" class="control-label"></label>
                                        <input asp-for="ExpectedWages" class="form-control" />
                                        <span asp-validation-for="ExpectedWages" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">



                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="SummaryInformation" class="control-label"></label>
                                        <textarea asp-for="SummaryInformation" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="SummaryInformation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsHavingCV" /> @Html.DisplayNameFor(model => model.IsHavingCV)
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <ul class="nav nav-pills">
                                                <li class="nav-item"><a class="nav-link active" href="#positions" data-toggle="tab">Positions</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#features" data-toggle="tab">Features</a></li>

                                            </ul>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div class="active tab-pane" id="positions">
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <a class="btn btn-info" id="addPosition">Add Position</a><br /><br />
                                                            </div>
                                                        </div>
                                                        <partial name="_Positions" model="Model.Positions" />

                                                    </div>
                                                    <!-- /.card-body -->


                                                </div>
                                                <!-- /.tab-pane -->
                                                <div class="tab-pane" id="features">
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <a class="btn btn-info" id="addFeature">Add Feature</a><br /><br />
                                                            </div>

                                                        </div>
                                                        <partial name="_Features" model="Model.Features" />

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.tab-pane -->


                                            </div>
                                            <!-- /.tab-content -->
                                        </div><!-- /.card-body -->
                                    </div>
                                    <!-- /.nav-tabs-custom -->
                                </div>
                            </div>

                            @*<div class="form-group">
                <label for="exampleInputFile">CV</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                    </div>
                </div>
            </div>*@

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" id="submit" class="btn btn-primary">Edit Candidate</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->


            </div>

        </div>
    </div>
</section>

<div id="positionModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @*<h4 class="modal-title">Position</h4>*@
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @*<label asp-for="Name" class="control-label"></label>*@
                    <input id="posName" class="form-control" />
                    @*<span asp-validation-for="Name" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-lg-offset-9">
                        <a id="submitPosition" class="btn btn-default">Add To List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="featureModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @*<h4 class="modal-title">Position</h4>*@
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @*<label asp-for="Name" class="control-label"></label>*@
                    <input id="feaName" class="form-control" />
                    @*<span asp-validation-for="Name" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-lg-offset-9">
                        <a id="submitFeature" class="btn btn-default">Add To List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/adminlte/plugins/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            var positionCounter =@positionCounter;
            var featureCounter = @featureCounter;

            $("#addPosition").click(function (e) {
                e.preventDefault();
                $('#positionModal').modal('show');
            });

            $("#addFeature").click(function (e) {
                e.preventDefault();
                $('#featureModal').modal('show');
            });

            $("#submitPosition").click(function (e) {
                e.preventDefault();

                if ($.trim($("#posName").val()) == "") return;


                var name = $("#posName").val();
                var item = '<tr><td><input id="[' + positionCounter + '].PositionName" name="[' + positionCounter + '].PositionName" value="' + name + '" autocomplete="off" required /></td><td></td><td></td><td></td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
                tableBody = $("#positionstable tbody");
                tableBody.append(item);
                positionCounter += 1;
                clearItem();


            });

            function deletePositionItem(id) {
                debugger;
                return $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeletePosition", "Home", new { area = "" })',
                    data: "id=" + id + ",candidateId=" +@Model.Id
                });
            }

            $("#submitFeature").click(function (e) {
                e.preventDefault();

                if ($.trim($("#feaName").val()) == "") return;


                var name = $("#feaName").val();
                var item = '<tr><td><input id="[' + featureCounter + '].FeatureName" name="[' + featureCounter + '].FeatureName" value="' + name + '" autocomplete="off" required /></td><td></td><td></td><td></td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
                tableBody = $("#featurestable tbody");
                tableBody.append(item);
                featureCounter += 1;
                clearItem();
            });

            function clearItem() {
                $("#posName").val('');
                $("#feaName").val('');
            }


            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                var $self = $(this);

                    $(this).parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                        $(this).remove();
                    });

            });

            $('.deletePosition').click(function () {

                var id = $(this).attr('data-itemid')
                var $self = $(this);

                $.ajax
                    ({
                        url: '@Url.Action("DeletePosition", "Home")',
                        data: { "id": id, "candidateId": @Model.Id },
                        type: 'post',
                        success: function (result) {

                            if (result == "Ok") {
                                $self.parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                                    $(this).remove();
                                });
                            }
                            else {
                                alert("An Error Happend.");
                            }


                        },
                        error: function (xhr, status, error) {
                            alert(xhr.status);
                            alert(xhr.responseText);
                        },
                        failure: function (response) {
                            alert("Failture");
                        }


                    });
            });





        });
    </script>

}
