﻿@model string

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet");
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">@sharedLocalizer["Error"]</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i>@sharedLocalizer["An Error Occured."] </h3>
            @if (string.IsNullOrWhiteSpace(Model))
            {
                <p>
                    @sharedLocalizer["An error occured. Please contact site admin."]
                </p>
            }
            else
            {
                <p>
                    @Model
                </p>
            }

        </div>
    </div>
    <!-- /.error-page -->

</section>
