﻿@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
       baseName: "SharedResource",
       location: "HRMNet");
}
<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">@sharedLocalizer["Page not found"]</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i>@sharedLocalizer["Page not found."] </h3>

            <p>
                @sharedLocalizer["Your requested page not found. Please call site admin."]
            </p>
        </div>
    </div>
    <!-- /.error-page -->

</section>