﻿@model HRMNet.Models.Candidates.Title

@{
    ViewData["Title"] = "Create";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
        location: "HRMNet"); }


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Users Titles"]</h3>
                    </div>
                    <div class="card-body">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Target" class="control-label"></label>
                                        <input asp-for="Target" class="form-control" />
                                        <span asp-validation-for="Target" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="@sharedLocalizer["Create"]" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">

                        <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}