﻿@model HRMNet.Models.Candidates.Title

@{
    ViewData["Title"] = "Details";
}

@inject IHtmlLocalizerFactory HtmlLocalizerFactory
@{ var sharedLocalizer = HtmlLocalizerFactory.Create(
        baseName: "SharedResource",
       location: "HRMNet"); }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@sharedLocalizer["Detail"]</h3>
                    </div>
                    <div class="card-body">

                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Target)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Target)
                            </dd>

                        </dl>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <a asp-action="Edit" asp-route-id="@Model.Id">@sharedLocalizer["Edit"]</a> |
                            <a asp-action="Index">@sharedLocalizer["Back to List"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

